{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.year) }}
    {%  include 'admin/dossier/shared/snippets/departments-field.html.twig' with {'formField': form.departments} %}
    {{ form_row(form.subject) }}
    {{ form_row(form.internal_reference) }}

    {% if form.children.dossier_nr is defined %}
        {{ form_row(form.dossier_nr) }}
    {% elseif dossier.dossierNr %}
        <div class="bhr-form-row">
            {% if form.children.dossierNr is not defined %}
                <h2 class="bhr-label">{{ 'global.ref_number' | trans }}</h2>
            {% endif %}
            {{ dossier.dossierNr }}
        </div>
    {% endif %}
{{ form_end(form) }}
