{% extends 'admin/base.html.twig' %}

{% set page_title = 'global.sign_in.instructions' | trans() %}

  {% if mode == "created" %}
      {% set user_info = "admin.account.created" %}
  {% elseif mode == "modified" %}
      {% set user_info = "admin.account.updated" %}
  {% endif %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        <h1 class="bhr-title screen:text-center mb-10 print:mb-4">{{ page_title ~ " " ~ user.name }}</h1>
        <div class="bhr-card">
            <div class="bhr-content">
                <div class="py-6 px-8 bg-bhr-chinese-white mb-8" data-e2e-name="user-info">
                    <twig:Admin:Icon name="check-rounded-filled" color="fill-bhr-japanese-laurel" size="32" />
                    <strong class="text-lg ml-3">{{ user_info | trans() }}</strong>
                </div>
                <div class="bhr-form-row">
                    <p class="bhr-label">{{ 'admin.account.instructions' | trans() }}</p>
                    <a href="{{ path('app_admin_user_pdf') }}">
                        <button type="button" class="bhr-button bhr-button--fixed-width mr-4 bhr-button--primary">
                            {{ 'admin.account.instructions_download' | trans() }}</button>
                    </a>

                </div>
                <div class="bhr-form-row">
                    <p class="bhr-label">{{ 'admin.account.instructions.shared' | trans() }}</p>
                    <span class="bhr-form-help text-lg pb-2 block">
                        {{ 'admin.account.instructions.caution' | trans() }}</span>
                    <a href="{{ path('app_admin_users') }}">
                        <button type="button" class="bhr-button bhr-button--fixed-width mr-4 bhr-button--secondary">
                            {{ 'admin.account.instructions.confirmation' | trans() }}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
