{% extends 'admin/base.html.twig' %}

{% set page_title = 'global.sign_in.instructions' | trans() %}

  {% if mode == "created" %}
      {% set user_info = "admin.account.created" %}
  {% elseif mode == "modified" %}
      {% set user_info = "admin.account.updated" %}
  {% endif %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        <h1 class="bhr-title mb-10 print:mb-4 print:text-left">{{ page_title ~ " " ~ user.name }}</h1>

        <div class="bhr-card">
            <div data-e2e-name="user-info">
                <twig:Admin:Alert type="success">
                    {{ user_info | trans }}
                </twig:Admin:Alert>
            </div>

            <div class="pt-8">
                <p class="bhr-label">{{ 'admin.account.instructions' | trans }}</p>

                <div class="pt-2">
                    <a class="bhr-btn-filled-primary" href="{{ path('app_admin_user_pdf') }}" data-e2e-name="download-instructions">
                        {{ 'admin.account.instructions_download' | trans }}
                    </a>
                </div>
            </div>

            <div class="pt-8">
                <p class="bhr-label">{{ 'admin.account.instructions.shared' | trans }}</p>
                <p class="bhr-form-help block">{{ 'admin.account.instructions.caution' | trans }}</p>

                <div class="pt-2">
                    <a class="bhr-btn-bordered-primary" href="{{ path('app_admin_users') }}">{{ 'admin.account.instructions.confirmation' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
