{% extends 'base.html.twig' %}

{% set page_title = "User credentials" | trans() %}

{% block body %}
    <div class="row">
        <div class="col-xl-8 offset-xl-2 text-center">

            <section class="mb-5">
                <h1>{{ "User credentials" | trans() }}</h1>
                <p>
                    {{ "E-mail" | trans() }}: {{ user.email }}<br>
                    {{ "Name" | trans() }}: {{ user.name }}
                </p>
            </section>


            <section class="mb-5">
                <h4>{{ "Initial password" | trans() }}</h4>
                <p>{{ "This password is for one-time use. After logging in, you need to change the password." | trans() }}</p>
                <br>
                <span class="border p-3">
                    <strong>{{ password }}</strong>
                </span>
            </section>

            <section class="mb-5">
                <h5>{{ "2fa code" | trans() }}</h5>
                <p>{{ "Scan this code with an authenticator app like Google Authenticator or Authy. During login you will be asked for an authentication code that can be requested via this authenticator app." | trans() }}</p>
                <img class="img img-fluid" width="40%" src="{{ qrcode }}" />
            </section>

            <section class="mb-5">
                <h4>{{ "2fa recovery codes" | trans() }}</h4>
                <p>{{ "If you can't log in with your authenticator app, you can use one of the following codes to log in. These codes can be used once." | trans() }}</p>
                <ul>
                    {% for code in user.mfaRecovery %}
                        <li>{{ code }}</li>
                    {% endfor %}
                </ul>
            </section>

            <div x-data class="d-print-none mb-5">
                 <button @click="window.print()" class="button" >{{ "Print this page" | trans() }}</button>
            </div>
        </div>
    </div>

{% endblock %}

