{% extends 'admin.html.twig' %}

{% set page_title = "User credentials" | trans() %}

{% block body %}
<div class="woo-container woo-container--sm">
    <h1 class="woo-title text-center mb-10">{{ page_title }}</h1>

    <div class="woo-card">
        <table class="woo-table">
            <tbody>
                <tr>
                    <th class="woo-row-head w-48" scope="row">{{ "E-mail" | trans() }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="woo-row-head w-48" scope="row">{{ "Name" | trans() }}</th>
                    <td>{{ user.name }}</td>
                </tr>
            </tbody>
        </table>

        <div class="mt-12 woo-content">
            <h2 class="woo-title-sm mb-4">{{ "Initial password" | trans() }}</h2>

            <p class="italic">{{ "This password is for one-time use. After logging in, you need to change the password." | trans() }}</p>

            <table class="woo-table">
                <tbody>
                    <tr>
                        <th class="woo-row-head w-48" scope="row">{{ "Password" | trans() }}</th>
                        <td>{{ password }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-12 woo-content">
            <h2 class="woo-title-sm mb-4">{{ "2fa code" | trans() }}</h2>

            <p>{{ "Scan this code with an authenticator app like Google Authenticator or Authy. During login you will be asked for an authentication code that can be requested via this authenticator app." | trans() }}</p>

            <img class="max-w-xs mx-auto" src="{{ qrcode }}" alt="qr code" />
        </div>

        <div class="mt-12 woo-content">
            <h2 class="woo-title-sm mb-4">{{ "2fa recovery codes" | trans() }}</h2>

            <p>{{ "If you can't log in with your authenticator app, you can use one of the following codes to log in. These codes can be used once." | trans() }}</p>

            <ul>
                {% for code in user.mfaRecovery %}
                    <li>{{ code }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-12">
            <button class="woo-button woo-button--primary" onclick="window.print()">{{ "Print this page" | trans() }}</button>
        </div>
    </div>
</div>
{% endblock %}

