{% extends 'admin.html.twig' %}

{% set page_title = 'global.sign_in.instructions' | trans() %}

{% block body %}
<div class="screen:bhr-container screen:bhr-container--sm">
    <h1 class="bhr-title screen:text-center mb-10 print:mb-4">{{ page_title ~ " " ~ user.name }}</h1>

    <div class="screen:bhr-card">
        <div class="bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-0">{{ 'admin.global.platform_title' | trans() }}</h2>

            <p>{{ 'admin.global.platform_explanation' | trans() }}</p>
        </div>

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ 'global.sign_in.page' | trans() }}</h2>

            <p>{{ url('app_admin_index') }}</p>
        </div>

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ 'global.email.capital' | trans() }}</h2>

            <p class="bhr-value">{{ user.email }}</p>
        </div>

        {% if password is not empty %}
        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ 'global.password_temporary' | trans() }}</h2>

            <p>{{ 'global.password_temporary.explanation' | trans() }}</p>

            <p class="bhr-value" data-e2e-name="user-password">{{ password }}</p>
        </div>
        {% endif %}

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ 'auth.set_up.title' | trans() }}</h2>

            <div class="flex">
                <figure>
                    <figcaption>{{ 'auth.set_up.title' | trans() }}</figcaption>
                    <ol class="list-decimal mr-10">
                        <li>{{ 'auth.set_up.bullet-1' | trans() }}</li>
                        <li>{{ 'auth.set_up.bullet-2' | trans() }}</li>
                        <li>{{ 'auth.set_up.bullet-3' | trans() }}</li>
                        <li>{{ 'auth.set_up.bullet-4' | trans() }}</li>
                        <li>{{ 'auth.set_up.bullet-5' | trans() }}</li>
                    </ol>
                </figure>
                <img class="w-1/4 h-full" src="{{ qrcode }}" alt="qr code" id="QR-code" />
            </div>
        </div>

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ 'auth.set_up.recovery.title' | trans() }}</h2>

            <p>{{ 'auth.set_up.recovery.description' | trans() }}</p>

            {% for key, code in user.mfaRecovery %}
                <p class="bhr-value print:!mb-0 print:border-0 print:pl-0 {{ key > 0 ? 'print:border-t' : '' }}">{{ code }}</p>
            {% endfor %}
        </div>

        <div class="mt-12 print:hidden">
            <button class="bhr-button bhr-button--primary js-print-page">{{ 'global.print_page' | trans() }}</button>
        </div>
    </div>
</div>
{% endblock %}

