{% extends 'admin.html.twig' %}

{% set page_title = "Login instructions for"| trans() %}

{% block body %}
<div class="screen:bhr-container screen:bhr-container--sm">
    <h1 class="bhr-title screen:text-center mb-10 print:mb-4">{{ page_title ~ " " ~ user.name }}</h1>

    <div class="screen:bhr-card">
        <div class="bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-0">{{ "Management platform woo publications Ministry of Health, Welfare and Sport" | trans() }}</h2>

            <p>{{ "You need these instructions to activate your account for the management platform." | trans() }}</p>
        </div>

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ "Login page" | trans() }}</h2>

            <p>{{ url('app_admin_index') }}</p>
        </div>

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ "E-mail address" | trans() }}</h2>

            <p class="bhr-value">{{ user.email }}</p>
        </div>

        {% if password is not empty %}
        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ "Temporary password" | trans() }}</h2>

            <p>{{ "This password is for one-time use. After logging in, you need to change the password." | trans() }}</p>

            <p class="bhr-value">{{ password }}</p>
        </div>
        {% endif %}

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ "Set up authenticator app" | trans() }}</h2>

            <div class="flex">
                <figure>
                    <figcaption>{{ 'Set up authentication app'|trans }}</figcaption>
                    <ol class="list-decimal mr-10">
                        <li>Download en installeer de Google Authenticator of Authy app op je telefoon. Je vindt deze in de App Store of Play Store.</li>
                        <li>Open de app en tik op '+'.</li>
                        <li>Scan de QR-code hiernaast</li>
                        <li>Volg de instructies op het scherm</li>
                        <li>Je hebt de app nodig als je gaat inloggen</li>
                    </ol>
                </figure>
                <img class="w-1/4 h-full" src="{{ qrcode }}" alt="qr code" />
            </div>
        </div>

        <div class="mt-12 print:mt-5 bhr-content">
            <h2 class="bhr-title-sm mb-2 print:mb-1">{{ "Recovery codes" | trans() }}</h2>

            <p>{{ "If you can't log in with your authenticator app, you can use one of the following codes to log in. These codes can be used once." | trans() }}</p>

            {% for key, code in user.mfaRecovery %}
                <p class="bhr-value print:!mb-0 print:border-0 print:pl-0 {{ key > 0 ? 'print:border-t' : '' }}">{{ code }}</p>
            {% endfor %}
        </div>

        <div class="mt-12 print:hidden">
            <button class="bhr-button bhr-button--primary js-print-page">{{ "Print this page" | trans() }}</button>
        </div>
    </div>
</div>
{% endblock %}

