{% extends 'admin.html.twig' %}

{% set page_title = "Modify user {name}" | trans({'name': user.name}) %}

{% block body %}
<div class="woo-container woo-container--sm">
    <h1 class="woo-title mb-10">{{ user.name }}</h1>

    <div class="px-11">
        <div class="woo-card">
            <h2 class="woo-title-sm mb-4">{{ "User information" | trans() }}</h2>

            {% if not user.enabled %}
            <div class="mb-4">
                <twig:Alert type="info">
                    {{ "This user is currently disabled." | trans() }}
                </twig:Alert>
            </div>
            {% endif %}

            {{ form(user_info) }}
        </div>

        <div class="woo-card mt-10">
            <h2 class="woo-title-sm mb-4">{{ "Access roles" | trans() }}</h2>

            {{ form(user_roles) }}
        </div>

        {% if user.enabled %}
        <div class="woo-card mt-10">
            <h2 class="woo-title-sm mb-4">{{ "Disable user" | trans() }}</h2>

            {{ form(user_disable) }}
        </div>
        {% else %}
        <div class="woo-card mt-10">
            <h2 class="woo-title-sm mb-4">{{ "Enable user" | trans() }}</h2>

            {{ form(user_enable) }}
        </div>
        {% endif %}

        <div class="woo-card mt-10">
            <h2 class="woo-title-sm mb-4">{{ "Reset credentials" | trans() }}</h2>

            {{ form(user_reset) }}
        </div>
    </div>
</div>
{% endblock %}
