{% extends 'admin.html.twig' %}

{% set page_title = "Modify user {name}" | trans({'name': user.name}) %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        <h1 class="bhr-title mb-10">{{ user.name }}</h1>

        <div class="px-11">
            <div class="bhr-card">
                <twig:Admin:LeftAndRight>
                    <h2 class="bhr-title-sm">{{ "User information" | trans }}</h2>

                    <twig:block name="right">
                        {% if user.enabled %}
                            {{ form_start(user_disable) }}
                            {{ form_errors(user_disable) }}
                            <button
                                class="bhr-button bhr-button--secondary"
                                id="{{ user_disable.submit.vars.id }}"
                                name="{{ field_name(user_disable.submit) }}"
                                type="submit"
                            >{{ "Deactivate account" | trans }}</button>
                            {{ form_end(user_disable) }}
                        {% else %}
                            {{ form_start(user_enable) }}
                            {{ form_errors(user_enable) }}
                            <button
                                class="bhr-button bhr-button--secondary"
                                id="{{ user_enable.submit.vars.id }}"
                                name="{{ field_name(user_enable.submit) }}"
                                type="submit"
                                >{{ "Activate account" | trans }}</button>
                            {{ form_end(user_enable) }}
                        {% endif %}
                    </twig:block>
                </twig:Admin:LeftAndRight>

                {% if not user.enabled %}
                    <div class="my-4">
                        <twig:Admin:Alert type="info">
                            {{ "This user is currently disabled." | trans() }}
                        </twig:Admin:Alert>
                    </div>
                {% endif %}

                {{ form_start(user_info) }}
                {{ form_errors(user_info) }}

                <div class="bhr-form-row">
                    {{ form_row(user_info.name) }}
                </div>

                <div class="bhr-form-row">
                    <h3 class="bhr-label">{{ user_info.email.vars.label | default('E-mailadres') }}</h3>

                    {{ form_help(user_info.email) }}
                    <p><strong>{{ field_value(user_info.email) }}</strong></p>
                    {% do user_info.email.setRendered %}
                </div>

                <h2 class="bhr-title-sm mb-4">{{ "Access roles" | trans() }}</h2>
                {{ form_row(user_info.roles) }}

                {{ form_end(user_info) }}
            </div>

            <div class="bhr-card mt-10">
                <h2 class="bhr-title-sm mb-6">{{ "Help with login problems?" | trans() }}</h2>

                <div class="bhr-form-row">
                    {{ form_start(user_reset_password, {'attr': {'id': 'form_reset_password'}}) }}
                    {% do user_reset_password.reset_2fa.setRendered %}
                    {{ form_row(user_reset_password.reset_pw) }}
                    <h3 class="bhr-label">{{ "Forgot your password?" | trans }}</h3>
                    <p class="bhr-form-help">{{ "Reset the password. You will receive new login instructions that allow the user to choose a new password themselves." | trans }}</p>
                    {{ form_row(user_reset_password.submit, {
                        'label': 'Reset password',
                        'id': 'reset_credentials_password_form_submit',
                        'attr': {
                            'class': 'bhr-button--secondary mt-6 js:hidden'
                        }
                    }) }}
                    {{ form_end(user_reset_password) }}
                    <button
                        aria-haspopup="dialog"
                        class="bhr-button bhr-button--fixed-width mr-4 bhr-button--secondary mt-6 js-dialog-toggle no-js:hidden"
                        data-dialog-action="open"
                        data-dialog-for="js-reset-password"
                        type="button"
                        data-e2e-name="password-reset-button"
                    >{{ 'Reset password'|trans }}</button>
                </div>

                <div class="bhr-form-row">
                    {{ form_start(user_reset_2fa, {'attr': {'id': 'form_reset_2fa'}}) }}
                    {% do user_reset_2fa.reset_pw.setRendered %}
                    {{ form_row(user_reset_2fa.reset_2fa) }}
                    <h3 class="bhr-label">{{ "New phone or authenticator app?" | trans }}</h3>
                    <p class="bhr-form-help">{{ "Reset the two factor code. You will receive new login instructions that allow the user to reset the two-factor authenticator." | trans }}</p>
                    {{ form_row(user_reset_2fa.submit, {
                        'label': 'Reset 2FA',
                        'id': 'reset_credentials_2fa_form_submit',
                        'attr': {
                            'class': 'bhr-button--secondary mt-6 js:hidden'
                        }
                    }) }}
                    {{ form_end(user_reset_2fa) }}
                    <button
                        aria-haspopup="dialog"
                        class="bhr-button bhr-button--fixed-width mr-4 bhr-button--secondary mt-6 js-dialog-toggle no-js:hidden"
                        data-dialog-action="open"
                        data-dialog-for="js-reset-2fa"
                        type="button"
                        data-e2e-name="2fa-reset-button"
                    >{{ 'Reset 2FA'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <twig:Admin:Dialog id="js-reset-password" title="{{ 'Are you sure?'|trans }}">
        <p class="mb-8 text-lg" data-e2e-name="password-reset-instructions">{{ 'If you continue, you will no longer be able to log in with your old password. You can download your new temporary login instructions on the next page. Make sure you keep this safe.'|trans }}</p>
        <button type="button" class="bhr-button bhr-button--fixed-width mr-4 bhr-button--primary js-click-on-selector" data-e2e-name="password-reset-confirmation-button" data-selector="reset_credentials_password_form_submit">{{ 'Yes, reset the password'|trans }}</button>
        <button type="button" class="bhr-button bhr-button--fixed-width mr-4 bhr-button--secondary js-dialog-toggle" data-dialog-for="js-reset-password" data-dialog-action="close">{{ 'Cancel'|trans }}</button>
    </twig:Admin:Dialog>

    <twig:Admin:Dialog id="js-reset-2fa" title="{{ 'Are you sure?'|trans }}">
        <p class="mb-8 text-lg">{{ 'Resetting the two factor code means that we remove the old two factor code from our system forever. If you request a new two-factor code, make sure you keep it for yourself in a safe manner. If you click \'Yes\' you will receive the new two factor code.'|trans }}</p>
        <button type="button" class="bhr-button bhr-button--fixed-width mr-4 bhr-button--primary js-click-on-selector" data-selector="reset_credentials_2fa_form_submit">{{ 'Yes, reset the two factor code'|trans }}</button>
        <button type="button" class="bhr-button bhr-button--fixed-width mr-4 bhr-button--secondary js-dialog-toggle" data-dialog-for="js-reset-2fa" data-dialog-action="close">{{ 'Cancel'|trans }}</button><div class="js-button-placeholder"></div>
    </twig:Admin:Dialog>
{% endblock %}
