{% extends 'base.html.twig' %}

{% set page_title = "Update your password" | trans() %}

{% block title %}{{ "Update your password" | trans() }}{% endblock %}
{% block body_id %}PasswordForm{% endblock %}

{% block body %}

    <section>
        <div>

            <div class="text-center">
                <img class="mb-4"
                     src="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🦙</text></svg>"
                     alt="" width="72" height="72">

                <h1 class="h3 mb-3 font-weight-normal">{{ "Please update your password" | trans() }}</h1>

                <div class="text-start">
                    <p>{{ "A password should follow the following rules:" | trans() }}</p>
                    <ul>
                        <li>{{ "At least 14 characters" | trans() }}</li>
                        <li>{{ "Should not be a common word" | trans() }}</li>
                        <li>{{ "Does not contain only digits" | trans() }}</li>
                        <li>{{ "May not be similar to your e-mail address" | trans() }}</li>
                    </ul>

                    <p>{{ "We advise using a password manager to generate and store your password." | trans() }}</p>
                </div>

                {{ form(form) }}
            </div>

        </div>
    </section>

{% endblock %}
