{% extends 'admin.html.twig' %}

{% set page_title = "Update your password" | trans() %}

{% block body %}
    <div class="bhr-container bhr-container--xs">
        <div class="bhr-card">
            <h1 class="bhr-title-sm mb-8">{{ page_title }}</h1>
            <div class="text-lg">
                <p>{{ "A password should follow the following rules:" | trans() }}</p>
                <ul class="list-disc list-inside mb-8 pl-3">
                    <li>{{ "At least 14 characters" | trans() }}</li>
                    <li>{{ "Should not be a common word" | trans() }}</li>
                    <li>{{ "Does not contain only digits" | trans() }}</li>
                    <li>{{ "May not be similar to your e-mail address" | trans() }}</li>
                </ul>
            </div>

            {{ form(form) }}

        </div>
    </div>
{% endblock %}

