{% extends 'admin.html.twig' %}

{% set page_title = "Please sign in" | trans() %}

{% block body %}
<div class="woo-container woo-container--xs">
    <div class="woo-card">
        <h1 class="woo-title-sm mb-8">{{ page_title }}</h1>

        <form method="POST" action="{{ path('app_login') }}">
            {% if app.user and is_granted('ROLE_USER')%}
                <twig:Alert type="info">
                    {{ "You are logged in as {name}" | trans({'name': app.user.name|default("unknown user")}) }}.
                    <a class="woo-a woo-a--inherit-color" href="{{ path('app_logout') }}">{{ "Logout" | trans() }}</a>
                </twig:Alert>
            {% else %}

                {% if error %}
                <div class="mb-6">
                    <twig:Alert :hasRole="true" type="danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </twig:Alert>
                </div>
                {% endif %}

                <div class="woo-form-row">
                    <label class="woo-label" for="inputEmail">{{ "E-mail address" | trans() }}</label>
                    <input
                        autocomplete="email"
                        class="woo-input-text"
                        id="inputEmail"
                        name="_username"
                        required
                        type="email"
                        value="{{ last_username }}"
                    >
                </div>


                <div class="woo-form-row">
                    <label class="woo-label" for="inputPassword">{{ "Password" | trans() }}</label>
                    <input
                        autocomplete="current-password"
                        class="woo-input-text"
                        id="inputPassword"
                        name="_password"
                        required
                        type="password"
                    >
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="woo-submit-row">
                    <button class="woo-button woo-button--primary woo-button--full-width" type="submit">{{ "Sign in" | trans() }}</button>
                </div>

                <p class="mt-6 woo-text-muted">{{ "Lost your login details? Please contact the person who gave you access to the platform." | trans() }}</p>
            {% endif %}
      </form>
    </div>
</div>
{% endblock %}
