{% extends 'admin.html.twig' %}

{% set page_title = "Welcome" | trans %}

{% block body %}
<div class="woo-container woo-container--xs">
    <div class="woo-card">
        <h1 class="woo-title-sm mb-8">{{ page_title }}</h1>

        {# Let the user select the authentication method #}
        {% if availableTwoFactorProviders|length > 1 %}
            <p class="mb-6">{{ "choose_provider"|trans() }}:
            {% for provider in availableTwoFactorProviders %}
                <a class="woo-a mr-1" href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
            {% endfor %}
            </p>
        {% endif %}

        <form action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
            {% if authenticationError %}
                <div class="mb-6">
                    <twig:Alert :hasRole="true" type="danger">
                        {{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}
                    </twig:Alert>
                </div>
            {% endif %}

            {% set email = app.user.email ?? '' %}
            {% if email %}
                <p class="mb-6"><strong>{{ email }}</strong></p>
            {% endif %}
                <p class="mb-6">{{ "Open the authenticator app, and enter the one-time verification code for the woo-platform." | trans() }}</p>

            <div class="woo-form-row">
                <label class="woo-label" for="_auth_code">{{ "Code" | trans() }}</label>
                <input
                    autocomplete="off"
                    class="woo-input-text"
                    id="_auth_code"
                    name="{{ authCodeParameterName }}"
                    required
                >
            </div>

            <div class="woo-form-row">
                <button class="woo-button woo-button--primary woo-button--full-width" type="submit">{{ "Controleren" | trans() }}</button>
            </div>

            <p class="mt-6 woo-text-muted">{{ "Having problems with the authentication app? Use a recovery code from the login instructions." | trans() }}</p>

        </form>
    </div>
  </div>

{% endblock %}
