{% extends 'admin.html.twig' %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}

        <div class="px-11">
            <div class="bhr-card">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.date_from) }}
                {{ form_row(form.departments) }}
                {{ form_row(form.internal_reference) }}

                {% if form.children.dossier_nr is defined %}
                    {{ form_row(form.dossier_nr) }}
                {% elseif dossier.dossierNr %}
                    <div class="bhr-form-row">
                        {% if form.children.dossierNr is not defined %}
                            <h2 class="bhr-label">{{ 'Reference number'|trans }}</h2>
                        {% endif %}
                        {{ dossier.dossierNr }}
                    </div>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
