<button
    aria-controls="tab{{ tabNumber }}"
    aria-label="{{ title }}"
    {% if isActive %}
        aria-selected="true"
    {% endif %}
    class="bhr-tab-button"
    data-e2e-name="tab-button-{{ tabNumber }}"
    data-tab-target="#tabcontrol-{{ tabNumber }}"
    id="tabcontrol-{{ tabNumber }}"
    role="tab"
>{{ title }}</button>
