{% extends 'admin.html.twig' %}

{% set page_title = "Statistics & Monitoring" | trans() %}

{% block meta %}
    <meta http-equiv="refresh" content="10"/>
{% endblock %}

{% block body %}
<div class="bhr-container">
    <h1 class="bhr-title mb-6">{{ "Statistics & Monitoring" | trans }}</h1>

    <div class="bhr-card">
        <table class="bhr-table">
            <tbody>
                <tr>
                    <th class="text-left w-56" scope="row">{{ "Dossiers available" | trans }}</th>
                    <td>{{ "global.number_of_dossiers" | trans({'count': dossier_count}) }}</td>
                </tr>
                <tr>
                    <th class="text-left" scope="row">{{ "Documents available" | trans }}</th>
                    <td>{{ "global.number_of_documents" | trans({'count': document_count}) }}</td>
                </tr>
                <tr>
                    <th class="text-left" scope="row">{{ "Total pages" | trans }}</th>
                    <td>{{ "global.number_of_pages" | trans({'count': page_count}) }}</td>
                </tr>
            </tbody>
        </table>

        {% if rabbitmq_stats %}
            <div class="pt-8">
                <table class="bhr-table">
                    <caption class="sr-only">{{ "RabbitMQ stats" | trans() }}</caption>
                    <thead>
                        <tr>
                            <th class="text-left" scope="col">{{ "Node" | trans() }}</th>
                            <th class="text-left" scope="col">{{ 'global.name' | trans() }}</th>
                            <th class="text-right" scope="col">{{ "Messages" | trans() }}</th>
                            <th class="text-right" scope="col">{{ "Msg ready" | trans() }}</th>
                            <th class="text-right" scope="col">{{ "Msg unacknowledged" | trans() }}</th>
                            <th class="text-right" scope="col">{{ "Msg Published" | trans() }}</th>
                            <th class="text-right" scope="col">{{ "Msg Published Rate" | trans() }}</th>
                            <th class="text-right" scope="col">{{ "Msg Delivered" | trans() }}</th>
                            <th class="text-right" scope="col">{{ "Msg Delivered Rate" | trans() }}</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for info in rabbitmq_stats %}
                        <tr>
                            <td>{{ info.node }}</td>
                            <td>{{ info.name }}</td>
                            <td class="text-right">{{ info.messages }}</td>
                            <td class="text-right">{{ info.messages_ready }}</td>
                            <td class="text-right">{{ info.messages_unacknowledged }}</td>
                            <td class="text-right">{{ info.message_stats.publish | default(0) }}</td>
                            <td class="text-right">{{ info.message_stats.publish_details.rate | default(0) }}</td>
                            <td class="text-right">{{ info.message_stats.deliver_get | default(0) }}</td>
                            <td class="text-right">{{ info.message_stats.deliver_get_details.rate | default(0) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <p class="mt-6 text-right text-sm">
                    {{ "Last updated" | trans() }}: {{ "now"|format_datetime('medium') }}
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
