{% extends 'base.html.twig' %}

{% set page_title = 'public.global.label.home' | trans() %}

{% block body %}
    <div class="-mt-8 lg:-mt-16 h-24 md:h-32 lg:h-40 bg-cover bg-center bg-woo-hero"></div>

    <div class="bg-woo-anti-flash-white mx-auto p-4 md:p-6 md:bg-white md:max-w-2xl md:shadow-[0_0_7px_0_rgba(0,0,0,0.25)] md:-mt-12 mb-8 lg:mb-12">
        <twig:Public:SearchForm  />
    </div>

    <div class="woo-container woo-container--sm">
        <div class="pb-8 lg:pb-16">
            {% include "home/snippets/intro.html.twig" %}
        </div>
    </div>

    {% import "facet_macros.html.twig" as macro %}
    <section class="bg-woo-anti-flash-white py-8 lg:py-16">
        <div class="woo-container woo-container--sm pb-10">
            <h2 class="woo-h2 woo-readable-width">{{ 'public.browse.title' | trans | raw }}</h2>
        </div>

        <div class="woo-container">
            <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
                {{ macro.facet_preview('categories.category.type' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::TYPE').value, facets) }}
                {{ macro.facet_preview('categories.category.department' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, facets) }}
                {{ macro.facet_preview('categories.category.grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, facets) }}
            </div>

            <p class="text-center mt-9">
                <twig:Public:ArrowedBoldLink to="{{ path('app_browse') }}">{{ 'categories.label.all-categories' | trans }}</twig:Public:ArrowedBoldLink>
            </p>
        </div>
    </section>

    <section class="pt-8 lg:pt-16">
        <div class="woo-container woo-container--sm">
            <div class="woo-rich-text woo-readable-width">
                {% include "snippets/about-platform.html.twig" %}
            </div>
        </div>
    </section>
{% endblock %}
