{% extends 'base.html.twig' %}

{% set page_title = "About the VWS Woo publication platform" | trans %}

{% block body %}

    <section>
        <div>

            <h1>{{ "About the VWS Woo publication platform" | trans }}</h1>

            <p>
                {{ "On this website you will find documents that the Ministry of Health, Welfare and Sport has made public on the basis of the Open Government Act (Woo). These documents have been made public for requests submitted under the Woo and are about the corona period." | trans() }}
            </p>

            <p>
                {{ "From these documents it can be concluded how VWS has tackled the corona fight in collaboration with other ministries, institutions and organizations. Anyone can submit a request to make documents public under the Woo. Documents are still being added." | trans() }}
            </p>

            <p>
                {{ "The published documents of the Ministry of Health, Welfare and Sport can currently still be found on various websites:" | trans() }}
            </p>

            <ul>
                <li>{{ "General decisions (not related to COVID-19) of the Ministry of Health, Welfare and Sport can be found on <a href='https://www.rijksoverheid.nl'>rijksoverheid.nl</a>" | trans() | raw }}</li>
                <li>{{ "COVID-19 related decisions from before September 1, 2023 can be found on <a href='https://wobcovid19.rijksoverheid.nl'>wobcovid19.rijksoverheid.nl</a>" | trans() | raw}}</li>
                <li>{{ "COVID-19 related decisions after September 1, 2023 can be found on this website" | trans() }}</li>
            </ul>

            <p>
                {{ "On OpenVWS, the documents are more accessible and searchable. We are working hard to make the documents from <a href='https://wobcovid19.rijksoverheid.nl'>wobcovid19.rijksoverheid.nl</a> available on this platform as well." | trans() | raw }}
            </p>

            <h2 class="leading-tight">{{ "Submit a freedom of information request" | trans() }}</h2>

            <p>
                {{ "You may request information about what the government does. This is stated in the <a href='https://www.rijksoverheid.nl/onderwerpen/wet-open-overheid-woo'>Open Government Act (Woo)</a>. You do this via a Woo request. Good to know in advance:" | trans() | raw }}
            </p>

            <ul>
                <li>
                    {{ "Before making a request, check if the information you are looking for is already public. Check, for example, <a href='https://www.rijksoverheid.nl/documenten'>rijksoverheid.nl</a>, <a href='https://wobcovid19.rijksoverheid.nl/'>wobcovid19.rijksoverheid.nl</a>, <a href='https://zoek.officielebekendmakingen.nl/uitbeddenzoeken/parlementair'>the archive of the Senate and the House of Representatives</a> or <a href='https://open.overheid.nl/'>open.overheid.nl</a>." | trans() | raw }}
                </li>
                <li>
                    {{ "Check which government organization you should submit the request to. Do you have a request for the Ministry of Health, Welfare and Sport (VWS):" | trans() | raw }}
                    <ul>
                        <li>{{ "and is it about the COVID-19 period? See the page <a href='https://www.rijksoverheid.nl/ministeries/ministerie-van-volksgezondheid-welzijn-en-sport/contact/aanpak-vws-woo-verzoeken-corona'>Approach VWS Woo requests corona;</a>" | trans() | raw }}</li>
                        <li>{{ "for other requests, see the page Submitting a <a href='https://www.rijksoverheid.nl/ministeries/ministerie-van-volksgezondheid-welzijn-en-sport/contact/woo-verzoek-indienen'>Woo request to the Ministry of Health, Welfare and Sport.</a>" | trans() | raw }}</li>
                    </ul>
{#                    {{ "Check which government organization you should submit the request to. Do you have a request for the Ministry of VWS? <a href='https://www.rijksoverheid.nl/ministeries/ministerie-van-volksgezondheid-welzijn-en-sport/contact/woo-vragen-vragen'>Send the request to us</a>." | trans() | raw }}#}
                </li>
                <li>
                    {{ "Please indicate as precisely as possible what information you are looking for. About what subject, with what people involved, from what period?" | trans() | raw }}
                </li>
                <li>
                    {{ "After submitting your request, the ministry may call you with some additional questions. It is therefore useful if you also provide your telephone number with the request." | trans() | raw }}
                </li>
            </ul>


        </div>
    </section>
{% endblock %}
