{% extends 'base.html.twig' %}

{% set page_title = 'public.about.oga' | trans %}

{% block body %}
<div class="woo-container woo-container--sm">
    <div class="woo-rich-text woo-readable-width">
        <h1>{{ 'public.about.oga' | trans }}</h1>

        <p>
            {{ 'public.about.oga.paragraph-1' | trans() }}
        </p>

        <p>
            {{ 'public.about.oga.paragraph-2' | trans() }}
        </p>

        <p>
            {{ 'public.about.oga.paragraph-3' | trans() }}
        </p>

        <ul>
            <li>{{ 'public.about.oga.bullet-1' | trans() | raw }}</li>
            <li>{{ 'public.about.oga.bullet-2' | trans() | raw }}</li>
        </ul>

        {% include "home/snippets/info.html.twig" %}
    </div>
</div>
{% endblock %}
