{% extends 'base.html.twig' %}

{% set page_title = "Accessibility" | trans() %}

{% block body %}
<div class="woo-container woo-container--sm">
    <div class="woo-rich-text woo-readable-width">
        <h1>{{ "Accessibility" | trans() }}</h1>

        <p>
            {{ "public.accessibility.introduction" | trans() | raw }}
        </p>

        <p class="flex flex-col">
            <span>{{ "public.accessibility.statement" | trans() | raw }}</span>
            <span>{{ "public.accessibility.downloadreport" | trans() | raw }}</span>
        </p>

        <h2>{{ "accessibility.title.whatisaccessibility" | trans() }}</h2>

        <p>{{ "public.accessibility.text.whatisaccessibility" | trans() | raw  }}</p>

        <h2>{{ "accessibility.title.howtokeepaccessibility" | trans() }}</h2>

        <p>{{ "accessibility.text.guarantees" | trans() }}</p>

        <ul>
            <li>{{ "accessibility.list.guarantees.bullet.01" | trans() }}</li>
            <li>{{ "accessibility.list.guarantees.bullet.02" | trans() }}</li>
            <li>{{ "accessibility.list.guarantees.bullet.03" | trans() }}</li>
        </ul>
    </div>
</div>
{% endblock %}
