{% extends 'base.html.twig' %}

{% set page_title = 'Copyright' | trans %}

{% block body %}
<div class="woo-container woo-container--sm">
    <div class="woo-rich-text woo-readable-width">
        <h1>{{ 'Copyright' | trans }}</h1>
        <p>
            {{ 'public.copyright.paragraph-1' | trans }}
        </p>
        <p>
            {{ 'public.copyright.paragraph-2' | trans }}
        </p>
        <p>
            {{ 'public.copyright.paragraph-3' | trans }}
        </p>
        <ul>
            <li>{{ 'public.copyright.bullet-1' | trans }}</li>
            <li>{{ 'public.copyright.bullet-2' | trans }}</li>
        </ul>
    </div>
</div>
{% endblock %}
