{% extends 'base.html.twig' %}

{% set page_title = "Copyright" | trans %}

{% block body %}
    <section>
        <div>

            <h1>{{ "Copyright" | trans }}</h1>
            <p>
                {{ "Anyone may reuse the information on this website under the Reuse of Government Information Act, unless otherwise indicated." | trans }}
            </p>
            <p>
                {{ "The right to reuse applies to all types of information. For example, texts, reports, photos, graphs and images. The reuse applies to both commercial and non-commercial purposes." | trans }}
            </p>
            <p>{{ "Reuse is allowed unless:" | trans }}</p>
            <ul>
                <li>{{ "the copyright sign (©) indicates that a photo is copyrighted;" | trans }}</li>
                <li>{{ "it concerns third-party content. Therefore, always check the sender of documents." | trans }}</li>
            </ul>

        </div>
    </section>
{% endblock %}
