{% extends 'base.html.twig' %}

{% set page_title = "Privacyverklaring" %}

{% block body %}
<div class="woo-container woo-container--sm">
    <div class="woo-rich-text woo-readable-width">
        <h1>{{ "Privacy Statement Open Government Act (Woo)" | trans() }}</h1>

        <h2>{{ "Which personal data do we process?" | trans() }}</h2>

        <p>
            {{ "The Ministry of Health, Welfare and Sport (VWS) processes personal data that you share with us via your Woo request. These are, for example, your name and address details (name, address, place of residence)." | trans() }}
        </p>

        <h2>{{ "Who is responsible for the processing of your personal data?" | trans() }}</h2>

        <p>
            {{ "The Minister of Health, Welfare and Sport is the so-called controller within the meaning of the General Data Protection Regulation (GDPR). The <a href='https://www.rijksoverheid.nl/ministeries/ministerie-van-algemene-zaken/privacy/privacyverklaring-inkoop-en-aanbesteding'>Privacy Statement of the Ministry of General Affairs</a> (AZ) can be found elsewhere on Rijksoverheid.nl. VWS has a data protection officer (FG) as internal supervisor, who supervises the careful handling of personal data by VWS. The DPO can be reached by e-mail: <a href='mailto:FG-VWS@minvws.nl'>FG-VWS@minvws.nl</a>." | trans() | raw }}
        </p>

        <h2>{{ "For what purpose and on what basis do we process personal data?" | trans() }}</h2>

        <p>
            {{ "Your data will only be used to handle your request. The legal basis for processing in the context of Woo requests is to comply with a legal obligation (the Woo)." | trans() }}
        </p>

        <h2>{{ "How long do we store personal data?" | trans() }}</h2>

        <p>
            {{ "VWS stores your personal data for 5 years in the context of the Archives Act." | trans() }}
        </p>

        <h2>{{ "With whom do we share personal data?" | trans() }}</h2>

        <p>
            {{ "VWS does not share or sell your data." | trans() }}
        </p>

        <h2>{{ "Can personal data be kept longer?" | trans() }}</h2>

        <p>
            {{ "Personal data is not automatically deleted in all situations. In a limited number of cases we may keep this data longer. For example, if someone commits criminal offenses and the stored data is necessary for investigation. Such a case may lead to an extension of the retention period." | trans() }}
        </p>

        <h2>{{ "How do we secure personal data?" | trans() }}</h2>

        <p>
            {{ "VWS takes the protection of your data seriously and takes appropriate measures to prevent misuse, loss, unauthorized access, unwanted disclosure and unauthorized changes." | trans() }}
        </p>

        <h2>{{ "Can you view, change or delete data?" | trans() }}</h2>

        <p>
            {{ "You have the right to view, change or delete your personal data. You also have the right to withdraw your consent to the data processing, or to object to the processing of your personal data by VWS." | trans() }}
        </p>

        <p>
            {{ "You can also <a href='https://autoriteitpersoonsgegevens.nl/nl/zelf-doen/privacyrechten/klacht-indienen-bij-de-ap'>report this to the Dutch Data Protection Authority.</a>" | trans() | raw }}
        </p>

    </div>
</div>
{% endblock %}
