{% extends 'base.html.twig' %}

{% set page_title = 'public.privacy.page_title' | trans() %}

{% block body %}
<div class="woo-container woo-container--sm">
    <div class="woo-rich-text woo-readable-width">
        <h1>{{ 'public.privacy.main_title' | trans() }}</h1>

        <h2>{{ 'public.privacy.sub_title-1' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-1' | trans() }}</p>

        <h2>{{ 'public.privacy.sub_title-2' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-2' | trans() | raw }}</p>

        <h2>{{ 'public.privacy.sub_title-3' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-3' | trans() }}</p>

        <h2>{{ 'public.privacy.sub_title-4' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-4' | trans() }}</p>

        <h2>{{ 'public.privacy.sub_title-5' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-5' | trans() }}</p>

        <h2>{{ 'public.privacy.sub_title-6' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-6' | trans() }}</p>

        <h2>{{ 'public.privacy.sub_title-7' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-7' | trans() }}</p>

        <h2>{{ 'public.privacy.sub_title-8' | trans() }}</h2>
        <p>{{ 'public.privacy.paragraph-8' | trans() }}</p>
        <p>{{ 'public.privacy.paragraph-9' | trans() | raw }}</p>
    </div>
</div>
{% endblock %}
