<section class="woo-rich-text woo-readable-width">
    <h1>
        <span class="block mb-1">{{ 'public.intro.label.oga' | trans }}</span>
        <span class="font-normal">{{ 'public.intro.description.oga' | trans }}</span>
    </h1>

    <p class="mb-4">{{ 'public.intro.maintext.oga.paragraph-1' | trans }}</p>
    <p>{{ 'public.intro.maintext.oga.paragraph-2' | trans | raw }}</p>

    <p><twig:Public:ArrowedBoldLink to="{{ path('app_about') }}">{{ 'public.intro.more_about_platform' | trans }}</twig:Public:ArrowedBoldLink></p>
</section>
