{% extends 'public/search/entries/base.html.twig' %}

{% set resultUrl = path('app_woodecision_detail', { prefix: entry.dossier.documentPrefix, dossierId: entry.dossier.dossierNr }) %}
{% set resultType = entry.dossier.publicationReason | trans %}

{% block resultTypeSpecs %}
    <li class="woo-search-result__spec" data-e2e-name="nr-of-documents">
        {{ "global.number_of_documents" | trans({ 'count': entry.dossier.documentCount})}}
    </li>
    <li class="woo-search-result__spec">
        {{ entry.dossier.decision | trans }}
    </li>
{% endblock %}

{% block resultSpecsBottom %}
    <li class="woo-search-result__spec">
        {{ 'global.decision_made' | trans }}&nbsp;<twig:Date date="{{ entry.dossier.decisionDate }}" />,
        {{ 'global.published_on' | trans | lower }}&nbsp;<span data-e2e-name="publication-date"><twig:Date date="{{ entry.dossier.publicationDate }}" /></span>
    </li>
{% endblock %}
