{% extends 'admin.html.twig' %}

{% set page_title = "Department management" | trans %}

{% block body %}
<div class="woo-container">
    <twig:LeftAndRight>
        <h1 class="woo-title">{{ page_title }}</h1>

        <twig:block name="right">
            <a class="woo-button woo-button--secondary" href="{{ path('app_admin_department_create') }}">{{ "New department" | trans() }}</a>
        </twig:block>
    </twig:LeftAndRight>

    <div class="woo-card">
        <table class="woo-table">
            <thead>
                <tr>
                    <th class="woo-column-head woo-column-head--sortable" scope="col">{{ "Department" | trans() }}</th>
                    <th class="woo-column-head woo-column-head--sortable border-r-0" scope="col">{{ "Short name" | trans() }}</th>
                    <th class="woo-column-head woo-column-head--sortable" scope="col">
                        <span class="sr-only">{{ "Edit department" | trans() }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <td>{{ department.name }}</td>
                        <td>{{ department.shortTag | default('-') }}</td>
                        <td class="text-right">
                            <a class="js-woo-clickable-row__a" href="{{ path('app_admin_department_edit', { id: department.id.toBase58 }) }}">
                                <twig:Icon name="chevron-right" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pt-16">
        <twig:LeftAndRight>
            <h2 class="woo-title">{{ "All officials" | trans }}</h2>

            <twig:block name="right">
                <a class="woo-button woo-button--secondary" href="{{ path('app_admin_governmentofficial_create') }}">{{ "New official" | trans }}</a>
            </twig:block>
        </twig:LeftAndRight>

        <div class="woo-card">
            <table class="woo-table">
                <thead>
                    <tr>
                        <th class="woo-column-head woo-column-head--sortable border-r-0" scope="col">{{ "Official" | trans() }}</th>
                        <th class="woo-column-head woo-column-head--sortable" scope="col">
                            <span class="sr-only">{{ "Edit official" | trans() }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for head in heads %}
                        <tr>
                            <td>{{ head.name }}</td>
                            <td class="text-right">
                                <a class="js-woo-clickable-row__a" href="{{ path('app_admin_governmentofficial_edit', { id: head.id.toBase58 }) }}">
                                    <twig:Icon name="chevron-right" />
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
