{% extends 'admin.html.twig' %}

{% set page_title = 'admin.department.all_departments' | trans %}

{% block body %}
<div class="bhr-container">
    <twig:Admin:LeftAndRight>
        <h1 class="bhr-title">{{ page_title }}</h1>

        <twig:block name="right">
            {% if matrix_has_permission('department.create') %}
            <a class="bhr-button bhr-button--secondary" href="{{ path('app_admin_department_create') }}">{{ 'admin.department.new_department' | trans() }}</a>
            {% endif %}
        </twig:block>
    </twig:Admin:LeftAndRight>

    <div class="bhr-card">
        {% set alerts = app.flashes('backend') %}
        {% if alerts | length > 0 %}
            <div class="mb-8" data-e2e-name="alerts">
                {% for messages in alerts %}
                    {% for label, message in messages %}
                        <twig:Admin:Alert type="{{ label }}">
                            <strong>{{ message }}</strong>
                        </twig:Admin:Alert>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <table class="bhr-table">
            <thead>
                <tr>
                    {{ knp_pagination_sortable(pagination, 'admin.publications.department' | trans, 'd.name', {}, {}, 'pagination/sort.admin.html.twig') }}
                    {{ knp_pagination_sortable(pagination, 'global.acronym' | trans, 'd.shortTag', { thClassName: 'border-r-0' }, {}, 'pagination/sort.admin.html.twig') }}
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">
                        <span class="sr-only">{{ 'global.details' | trans }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for department in pagination %}
                    {% set url = path('app_admin_department_edit', { id: department.id.toBase58 }) %}
                    <tr class="bhr-clickable-row">
                        <td>
                            <a class="bhr-fill-cell" href="{{ url }}">
                                {{ department.name }}
                            </a>
                        </td>
                        <td>
                            <a class="bhr-fill-cell" href="{{ url }}">
                                {{ department.shortTag | default('-') }}
                            </a>
                        </td>
                        <td class="text-right">
                            <a class="bhr-fill-cell" href="{{ url }}">
                                <span class="sr-only">{{ 'global.details' | trans }} {{ department.name }}</span>
                                <twig:Admin:Icon name="chevron-right" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination, 'pagination/pagination.admin.html.twig') }}
    </div>
</div>
{% endblock %}
