{% extends 'admin.html.twig' %}

{% set page_title = "Department management" | trans %}

{% block body %}
<div class="bhr-container">
    <twig:Admin:LeftAndRight>
        <h1 class="bhr-title">{{ page_title }}</h1>

        <twig:block name="right">
            {% if matrix_has_permission('department.create') %}
            <a class="bhr-button bhr-button--secondary" href="{{ path('app_admin_department_create') }}">{{ "New department" | trans() }}</a>
            {% endif %}
        </twig:block>
    </twig:Admin:LeftAndRight>

    <div class="bhr-card">
        {% set alerts = app.flashes('backend') %}
        {% if alerts | length > 0 %}
            <div class="mb-8">
                {% for messages in alerts %}
                    {% for label, message in messages %}
                        <twig:Admin:Alert type="{{ label }}">
                            <strong>{{ message }}</strong>
                        </twig:Admin:Alert>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <table class="bhr-table">
            <thead>
                <tr>
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">{{ "Department" | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray border-r-0" scope="col">{{ "Short name" | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">
                        <span class="sr-only">{{ "Edit department" | trans() }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <td>{{ department.name }}</td>
                        <td>{{ department.shortTag | default('-') }}</td>
                        <td class="text-right">
                            <a class="js-clickable-row__focusable" href="{{ path('app_admin_department_edit', { id: department.id.toBase58 }) }}">
                                <span class="sr-only">Details {{ department.name }}</span>
                                <twig:Admin:Icon name="chevron-right" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
