{% extends 'admin.html.twig' %}

{% block body %}
    {% set hasDocuments = pagination | length > 0 %}
    <div class="bhr-container bhr-container--sm">
        {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}
    </div>

    <div class="bhr-container">
        <div class="bhr-card">
            {% set uploadStatus = dossier.uploadStatus %}
            <h2 class="font-bold mb-6">{{ uploadStatus.actualUploadCount }}/{{ uploadStatus.expectedUploadCount }} {{ 'global.added' | trans}}</h2>

            <twig:Admin:LeftAndRight class="pt-1">
                {% if dossier.productionReport is not null  %}
                <a
                    class="bhr-button bhr-button--primary bhr-button--with-icon-right mr-2"
                    href="{{ path('app_admin_dossier_file_download', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, type: constant('App\\Domain\\Publication\\Dossier\\FileProvider\\DossierFileType::PRODUCTION_REPORT').value}) }}"
                >
                    {{ 'admin.dossiers.download_report' | trans }}

                    <twig:Admin:Icon class="bhr-button__icon bhr-button__icon--right right-4 -mt-0.5" color="fill-white" size="16" name="download" />
                </a>
                {% endif %}

                <a class="bhr-button bhr-button--secondary mr-2" href="{{ path('app_admin_dossier_woodecision_documents_edit_replace_inventory', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, replace: 1 }) }}" data-e2e-name="replace-report">
                    {{ 'admin.dossiers.replace_report' | trans }}
                </a>

                {% if dossier.needsInventoryAndDocuments and not dossier.uploadStatus.isComplete %}
                <button type="button" class="bhr-button bhr-button--secondary js-visibility-toggler" aria-controls="edit-documents" aria-expanded="true">
                    {{ 'admin.dossiers.replace_files' | trans }}
                </button>
                {% endif %}

                <twig:block name="right">
                    <div {{ vue_component('PublicationSearchController', {
                        dossierId: dossier.id,
                        label: 'Zoek op documentnummer of -naam',
                        resultType: 'document',
                    }) }}>
                        <div class="h-[50px]"></div>
                    </div>
                </twig:block>
            </twig:Admin:LeftAndRight>

            {% if dossier.needsInventoryAndDocuments %}
                {% set uploadStatus = dossier.uploadStatus %}
                {% if not uploadStatus.isComplete %}
                    <div id="edit-documents">
                        <twig:Admin:DossierDocuments
                            dossier="{{ dossier }}"
                            uploadStatus="{{ uploadStatus }}"
                            mimeTypes="{{ mimeTypes }}"
                        />
                    </div>
                {% endif %}

                {% if hasDocuments %}
                    <table class="bhr-table" id="resultaten" data-e2e-name="dossier-documents">
                        <caption class="sr-only">{{ 'admin.dossiers.documents_sortable' | trans }}</caption>
                        <thead>
                            <tr>
                                {{ knp_pagination_sortable(pagination, 'global.document_number' | trans, 'doc.documentNr', { thClassName: 'w-40' }, {}, 'pagination/sort.admin.html.twig') }}
                                {{ knp_pagination_sortable(pagination, 'global.document_name' | trans, 'doc.fileInfo.name', { thClassName: 'w-2/5' }, {}, 'pagination/sort.admin.html.twig') }}
                                {{ knp_pagination_sortable(pagination, 'global.document_judgement' | trans, 'doc.judgement', {}, {}, 'pagination/sort.admin.html.twig') }}
                                <th class="bhr-column-head bhr-column-head--gray" scope="col">
                                    {{ 'global.document_particular' | trans }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in pagination %}
                                <tr>
                                    <td>
                                        <a class="bhr-a js-bhr-clickable-row-link" href="{{ path('app_admin_dossier_woodecision_document', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, documentId: document.documentNr}) }}">
                                            {{ document.documentId }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ document.fileInfo.name }}
                                    </td>
                                    <td>
                                        {% if document.judgement is defined %}
                                            {{ document.judgement | trans }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if document.withdrawn %}{{ "global.withdrawn" | trans }}{% endif %}
                                        {% if document.suspended %}{{ "global.suspended" | trans }}{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {{ knp_pagination_render(pagination, 'pagination/pagination.admin.html.twig') }}
                {% else %}
                    <p class="text-center">Er zijn nog geen documenten aan dit besluit gekoppeld.</p>
                {% endif %}
            {% else %}
                Op basis van het besluit '{{ dossier.decision | trans }}' heeft dit dossier geen inventarislijst en/of documenten.
            {% endif %}
        </div>
    </div>
{% endblock %}
