{% set uploadStatus = dossier.uploadStatus %}

<div class="bhr-card js-inventory-status-wrapper">
    <div class="text-lg pb-2">
        <h2 class="bhr-form-help">Stap 1</h2>
        <p><strong>Upload productierapport</strong></p>
        <p class="bhr-form-help mt-2 mb-3">
            Upload de Zylab rapportage die bij dit besluit hoort. Dit is een Excel-bestand.
        </p>
    </div>

    <div
        {% if dataPath is not empty %}
            id="js-inventory-status"
            data-done-url="{{ path('app_admin_dossier_woodecision_documents_concept', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}"
            data-endpoint="{{ path(dataPath, { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}"
            role="status"
        {% endif %}
    >
        {% include 'admin/dossier/woo-decision/documents/processrun.html.twig' with { dossier: dossier, inventoryStatus: inventoryStatus } %}
    </div>

    {% if inventoryStatus.isQueued or inventoryStatus.isRunning %}
        <div class="pt-8 js-inventory-status-continue-later">
            <a href="{{ path('app_admin_dossiers') }}" class="bhr-button bhr-button--secondary bhr-button--fixed-width">{{ 'admin.global.continue_later' | trans }}</a>
        </div>
    {% endif %}
</div>

{% if inventoryStatus.isReadyForDocumentUpload and app.request.get('replace') is null %}
<div class="bhr-card mt-10">
    <div class="text-lg pb-2">
        <h2 class="bhr-form-help">Stap 2</h2>
        <p><strong>Upload documenten</strong></p>
        <p class="bhr-form-help mt-2 mb-3">Upload alle documenten die met beoordeling 'openbaar' of 'deels openbaar' in het productierapport staan. Zorg dat de bestandsnamen overeenkomen met de documentnummers in het productierapport (bijvoorbeeld: 123.pdf)</p>
    </div>

    <twig:Admin:DossierDocuments
        dossier="{{ dossier }}"
        uploadStatus="{{ uploadStatus }}"
        mimeTypes="{{ mimeTypes }}"
    />

    <div class="mt-4">
        <div role="status">
            <div class="hidden" id="js-dossier-documents-can-not-continue">
                <twig:Admin:InputErrors error="Nog niet alle documenten zijn geüpload of verwerkt. Voeg ze toe of wacht tot ze verwerkt zijn om verder te gaan." />
            </div>
        </div>

        <a
            href="{{ path(workflowStatus.nextStep.routeName, { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}"
            class="bhr-button bhr-button--primary bhr-button--fixed-width mr-4"
            id="js-dossier-documents-next-step"
            data-e2e-name="to-next-step-link"
        >{{ 'publication.dossier.to_publication' | trans }}</a>

        <a
            href="{{ path('app_admin_dossier', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}"
            class="bhr-button bhr-button--secondary bhr-button--fixed-width mr-4"
        >{{ 'admin.global.continue_later' | trans }}</a>
    </div>
</div>
{% endif %}
