{% if inventoryStatus.isQueued %}
    <div class="text-center">
        <span class="inline-block animate-spin"><twig:Admin:Icon color="fill-bhr-ocean-boat-blue" size="48" name="loader" /></span>
        <p class="text-lg pt-4">Verwerking gaat beginnen</p>
    </div>
{% elseif inventoryStatus.isRunning %}
    {% set id = 'inventory-is-running' %}

    {% if inventoryStatus.isComparing %}
        <div class="text-lg">
            <h2 class="font-bold pb-2">Bezig met het verwerken van het productierapport</h2>
            <p class="bhr-text-muted">Dit duurt meestal maximaal een paar minuten. Als je wilt kan je deze pagina verlaten en later terugkomen.</p>
        </div>
    {% endif %}

    {% if inventoryStatus.isUpdating %}
        <div class="text-lg">
            <h2 class="font-bold pb-2">Bezig met het toepassen van wijzigingen in het productierapport</h2>
            <p class="bhr-text-muted">Dit duurt meestal maximaal een paar minuten. Als je wilt kan je deze pagina verlaten en later terugkomen.</p>
        </div>
    {% endif %}

    <div class="flex items-center my-6">
        <progress class="bhr-progress" id="{{ id }}" max="100" value="{{ processRun.progress }}"></progress>
        <span class="ml-3 text-sm w-10 text-right">{{ processRun.progress }}%</span>
    </div>

    <div class="flex items-center">
        <span class="mr-3"><twig:Admin:MimeTypeIcon mimeType="{{ processRun.fileInfo.mimetype }}" /></span>
        <label class="grow text-lg pt-1 truncate">{{ processRun.fileInfo.name }}</label>
    </div>
{% elseif inventoryStatus.canUpload and (ajax|default(false) == false or inventoryStatus.hasErrors) %}
    {# the ajax=false condition is used to not inifinitely re-show the form when replacing the inventory, unless there are errors #}
    {{ form(inventoryForm) }}
{% elseif inventoryStatus.needsConfirmation %}
    {% set changeset = inventoryStatus.getChangeset() %}
    <div class="px-11">
        <div class="bhr-card">
            <twig:Admin:Alert class="mb-8" type="success">
                <strong>{{ 'admin.inventory.checked' | trans }}</strong>
            </twig:Admin:Alert>

            <div class="text-lg">
                <h2 class="font-bold mb-4">{{ 'admin.inventory.warning' | trans }}</h2>
                <p>{{ 'admin.inventory.explanation' | trans }}:</p>
                <ul class="bhr-ul">
                    {% if changeset['create'] > 0 %}
                        <li class="bhr-li">{{ "admin.dossiers.documents_added" | trans({'count': changeset['create']}) }}</li>
                    {% endif %}
                    {% if changeset['update'] > 0 %}
                        <li class="bhr-li">{{ "admin.dossiers.documents_updated" | trans({'count': changeset['update']}) }}</li>
                    {% endif %}
                </ul>
            </div>

            <div class="mt-8">
                <a class="bhr-button bhr-button--primary bhr-button--fixed-width mr-4" href="?confirm=1" data-e2e-name="confirm-replacement">{{ 'admin.inventory.confirm_replacement' | trans }}</a>
                <a class="bhr-button bhr-button--secondary bhr-button--fixed-width" href="?reject=1">{{ 'global.cancel' | trans }}</a>
            </div>
        </div>
    </div>
{% elseif inventoryStatus.isUploaded %}
    {% if dossier.status.isConcept %}
        <twig:Admin:UploadedFile
            deleteUrl="{{ path('app_admin_dossier_woodecision_documents_concept_inventory_delete', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}"
            downloadUrl="{{ path('app_admin_dossier_raw_inventory_download', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}"
            fileName="{{ dossier.rawInventory.fileInfo.name }}"
            fileSize="{{ dossier.rawInventory.fileInfo.size }}"
            mimeType="{{ dossier.rawInventory.fileInfo.mimetype }}"
        />
    {% else %}
        <p>De inventaris is succesvol vervangen.</p>

        <p class="mt-6"><a class="bhr-button bhr-button--primary" href="{{ path('app_admin_dossier_woodecision_documents_edit', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}" data-e2e-name="continue-to-documents">Naar documenten</a></p>
    {% endif %}
{% endif %}
