{% extends 'tailwind_2_layout.html.twig' %}

{%- block form_start -%}
    {%- set attr = attr|merge({ novalidate: '' }) -%}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block choice_widget_expanded -%}
    <fieldset>
        {%- set formVars = form.vars -%}
        <legend {% for attrname, attrvalue in formVars.label_attr %}{{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ formVars.label }}</legend>
        {%- for child in form %}
        <div class="woo-choice-row">
            <span>{{- form_widget(child) -}}</span>
            {{- form_label(child, null, { 'label_attr': { 'class': 'woo-choice-label' }, translation_domain: choice_translation_domain }) -}}
        </div>
        {% endfor -%}
    </fieldset>
{%- endblock choice_widget_expanded -%}

{% block button_attributes %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}"{% endfor %}
{% endblock button_attributes %}

{%- block form_row -%}
    {{- form_widget(form) -}}
{%- endblock form_row -%}

{%- block radio_widget -%}
    {%- set widget_class = widget_class|default('woo-choice-input woo-choice-input--radio') -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
{%- endblock radio_widget -%}
