{% extends 'admin.html.twig' %}

{% set page_title = 'admin.subject.manage' | trans %}

{% block body %}
<div class="bhr-container">
    <twig:Admin:LeftAndRight>
        <h1 class="bhr-title">{{ page_title }}</h1>

        <twig:block name="right">
            {% if matrix_has_permission('subject.create') %}
            <a class="bhr-button bhr-button--secondary" href="{{ path('app_admin_subject_create') }}">{{ 'admin.subject.create' | trans() }}</a>
            {% endif %}
        </twig:block>
    </twig:Admin:LeftAndRight>

    <div class="bhr-card">
        {% set alerts = app.flashes('backend') %}
        {% if alerts | length > 0 %}
            <div class="mb-8">
                {% for messages in alerts %}
                    {% for label, message in messages %}
                        <twig:Admin:Alert type="{{ label }}">
                            <strong>{{ message }}</strong>
                        </twig:Admin:Alert>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% if pagination | length > 0 %}
            <table class="bhr-table">
                <thead>
                <tr>
                    {{ knp_pagination_sortable(pagination, 'admin.subject.subject' | trans, 'sub.name', { thClassName: 'border-r-0' }, {}, 'pagination/sort.admin.html.twig') }}
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">
                        <span class="sr-only">{{ 'global.details' | trans }}</span>
                    </th>
                </tr>
                </thead>
                <tbody data-e2e-name="inquiry-list">
                {% for row in pagination %}
                    {% set url = path('app_admin_subject_edit', { id: row.id.toBase58 }) %}
                    <tr class="bhr-clickable-row">
                        <td><a class="bhr-fill-cell" href="{{ url }}">{{ row.name }}</a></td>
                        <td class="text-right">
                            <a class="bhr-fill-cell" href="{{ url }}">
                                <span class="sr-only">{{ 'global.details' | trans }} {{ row.name }}</span>
                                <twig:Admin:Icon name="chevron-right" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination, 'pagination/pagination.admin.html.twig') }}
        {% else %}
            <p class="text-center">
                {{ 'admin.subjects.no_subjects' | trans }}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
