<table class="bhr-table table-fixed">
    <thead>
        <th class="w-52" scope="col">{{'public.global.date' | trans() }}</th>
        <th scope="col">{{'global.action' | trans() }}</th>
    </thead>
    <tbody>
        {% for row in rows %}
            {% set tr = history_trans(row, "private") %}
            {% if tr is not empty %}
            <tr>
                <td>
                    <time datetime="{{ row.createdDt | date("Y-m-d G:i") }}">{{ row.createdDt | format_datetime(pattern="d LLLL y H:mm") }}</time>
                </td>
                <td>
                    {{ tr }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
