{% extends 'admin.html.twig' %}

{% set page_title = 'admin.inquiries.case_numbers' | trans() %}

{% block body %}
<div class="bhr-container">
    <twig:Admin:LeftAndRight>
        <h1 class="bhr-title">{{ page_title }}</h1>

        <twig:block name="right">
            {% if matrix_has_permission('inquiry.update') %}
            <a class="bhr-button bhr-button--secondary" href="{{ path('app_admin_inquiries_link') }}">{{ 'admin.inquiries.link_case' | trans() }}</a>
            {% endif %}
        </twig:block>
    </twig:Admin:LeftAndRight>

    <div class="bhr-card">
        {% set alerts = app.flashes('backend') %}
        {% if alerts | length > 0 %}
            <div class="mb-8">
                {% for messages in alerts %}
                    {% for label, message in messages %}
                        <twig:Admin:Alert type="{{ label }}">
                            <strong>{{ message }}</strong>
                        </twig:Admin:Alert>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <table class="bhr-table">
            <thead>
                <tr>
                    {{ knp_pagination_sortable(pagination, 'admin.inquiries.case_number' | trans, 'inq.casenr', {}, {}, 'pagination/sort.admin.html.twig') }}
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">{{ 'public.global.decisions' | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">{{ 'global.documents' | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray border-r-0" scope="col">{{ 'global.last_update' | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">
                        <span class="sr-only">{{ 'admin.inquiries.link_to_case' | trans }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in pagination %}
                    <tr>
                        <td><strong>{{ row.inquiry.casenr }}</strong></td>
                        <td>{{ row.dossierCount }}</td>
                        <td>{{ row.documentCount }}</td>
                        <td>{{ row.inquiry.updatedAt | format_datetime('medium') }}</td>
                        <td class="text-right">
                            <a class="js-clickable-row__focusable" href="{{ PUBLIC_BASE_URL }}{{ path('app_inquiry_detail', { token: row.inquiry.token }) }}">
                                <span class="sr-only">{{ 'global.details' | trans() }} {{ row.inquiry.casenr }}</span>
                                <twig:Admin:Icon name="chevron-right"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination, 'pagination/pagination.admin.html.twig') }}
    </div>
</div>
{% endblock %}
