{% extends 'admin.html.twig' %}

{% set page_title = "Link to documents" | trans() %}

{% block body %}
    <h1 class="bhr-title bhr-title--fixed-width mx-auto mb-10">{{ page_title }}</h1>
    <div class="bhr-container bhr-container--sm">
        <div class="bhr-card">
            {{ form_start(link_documents) }}
            {{ form_errors(link_documents) }}
            {{ form_row(link_documents.upload) }}

            {% set choices = link_documents.prefix.vars.choices %}
            {% if (choices | length) > 1 %}
                {{ form_row(link_documents.prefix) }}
            {% else %}
                {{ form_row(link_documents.prefix, {row_attr: {class: 'hidden'}, value: choices.0.value } ) }}
            {% endif %}
            {{ form_row(link_documents.link) }}
            {{ form_row(link_documents.cancel) }}
            {{ form_end(link_documents) }}
        </div>
    </div>
{% endblock %}
