{% extends 'base.html.twig' %}
{% import 'document_macros.html.twig' as macro %}

{% set page_title = attachment.name %}


{% block body %}
<div class="woo-container woo-container--sm">
    <h1 class="woo-h1">
        <twig:Public:FileIcon type="{{ attachment.sourceType }}" />
        {{ attachment.name }}
    </h1>
    <p class="text-woo-dim-gray">{{ attachment.formalDate | format_date('short') }}</p>
    <p>{{ 'global.attachment_of' | trans }} <a class="woo-a" href="{{ path('app_woodecision_detail', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}">{{dossier.title}}</a></p>

    <a class="woo-button woo-button--primary mt-8" href="{{ attachment.downloadUrl }}">{{ 'global.download_attachment' | trans }} ({{ ('public.documents.file_type.' ~ attachment.sourceType) | trans }} {{ attachment.size | size }})</a>

    <div class="mt-16">
        <h2 class="woo-h2 woo-h2-spacing">{{ 'public.documents.document.about' | trans }}</h2>
        <div class="woo-responsive-table">
            <table class="woo-table">
                <caption class="sr-only">
                    {{ 'public.documents.document.about' | trans }}
                </caption>
                <tbody>
                    <tr>
                        <th class="woo-table-cell-light w-64 min-w-64" scope="row">{{ 'public.documents.document.date' | trans}}</th>
                        <td>{{ attachment.formalDate | format_date('long') }}</td>
                    </tr>
                    <tr>
                        <th class="woo-table-cell-light w-64 min-w-64" scope="row">{{ 'public.documents.document.type' | trans}}</th>
                        <td>{{ ('public.documents.file_type.' ~ attachment.sourceType) | trans }}, {{ attachment.size | size }}</td>
                    </tr>
                    <tr>
                        <th class="woo-table-cell-light w-64 min-w-64" scope="row">{{ 'public.documents.document.language' | trans}}</th>
                        <td>{{ ('global.' ~ attachment.language.value) | lower | trans }}</td>
                    </tr>
                    {% if attachment.grounds is defined and attachment.grounds|length > 0 %}
                    <tr>
                        <th class="woo-table-cell-light w-64 min-w-64" scope="row">
                            {{ 'global.grounds' | trans}}
                        </th>
                        <td>
                            {% for ground in attachment.grounds %}
                            {{ macro.document_ground(ground) }}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'dossier/snippets/about.html.twig' %}
</div>
{% endblock %}
