{% extends 'base.html.twig' %}
{% import "document_macros.html.twig" as macro %}

{% set preview_mode = "" %}
{% if dossier.status == constant('\\App\\Entity\\Dossier::STATUS_PREVIEW') %}
    {% set preview_mode = " (preview)" %}
{% endif %}

{% set page_title = dossier.title ~ preview_mode %}

{% block body %}
    <section class="content-detail-container">
        <div>
            <h1 class="mb-0 leading-tight">
                <span class="font-normal block">{{ "Decision about" | trans() }}:</span>
                {{ dossier.title }}
            </h1>

            <dl class="nota-bene text-lg">
                <div>
                    <dt>
                    {% if dossier.status == constant('\\App\\Entity\\Dossier::STATUS_PREVIEW') %}
                        {{ "Date of publication" | trans() }}:
                    {% else %}
                        {{ "Published on" | trans() }}:
                    {% endif %}
                    </dt>
                    <dd><time datetime="{{ dossier.publicationDate | date("Y-m-d") }}">{{ dossier.publicationDate | format_date('long') }}</time></dd>
                </div>
                <div>
                    <dt>{{ "Dossier number" | trans() }}:</dt>
                    <dd>{{ dossier.dossierNr }}</dd>
                </div>
            </dl>

            {% include "dossier/snippets/info.html.twig" %}

            {% include "dossier/snippets/notifications.html.twig" %}

            {% include "dossier/snippets/summary.html.twig" %}

            {% include "dossier/snippets/about.html.twig" %}

            {% include "dossier/snippets/documents.html.twig" %}

            {{ macro.history_section(get_frontend_history('dossier', dossier.id), "History") }}
        </div>
    </section>
{% endblock %}
