{% extends 'base.html.twig' %}

{% set page_title = "Public decisions" | trans() %}

{% block body %}

    <section>
        <div class="container">

        <h1>{{ "Public decisions" | trans() }}</h1>

        <p>{{ "As a dedicated platform for transparency and openness of government, we have made efforts to make these Woo files accessible to the general public. We believe in the power of openness and the sharing of information, and we are convinced that making these documents available will contribute to a better understanding of the complex issues our society is facing." | trans() }}</p>

        <p>{{ "The released Woo files cover a wide range of topics, from environmental and energy policies to infrastructure projects and legislative initiatives. We encourage you to study these documents thoroughly and use the information to make informed decisions and participate in public debate." | trans() }}</p>

        <p>{{ "Releasing these Woo files is a step towards a more transparent and participatory society. We believe that by sharing information and involving the public in decision-making processes, we can strive for a more inclusive and democratic society." | trans() }}</p>

        <p>{{ "We appreciate your continuous support and encouragement in our efforts to promote transparency and openness of government. We will continue to release more Woo files and strive for a society where information is freely shared and accessible to everyone." | trans() }}</p>

        <div class="mb-5"></div>

        {% if dossiers|length == 0 %}

            <div class="alert alert-info">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                {{ "No decisions found at the moment." | trans() }}
            </div>

        {% else %}
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>{{ "Decision number" | trans() }}</th>
                <th>{{ "Title" | trans() }}</th>
                <th>{{ "Document count" | trans() }}</th>
            </tr>

        {% for dossier in dossiers %}
            <tr>
                <td>
                    <a href="{{ path('app_dossier_detail', { 'dossierId': dossier.dossierNr }) }}">{{ dossier.dossierNr }}</a>
                </td>
                <td>{{ dossier.title }}</td>
                <td class="col-2">
                    {{ "# documents" | trans({ 'count': dossier.documents | length }) }}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}

        </div>
    </section>

{% endblock %}
