<!doctype html>
<html class="no-js" lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}

        <title>
            {% if page_title is defined %} {{ page_title|trans }} | {% endif %}
            Beheer {{ SITE_NAME }}
        </title>

        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {% if is_dev() %}
            <meta content property="csp-nonce" nonce="{{ csp_nonce() }}">
        {% endif %}

        {{ vite_entry_link_tags('admin') }}

        {{ vite_entry_script_tags('admin', { attr: { defer: false } }) }}

        {% block extra_scripts %}{% endblock %}

        {% block inline_style %}{% endblock %}

        {% include "shared/piwik-script.html.twig" %}
    </head>

    <body class="antialiased bg-bhr-gray-100 text-bhr-gray-900 flex min-h-screen flex-col text-base">
        {% set isAuthenticated = app.user and is_granted('ROLE_BALIE') %}

        {% macro nav_item(routeName, titleTranslationKey, routePattern, e2eName) %}
            {% set isCurrentPage = app.request.get('_route') is same as (routeName) %}
            {% set isActivePage = isCurrentPage or (routePattern is not empty and app.request.get('_route') matches routePattern) %}
            <li>
                <a
                    {% if isCurrentPage %}aria-current="page"{% endif %}
                    class="bhr-site-header-nav-item bhr-site-header-nav-item--anchor{% if isActivePage %} bhr-site-header-nav-item--active{% endif %}"
                    {% if e2eName %}data-e2e-name="{{ e2eName }}"{% endif %}
                    href="{{ path(routeName) }}"
                >
                    {{ titleTranslationKey | trans() }}
                </a>
            </li>
        {% endmacro %}

        <header class="print:hidden">
            <div class="bg-bhr-gray-900">
                <div class="bhr-container">
                    {% if isAuthenticated %}
                    <button class="p-4 lg:hidden js-visibility-toggler" aria-controls="main-nav" aria-expanded="false">
                        <twig:Admin:Icon color="fill-white" name="hamburger" class="" />
                        <span class="sr-only">{{ 'global.menu_toggle.label' | trans() }}</span>
                    </button>

                    <nav class="text-white lg:flex hidden" id="main-nav">
                        <ul class="grow lg:flex items-center">
                            <li><a href="#inhoud" class="bhr-site-header-nav-item bhr-site-header-nav-item--anchor bhr-site-header-nav-item--skip-link">{{ 'global.skip_link' | trans() }}</a></li>

                            {% set organisationSwitcher = get_organisation_switcher() %}
                            {% if organisationSwitcher.isSwitchAllowed(app.user) %}
                                {% set activeOrganisation = organisationSwitcher.activeOrganisation(app.user) %}
                                <li>
                                    <details class="js-details" data-e2e-name="organisation-switcher">
                                        <summary
                                            class="bhr-site-header-nav-item bhr-site-header-nav-item--divider max-h-18 flex items-center"
                                        >
                                            <span class="grow">
                                                <span class="block text-sm font-normal">{{ 'global.organisation' | trans() }}</span>
                                                <span class="block text-md truncate max-w-[165px]" data-e2e-name="active-organisation">
                                                    {{ activeOrganisation.name }}
                                                </span>
                                            </span>
                                            <span>
                                                <twig:Admin:Icon name="chevron-down" color="fill-white" class="ml-2" />
                                            </span>
                                        </summary>
                                        <div class="bhr-overlay-card max-w-sm mt-2 text-black flex flex-col sm:min-w-3xs">
                                            <ul>
                                                <li>
                                                    <a
                                                        class="bhr-site-header-sub-nav-item"
                                                        data-e2e-name="manage-organisations"
                                                        href="{{ path('app_admin_user_organisation') }}"
                                                    >
                                                        <twig:Admin:Icon name="manage" class="mr-1" />
                                                        {{ 'admin.organisations.manage' | trans }}
                                                    </a>
                                                </li>
                                                {% for organisation in organisationSwitcher.organisations(app.user) %}
                                                    {% set isActiveOrganisation = activeOrganisation == organisation %}
                                                    <li>
                                                        <a
                                                            class="bhr-site-header-sub-nav-item{% if isActiveOrganisation %} bhr-site-header-sub-nav-item--active{% endif %}"
                                                            href="{{ path('app_admin_switch_organisation', {'id': organisation.id.toRfc4122}) }}"
                                                        >
                                                            {% if isActiveOrganisation %}<twig:Admin:Icon name="check" class="mr-1" />{% endif %}
                                                            {{ organisation.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </details>
                                </li>
                            {% endif %}

                            {% if matrix_has_permission('dossier.read') %}
                                {{ _self.nav_item('app_admin_dossiers', 'admin.global.label.publications', '/^app_admin_dossier/', 'nav-publications') }}
                            {% endif %}

                            {% if matrix_has_permission('inquiry.read') %}
                                {{ _self.nav_item('app_admin_inquiries', 'admin.global.label.inquiries', '/^app_admin_inquiries/', 'nav-inquiries') }}
                            {% endif %}

                            {% if matrix_has_permission('department.read') %}
                                {{ _self.nav_item('app_admin_departments', 'admin.global.label.departments', '/^app_admin_department/', 'nav-departments') }}
                            {% endif %}

                            {% if matrix_has_permission('subject.read') %}
                                {{ _self.nav_item('app_admin_subjects', 'admin.global.label.subjects', '/^app_admin_subject/', 'nav-subjects') }}
                            {% endif %}

                            {% if matrix_has_permission('user.read') %}
                                {{ _self.nav_item('app_admin_users', 'admin.global.label.access_control', '/^app_admin_user/', 'nav-access-control') }}
                            {% endif %}
                        </ul>

                        <ul class="lg:flex items-center">
                            {{ _self.nav_item('app_admin_user_profile', app.user.name|default("unknown user")) }}
                            {{ _self.nav_item('app_logout', 'global.logout', null, 'logout-link') }}
                        </ul>
                    </nav>
                    {% else %}
                    <div class="text-center text-white py-3">
                        <div><strong class="text-2xl">{{ SITE_NAME }}</strong></div>
                        <em>Publicatie/document management</em>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if wo_breadcrumbs_exists() %}
                {{ wo_render_breadcrumbs({viewTemplate: 'admin/layout/breadcrumbs.html.twig' }) }}
            {% endif %}
        </header>

        <main class="grow pt-16 px-4 print:bhr-card" id="inhoud">
            {% block body %}{% endblock %}
        </main>

        <footer class="pb-8 pt-16 px-4 two-thirds-one-third print:hidden">
            {% if isAuthenticated %}
                <div class="leading-tight pb-4 pt-24 text-center text-bhr-gray-700">
                    <h2 class="font-bold text-2xl">{{ SITE_NAME }}</h2>
                    <em>Publicatie/document management</em>
                </div>
            {% endif %}

            <ul class="flex justify-center">
                <li><a class="bhr-site-footer-nav-item" href="{{ path('app_admin_privacy') }}">{{ 'global.footer.label.privacy' | trans() }}</a></li>
                <li><a class="bhr-site-footer-nav-item" href="{{ path('app_admin_contact') }}">{{ 'global.footer.label.contact' | trans() }}</a></li>
                <li><a class="bhr-site-footer-nav-item" href="{{ PUBLIC_BASE_URL }}/documentatie">{{ 'global.footer.label.documentation' | trans() }}</a></li>
                <li><a class="bhr-site-footer-nav-item" href="{{ path('app_admin_accessibility') }}">{{ 'global.footer.label.accessibility' | trans() }}</a></li>
                <li><a class="bhr-site-footer-nav-item" href="{{ PUBLIC_BASE_URL }}/">Publieke website</a></li>
            </ul>
        </footer>

        {% include "shared/piwik-noscript.html.twig" %}
    </body>
</html>
