{% extends 'admin.html.twig' %}

{% macro table_row(hasAccess, route, linkText, description) %}
    {% if hasAccess %}
    <tr>
        <td><a class="bhr-a" href="{{ route }}">{{ linkText }}</a></td>
        <td>{{ description }}
    </tr>
    {% endif %}
{% endmacro %}

{% block body %}
<div class="bhr-container">
    <div class="px-11">
        <h1 class="bhr-title mb-6">{{ "Admin" | trans() }}</h1>

        <div class="bhr-card">
            <table class="bhr-table table-fixed">
                <thead>
                    <tr>
                        <th class="w-56 text-left" scope="col">Link</th>
                        <th class="text-left" scope="col">Omschrijving</th>
                    </tr>
                </thead>
                <tbody>
                    {{
                        _self.table_row(
                            matrix_has_permission('dossier.administration'),
                            path('app_admin_dossier_administration'),
                            "Dossier management" | trans,
                            "This link provides access to dossier admin actions." | trans()
                        )
                    }}
                    {{
                        _self.table_row(
                            matrix_has_permission('inquiry.administration'),
                            path('app_admin_inquiry_administration'),
                            "Inquiry management" | trans,
                            "This link provides access to inquiry admin actions." | trans
                        )
                    }}
                    {{
                        _self.table_row(
                            matrix_has_permission('stat.read'),
                            path('app_admin_stats'),
                            "Statistics & Monitoring" | trans,
                            "This link provides access to system statistics and monitoring." | trans
                        )
                    }}
                    {{
                        _self.table_row(
                            matrix_has_permission('elastic.read'),
                            path('app_admin_elastic'),
                            "Elasticsearch management" | trans,
                            "This link provides access to Elasticsearch index management." | trans
                        )
                    }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
