{% extends 'admin.html.twig' %}

{% macro table_row(hasAccess, route, linkText, description) %}
    {% if hasAccess %}
    <tr>
        <td><a class="bhr-a" href="{{ route }}">{{ linkText }}</a></td>
        <td>{{ description }}
    </tr>
    {% endif %}
{% endmacro %}

{% block body %}
<div class="bhr-container">
    <div class="px-11">
        <h1 class="bhr-title mb-6">{{ 'global.admin' | trans() }}</h1>

        <div class="bhr-card">
            <table class="bhr-table table-fixed">
                <thead>
                    <tr>
                        <th class="w-56 text-left" scope="col">{{ 'global.link' | trans }}</th>
                        <th class="text-left" scope="col">{{ 'global.description' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {{
                        _self.table_row(
                            matrix_has_permission('dossier.administration'),
                            path('app_admin_dossier_administration'),
                            'admin.decisions.manage' | trans,
                            'admin.decisions.manage_help' | trans()
                        )
                    }}
                    {{
                        _self.table_row(
                            matrix_has_permission('inquiry.administration'),
                            path('app_admin_inquiry_administration'),
                            'admin.inquiries.manage' | trans,
                            'admin.inquiries.manage_help' | trans
                        )
                    }}
                    {{
                        _self.table_row(
                            matrix_has_permission('stat.read'),
                            path('app_admin_stats'),
                            'admin.stats.manage' | trans,
                            'admin.stats.manage_help' | trans
                        )
                    }}
                    {{
                        _self.table_row(
                            matrix_has_permission('elastic.read'),
                            path('app_admin_elastic'),
                            'admin.elastic.manage' | trans,
                            'admin.elastic.mange_help' | trans
                        )
                    }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
