<div class="mt-16">
    <h2 class="woo-h2 woo-h2-spacing">{{ 'public.global.decisions' | trans() }}</h2>

    {% if dossiers.count > 0 %}
    <div class="woo-responsive-table">
        <table class="woo-table">
            <thead>
                <tr>
                    <th class="min-w-64" scope="col">{{ 'global.decision' | trans }}</th>
                    <th class="min-w-64 !text-right" scope="col">{{ 'global.decision_date' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for dossier in dossiers %}
                <tr>
                    <td><a class="woo-a" href="{{ path('app_woodecision_detail', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) }}">{{ dossier.title }}</a></td>
                    <td class="text-right">{{ dossier.decisionDate | format_date('long') }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>{{ 'public.dossiers.no_dossiers' | trans }}</p>
    {% endif %}
</section>
