<div class="bg-woo-anti-flash-white p-6">
    <div class="woo-readable-width">
    {% if dossiers.count > 0 %}
        <div class="woo-rich-text">
            <p class="font-bold">
                {{
                    "{number_of_decisions} made for case" | trans({
                        '{are_or_is}': "public.global.are_or_is" | trans({ 'count': dossiers.count }),
                        '{number_of_decisions}': "public.inquiries.number_of_decisions" | trans({ 'count': dossiers.count }),
                        '{case_number}': inquiry.casenr,
                    })
                }}:
            </p>

            {% set hasListItems = documentCount.public > 0 or documentCount.partial_public > 0 or documentCount.already_public > 0 or documentCount.not_public > 0 %}
            {% if hasListItems %}
            <ul class="!-mt-2">
                {% if documentCount.public > 0 %}
                    <li>{{ "public.inquiries.documents_made_public" | trans({ 'count': documentCount.public }) }}</li>
                {% endif %}
                {% if documentCount.partial_public > 0 %}
                    <li>{{ "public.inquiries.documents_made_partially_public" | trans({ 'count': documentCount.partial_public}) }}</li>
                {% endif %}
                {% if documentCount.already_public > 0 %}
                    <li>{{ "public.inquiries.documents_were_already_public" | trans({ 'count': documentCount.already_public}) }}</li>
                {% endif %}
                {% if documentCount.not_public > 0 %}
                    <li>{{ "public.inquiries.documents_wont_be_published" | trans({ 'count': documentCount.not_public}) }}</li>
                {% endif %}
            </ul>
            {% endif %}

            <p>
                <a href="{{ path('app_inquiry_inventory_download', {'token': inquiry.token}) }}">{{ "Download the inventory for casenumber {casenumber}" | trans({'{casenumber}': inquiry.casenr}) }}</a>
            </p>
        </div>
    {% else %}
        <p>
            {{ "At this moment no documents are available for the inquiry with casenumber {casenumber}" | trans({'casenumber': inquiry.casenr}) }}
        </p>
    {% endif %}
    </div>
</div>
