{% if wo_breadcrumbs()|length %}
    {%- apply spaceless -%}
        <nav class="-mx-4 py-2 sm:py-0" aria-label="{{ "You are here" | trans() }}">
            <ol class="flex flex-wrap leading-none">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a class="block px-4 sm:px-6 {{ loop.first ? 'sm:pl-4' : '' }} py-2 sm:py-7 {{ loop.last ? 'cursor-default' : '' }} sm:py-7 focus:-outline-offset-4 group" href="{{ breadcrumb.url }}" {% if loop.last %}aria-current="page"{% endif %}>
                            <span class="{{ loop.last ? 'font-bold' : 'group-hover:underline group-focus:underline' }}">{{- breadcrumb.text | trans() -}}</span>
                            {% if not loop.last %}<twig:Public:Icon class="absolute ml-1 sm:ml-2 -mt-px" size="20" name="chevron-right-thin" color="fill-black" />{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endapply %}
{% endif %}


