{% if wo_breadcrumbs()|length %}
    {%- apply spaceless -%}
        <nav class="-mx-4 py-2 sm:py-0" aria-label="{{ 'public.global.current_location' | trans() }}">
            <ol class="flex flex-wrap leading-none">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        {% if loop.last %}
                        <span class="block font-bold px-4 sm:px-6 py-2 sm:py-7" aria-current="page">{{- breadcrumb.text | trans() -}}</span>
                        
                        {% else %} 
                        
                        <a class="block px-4 sm:px-6 {{ loop.first ? 'sm:pl-4' : '' }} py-2 sm:py-7 focus:-outline-offset-4 group" href="{{ breadcrumb.url }}">
                            <span class="group-hover:underline group-focus:underline">{{- breadcrumb.text | trans() -}}</span>
                            <twig:Public:Icon class="absolute ml-1 sm:ml-2 -mt-px" size="20" name="chevron-right-thin" color="fill-black" />
                        </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endapply %}
{% endif %}


