{% extends 'public/base.html.twig' %}

{% set page_title = 'public.global.label.home' | trans() %}

{% block body %}
    <div class="woo-container woo-container--sm">
        <div class="pb-8 lg:pb-16 lg:-mt-4">
            <section class="woo-rich-text">
                <h1>
                    <span class="block mb-1">{{ 'public.intro.label.oga' | trans }}</span>
                    <span class="font-normal">{{ intro.title }}</span>
                </h1>

                {{ intro.content | render_markdown }}

                <p><twig:Public:ArrowedBoldLink to="{{ path('app_about') }}">{{ 'public.intro.more_about_platform' | trans }}</twig:Public:ArrowedBoldLink></p>
            </section>
        </div>
    </div>

    {% import "public/macros/facet.html.twig" as macro %}
    <section class="bg-woo-anti-flash-white py-8 lg:py-16">
        <div class="woo-container woo-container--sm">
            <h2 class="woo-h2 woo-readable-width pb-10">{{ 'public.browse.title' | trans | raw }}</h2>

            {{ macro.facet_preview('categories.category.type' | trans, constant('App\\Service\\Search\\Model\\FacetKey::TYPE'), facets, 'categories.category.type.go_to_plural' | trans) }}
            {{ macro.facet_preview('categories.category.department' | trans, constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT'), facets, 'categories.category.department.go_to_plural' | trans) }}
            {{ macro.facet_preview('categories.category.grounds' | trans, constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS'), facets, 'categories.category.grounds.go_to_plural' | trans) }}

            <p class="text-right">
                <twig:Public:ArrowedBoldLink to="{{ path('app_browse') }}">{{ 'categories.label.all-categories' | trans }}</twig:Public:ArrowedBoldLink>
            </p>
        </div>
    </section>

    <section class="pt-8 lg:pt-16">
        <div class="woo-container woo-container--sm">
            <div class="woo-rich-text">
                <h2>{{ other_publications.title }}</h2>
                {{ other_publications.content | render_markdown }}

                <h2>{{ woo_request.title }}</h2>
                {{ woo_request.content | render_markdown }}
            </div>
        </div>
    </section>
{% endblock %}
