{% extends 'base.html.twig' %}

{% set page_title = 'public.global.label.search_publications' | trans() %}

{% import "facet_macros.html.twig" as macro %}

{% block search_form_top %}<twig:Public:SearchForm />{% endblock %}

{% block body %}
<div class="woo-container">
    <div class="woo-rich-text woo-readable-width">
        <h1>{{ 'public.browse.facets.title' | trans }}</h1>
        <p>{{ 'public.browse.facets.description' | trans }}</p>
    </div>

    <div class="pt-8">
        {# {{ macro.facet_links('Department' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, result) }} #}
        {{ macro.facet_links('categories.category.subject' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SUBJECT').value, result) }}
        {{ macro.facet_links('categories.category.source_file' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SOURCE').value, result) }}
        {{ macro.facet_links('categories.category.judgement' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::JUDGEMENT').value, result) }}
        {{ macro.facet_links('categories.category.grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, result) }}
    </div>
</div>
{% endblock %}
