{% extends 'base.html.twig' %}

{% set page_title = "Search for documents and decisions" | trans() %}

{% import "facet_macros.html.twig" as macro %}

{% block search_form_top %}<twig:Public:SearchForm />{% endblock %}

{% block body %}
<div class="woo-container">
    <div class="woo-rich-text woo-readable-width">
        <h1>{{ "Browse decisions and published documents through the categories" | trans }}</h1>
        <p>{{ "All COVID-19 related Wob and Woo documents and decisions will be published on this website from September 2023. Decisions from the previous period can be found on wobcovid19.rijksoverheid.nl and will soon also be available here." | trans }}</p>
    </div>

    <div class="pt-8">
        {# {{ macro.facet_links('Department' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, result) }} #}
        {{ macro.facet_links('Subject' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SUBJECT').value, result) }}
        {{ macro.facet_links('Source document type' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SOURCE').value, result) }}
        {{ macro.facet_links('Judgement' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::JUDGEMENT').value, result) }}
        {{ macro.facet_links('Grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, result) }}
    </div>
</div>
{% endblock %}
