{% import "facet_macros.html.twig" as macro %}

{% set numberOfResults = result.entries | length %}
{% set numberOfPages = result.pagination.pageCount %}
{% set sortBy = app.request.query.get('sort') %}
{% set sortOrder = app.request.query.get('sortorder') %}

{% if sortBy == 'decision_date' %}
    {% set sortByText = 'Date of decision' | trans %}
{% elseif sortBy == 'publication_date' %}
    {% set sortByText = 'global.publication_date' | trans %}
{% endif %}
{% if sortOrder == 'desc' %}
    {% set sortOrderText = 'newest first' | trans %}
{% elseif sortOrder == 'asc' %}
    {% set sortOrderText = 'oldest first' | trans %}
{% endif %}

<div class="md:flex pb-3">
    <div class="grow">
        <h2 class="font-bold mt-2" aria-live="polite" id="js-number-of-search-results">
            {% if result.type == constant('App\\Service\\Search\\Model\\Config::TYPE_DOSSIER') %}
                {{ "global.number_of_dossiers" | trans({'count': result.dossierCount}) }}
            {% else %}
                {{ "global.number_of_documents" | trans({'count': result.documentCount}) }}
                <span class="font-normal">{{ "public.results.in_dossiers" | trans({'count': result.dossierCount}) }}</span>
            {% endif %}
        </h2>

        {# Suggestions #}
        {% set suggestionsId = constant('App\\ElasticConfig::SUGGESTIONS_SEARCH_INPUT') %}
        {% if result.suggestion(suggestionsId) is not null and result.suggestion(suggestionsId).entries|length %}
        <p class="italic pt-1">
            {% if result.suggestion(suggestionsId).entries | length == 1 %}
                {{ "Did you mean:" | trans }}
            {% else %}
                {{ "Did you mean any of the following search terms:" | trans }}
            {% endif %}
            {% for entry in result.suggestion(suggestionsId).entries %}
                {% if loop.last and loop.index > 1 %}{{ "global.or" | trans }}{% elseif not loop.first %}, {% endif %}
                <a class="woo-a" href="{{ path('app_home', { q: entry.name }) }}">{{ entry.name }}</a>{{loop.last ? '?' : '' }}
            {% endfor %}
        </p>
        {% endif %}

        {% if result.displayWithoutDateMessage %}
        <p class="text-sm woo-muted leading-none py-1">
            {{ 'search.results_without_date' | trans({'count': result.documentCountWithoutDate, '%pre_document%': '<a class="woo-a" href="?' ~ query_string_with_params({'dt[without_date]': 1}) ~ '">', '%post_document%': '</a>'}) | raw }}
        </p>
        {% endif %}
    </div>

    {# Only allow sorting if there is more than 1 result or when there's pagination (there can be 1 result on this page) #}
    {% if numberOfResults > 1 or numberOfPages > 1 %}
    <div class="shrink-0 md:ml-4 pt-3 md:pt-0">
        <details class="relative js-details">
            <summary class="woo-bordered-button woo-bordered-button--secondary" id="sort-results">
                {% if sortBy and sortOrder %}
                    {{ sortByText }} ({{ sortOrderText }})
                {% else %}
                    {{ "Sort" | trans }}
                {% endif %}
                <twig:Public:Icon class="woo-button-icon-right" name="sort" />
            </summary>

            <div aria-labelledby="sort-results" class="woo-overlay-card md:right-0 w-72 sm:w-96">
                {% macro sort_items(sortBy, sortText) %}
                    {{ _self.sort_item(sortBy, 'desc', sortText, 'newest first' | trans) }}
                    {{ _self.sort_item(sortBy, 'asc', sortText, 'oldest first' | trans) }}
                {% endmacro %}

                {% macro sort_item(sortBy, sortOrder, sortByText, sortOrderText) %}
                    <li class="group/li leading-none">
                        <a
                            class="block px-4 group/a"
                            href="?{{ query_string_with_params({'sort': sortBy, 'sortorder': sortOrder}) }}"
                        >
                            <span
                                class="block border-b border-woo-chinese-silver group-last/li:border-b-0 py-4 group-hover/a:underline group-focus/a:underline"
                            >{{ sortByText }} ({{ sortOrderText }})</span>
                        </a>
                    </li>
                {% endmacro %}

                <ul class="-mx-4 -my-2">
                    {{ _self.sort_items('decision_date', 'Date of decision' | trans) }}
                    {{ _self.sort_items('publication_date', 'global.publication_date' | trans) }}
                </ul>
            </div>
        </details>
    </div>
    {% endif %}
</div>

{% if has_facets(app.request) %}
    {# Facet pills #}
    <ul class="flex flex-wrap pb-1 gap-x-2">
        {{  macro.inquiry_facets(result) }}

        {% if is_valid_date(app.request.get('dt').from | default) %}
            {{ macro.facet_pill('Datum vanaf: ' ~ app.request.get('dt').from | default | format_date('long'), 'dt[from]', '') }}
        {% endif %}
        {% if is_valid_date(app.request.get('dt').to | default) %}
            {{ macro.facet_pill('Datum tot: ' ~ app.request.get('dt').to | default | format_date('long'), 'dt[to]', '') }}
        {% endif %}
        {% if app.request.get('dt').without_date | default is not empty %}
            {{ macro.facet_pill('Datum: niet beschikbaar', 'dt[without_date]', '') }}
        {% endif %}

        {{ macro.facet_pills('Department' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, result) }}
        {{ macro.facet_pills('categories.category.subject' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SUBJECT').value, result) }}
        {{ macro.facet_pills('categories.category.source_file' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SOURCE').value, result) }}
        {{ macro.facet_pills('categories.category.judgement' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::JUDGEMENT').value, result) }}
        {{ macro.facet_pills('categories.category.grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, result) }}
    </ul>
{% endif %}

{# Results #}
{% if numberOfResults > 0 %}
    <ul>
        {% for entry in result.entries %}
        <li class="woo-search-result" data-e2e-name="search-result">
            {% include "search/entries/" ~ entry.type.value ~ ".html.twig" %}
        </li>
        {% endfor %}
    </ul>
{% elseif app.request.query.get('q') %}
    <div class="pt-2 woo-rich-text">
        <h3 class="!font-normal">
            <twig:Public:Icon name="magnifier" color="fill-dim-gray" />
            {{ "No search results" | trans }}
        </h3>

        <p>{{ "No documents found related to {query}" | trans({ 'query': app.request.query.get('q') }) }}.</p>

        <h4>{{ "Suggestions" | trans }}:</h4>
        <ul>
            <li>{{ "Check query spelling" | trans }}</li>
            <li>{{ "Try a different search term" | trans }}</li>
            <li>{{ "Use less keywords" | trans }}</li>
        </ul>
    </div>
{% endif %}

{# Pagination #}
{% if numberOfPages > 1 %}
<div class="pt-8">
    {{ knp_pagination_render(result.pagination) }}
</div>
{% endif %}
