{% import "facet_macros.html.twig" as macro %}

<div>
    <div class="block">
        <div class="flex flex-col sm:flex-row justify-between sm:items-center gap-2">
            <h2 class="ro-text-base roe-font-normal" aria-live="polite" id="js-number-of-search-results">
                {% if result.type == constant('App\\Service\\Search\\Result\\ResultEntry::TYPE_DOSSIER') %}
                    <span class="ro-font-bold">{{ "# dossiers" | trans({'count': result.dossierCount}) }}</span>
                {% else %}
                   <span>
                        <span class="ro-font-bold">
                            {{ "# documents" | trans({'count': result.documentCount}) }}
                        </span>
                        <span>
                            {{ "in # dossiers" | trans({'count': result.dossierCount}) }}
                        </span>
                   </span>
                {% endif %}
            </h2>

            <section class="accordion m-0 p-0">
                <div class="accordion__container">
                    <button class="button button--light button--secondary flex items-center" aria-expanded="false" id="sort">
                        <span>{{ "Sort" | trans() }}</span>
                        <twig:Icon name="sort" />
                    </button>
                    <div aria-labelledby="sort" class="accordion-content">
                        <ul class="list-unstyled w-full">
                            <li>
                                <a href="?{{ query_string_with_params({'sort': 'decision_date', 'sortorder': 'desc'}) }}">{{ "Date of decision" | trans() }} ({{ "newest first" | trans() }})</a>
                            </li>
                            <li>
                                <a href="?{{ query_string_with_params({'sort': 'decision_date', 'sortorder': 'asc'}) }}">{{ "Date of decision" | trans() }} ({{ "oldest first" | trans() }})</a>
                            </li>
                            <li>
                                <a href="?{{ query_string_with_params({'sort': 'publication_date', 'sortorder': 'desc'}) }}">{{ "Date of publication" | trans() }} ({{ "newest first" | trans() }})</a>
                            </li>
                            <li>
                                <a href="?{{ query_string_with_params({'sort': 'publication_date', 'sortorder': 'asc'}) }}">{{ "Date of publication" | trans() }} ({{ "oldest first" | trans() }})</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

        {# Suggestions #}
        {% set suggestionsId = constant('App\\ElasticConfig::SUGGESTIONS_SEARCH_INPUT') %}
        {% if result.suggestion(suggestionsId) is not null and result.suggestion(suggestionsId).entries|length %}
        <p>
            <i>
                {% if result.suggestion(suggestionsId).entries | length == 1 %}
                    {{ "Did you mean:" | trans() }}
                {% else %}
                    {{ "Did you mean any of the following search terms:" | trans() }}
                {% endif %}
                {% for entry in result.suggestion(suggestionsId).entries %}
                    [ <strong><a href="{{ path('app_home', { q: entry.name|url_encode }) }}">{{ entry.name }}</a></strong> ]
                {% endfor %}
            </i>
        </p>
        {% endif %}
    </div>

    <div class="block pb-6">
    {% if has_facets(app.request) %}
        {# Facet pills #}
        <ul class="list-unstyled list-pills">
            {{  macro.inquiry_facets(result) }}

            {% if is_valid_date(app.request.get('dt').from | default) %}
                {{ macro.facet_pill('Datum vanaf: ' ~ app.request.get('dt').from | default | format_date('long'), 'dt[from]', '') }}
            {% endif %}
            {% if is_valid_date(app.request.get('dt').to | default) %}
                {{ macro.facet_pill('Datum tot: ' ~ app.request.get('dt').to | default | format_date('long'), 'dt[to]', '') }}
            {% endif %}

            {{ macro.facet_pills('Department' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, result) }}
            {# {{ macro.facet_pills('Official' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::OFFICIAL').value, result) }} #}
            {{ macro.facet_pills('Subject' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SUBJECT').value, result) }}
            {{ macro.facet_pills('Source document type' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SOURCE').value, result) }}
            {{ macro.facet_pills('Judgement' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::JUDGEMENT').value, result) }}
            {{ macro.facet_pills('Grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, result) }}
        </ul>
    {% endif %}
    </div>
</div>

{# Results #}
{% if result.entries | length > 0 %}
<ul class="list-unstyled list-results">
    {% for entry in result.entries %}
    <li>
        {% include "search/entries/" ~ entry.type ~ ".html.twig" %}
    </li>
    {% endfor %}
</ul>
{% elseif app.request.query.get('q') %}
<h2>
    <span aria-hidden="true" class="icon icon-search text-dim-gray relative -top-0.5 mr-2"></span>
    <span class="text-2xl font-normal">{{ "No search results" | trans }}</span>
</h2>

<p>{{ "No documents found related to {query}" | trans({ 'query': app.request.query.get('q') }) }}.</p>

<h3 class="mt-4 text-lg">{{ "Suggestions" | trans }}:</h3>
<ul class="ml-4">
    <li class="p-0">{{ "Check query spelling" | trans }}</li>
    <li class="p-0">{{ "Try a different search term" | trans }}</li>
    <li class="p-0">{{ "Use less keywords" | trans }}</li>
</ul>
{% endif %}

{# Pagination #}
{% if result.paginationEnabled %}
    {{ knp_pagination_render(result.pagination) }}
{% endif %}
