{% import "facet_macros.html.twig" as macro %}

<h2 class="woo-h2 woo-h2-spacing">Filters</h2>

<form class="form-filters" method="post" action="">
    <fieldset>
        <legend class="woo-legend">{{ 'public.global.date' | trans }}</legend>

        {% macro date_input(fromOrTo, label) %}
            <label class="block text-base mb-0.5" for="date-{{ fromOrTo }}">{{ label }}</label>
            <input class="woo-input-text" id="date-{{ fromOrTo }}" name="dt[{{ fromOrTo }}]" type="date" value="{{ app.request.get('dt')[fromOrTo] | default }}">
        {% endmacro %}

        <div class="grid gap-4 xs:grid-cols-2 md:grid-cols-1">
            <div>
                {{ _self.date_input('from', 'public.global.from' | trans) }}
            </div>

            <twig:Public:InputError css="hidden" id="filter-dates-error">
                {{ 'public.search.invalid_date_period' | trans }}
            </twig:Public:InputError>

            <div>
                {{ _self.date_input('to', 'public.global.to' | trans) }}
            </div>
        </div>
    </fieldset>

{#    {{ macro.facet_select('Department' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, result) }}#}
    {{ macro.facet_select('categories.category.type' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::TYPE').value, result) }}
    {{ macro.facet_select('categories.category.subject' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SUBJECT').value, result) }}
    {{ macro.facet_select('categories.category.source_file' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SOURCE').value, result) }}
    {{ macro.facet_select('categories.category.judgement' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::JUDGEMENT').value, result) }}
    {{ macro.facet_select('categories.category.grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, result) }}

    <input type="hidden" name="q" value="{{ app.request.get('q') }}"/>

    <div class="pt-8 js:hidden">
        <button class="woo-button woo-button--primary" type="submit">{{ 'public.search.filter_results' | trans() }}</button>
    </div>
</form>
