{% import "facet_macros.html.twig" as macro %}

<h2 class="woo-h2 woo-h2-spacing">Filters</h2>

<form class="form-filters" method="post" action="">
    <fieldset>
        <legend class="woo-legend">{{ 'public.global.date' | trans }}</legend>

        {% macro date_input(fromOrTo, label) %}
            <label class="block text-base mb-0.5" for="date-{{ fromOrTo }}">{{ label }}</label>
            <input class="woo-input-text" id="date-{{ fromOrTo }}" name="dt[{{ fromOrTo }}]" type="date" value="{{ app.request.get('dt')[fromOrTo] | default }}">
        {% endmacro %}

        <div class="grid gap-4 xs:grid-cols-2 md:grid-cols-1">
            <div>
                {{ _self.date_input('from', 'public.global.from' | trans) }}
            </div>

            <twig:Public:InputError css="hidden" id="filter-dates-error">
                {{ 'public.search.invalid_date_period' | trans }}
            </twig:Public:InputError>

            <div>
                {{ _self.date_input('to', 'public.global.to' | trans) }}
            </div>
        </div>
    </fieldset>

    {# <fieldset class="mt-4 js-filters-group" data-key="search-in">
        <legend class="w-full">
            <button
                class="woo-legend w-full text-left relative border-b border-woo-chinese-silver py-2 js-toggle-filters-group-button"
                type="button"
            >
                <span class="absolute left-0 -mt-0.5">
                    <twig:Public:IconBackground>
                        <twig:Public:Icon name="topic" size="16" />
                    </twig:Public:IconBackground>
                </span>
                <span class="pl-8">Zoeken in ...</span>
                <twig:Public:Icon class="absolute right-0 js-toggle-filters-group-button-icon" name="chevron-up-thin" />
            </button>
        </legend>

        <div class="js-filters-group-collapsible" id="filters-group-search-in">
            <div class="pb-2">
                <div class="woo-choice-row py-1">
                    <span>
                        <input
                            class="woo-choice-input"
                            type="checkbox"
                        >
                    </span>
                    <label class="grow cursor-pointer">
                        <span class="flex">
                            <span class="grow mr-2 text-base leading-tight">Beschikkingen</span>
                            <span class="woo-muted text-sm">(208)</span>
                        </span>
                    </label>
                </div>
                <div class="text-base text-woo-dim-gray leading-snug">
                    Schriftelijke beslissing over specifieke gevallen, niet van algemene strekking
                </div>

                <div class="pl-5 pt-1">
                    <fieldset>
                        <legend class="sr-only">Subcategorieën van "Beschikkingen"</legend>

                        <div class="woo-choice-row py-1">
                            <span>
                                <input
                                    class="woo-choice-input"
                                    type="checkbox"
                                >
                            </span>
                            <label class="grow cursor-pointer">
                                <span class="flex">
                                    <span class="grow mr-2 text-base leading-tight">Hoofddocumenten</span>
                                    <span class="woo-muted text-sm">(100)</span>
                                </span>
                            </label>
                        </div>
                        <div class="woo-choice-row py-1">
                            <span>
                                <input
                                    class="woo-choice-input"
                                    type="checkbox"
                                >
                            </span>
                            <label class="grow cursor-pointer">
                                <span class="flex">
                                    <span class="grow mr-2 text-base leading-tight">Bijlagen</span>
                                    <span class="woo-muted text-sm">(108)</span>
                                </span>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="pb-2">
                <div class="woo-choice-row py-1">
                    <span>
                        <input
                            class="woo-choice-input"
                            type="checkbox"
                        >
                    </span>
                    <label class="grow cursor-pointer">
                        <span class="flex">
                            <span class="grow mr-2 text-base leading-tight">Beschikkingen</span>
                            <span class="woo-muted text-sm">(208)</span>
                        </span>
                    </label>
                </div>
                <div class="text-base text-woo-dim-gray leading-snug">
                    Schriftelijke beslissing over specifieke gevallen, niet van algemene strekking
                </div>
            </div>
        </div>
    </fieldset> #}


    {# {{ macro.facet_select('Department' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, result) }} #}
    {{ macro.facet_select('categories.category.type' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::TYPE').value, result) }}
    {{ macro.facet_select('categories.category.subject' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SUBJECT').value, result) }}
    {{ macro.facet_select('categories.category.source_file' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SOURCE').value, result) }}
    {{ macro.facet_select('categories.category.judgement' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::JUDGEMENT').value, result) }}
    {{ macro.facet_select('categories.category.grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, result) }}

    <input type="hidden" name="q" value="{{ app.request.get('q') }}"/>

    <div class="pt-8 js:hidden">
        <button class="woo-button woo-button--primary" type="submit">{{ 'public.search.filter_results' | trans() }}</button>
    </div>
</form>
