{% import "facet_macros.html.twig" as macro %}

<h2 class="mb-6 leading-tight">Filters</h2>

<form class="form-filters" method="post" action="">
    <fieldset>
        <legend>{{ "Date" | trans() }}</legend>

        <label for="date-from">{{ "from" | trans() }}</label>
        <input class="js-date-filter" id="date-from" name="dt[from]" type="date" value="{{ app.request.get('dt').from | default }}">

        <label for="date-to">{{ "to" | trans() }}</label>
        <input class="js-date-filter" id="date-to" name="dt[to]" type="date" value="{{ app.request.get('dt').to | default }}">
    </fieldset>

{#    {{ macro.facet_select('Organization' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::DEPARTMENT').value, result) }}#}
    {# {{ macro.facet_select('Official' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::OFFICIAL').value, result) }} #}
    {{ macro.facet_select('Subject' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SUBJECT').value, result) }}
    {{ macro.facet_select('Document type' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::SOURCE').value, result) }}
    {{ macro.facet_select('Judgement' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::JUDGEMENT').value, result) }}
    {{ macro.facet_select('Grounds' | trans(), constant('App\\Service\\Search\\Model\\FacetKey::GROUNDS').value, result) }}

    <input type="hidden" name="q" value="{{ app.request.get('q') }}"/>

    <button class="js:hidden" type="submit">{{ "Filter results" | trans() }}</button>
</form>
