{% extends 'base.html.twig' %}

{% set page_title = pageTitle | trans %}

{% block body %}
<div class="woo-container woo-container--sm">
    <div class="woo-rich-text">
        <h1>{{ page_title }}</h1>

        <div class="woo-readable-width">
            {% if batch.status == constant('App\\Entity\\BatchDownload::STATUS_PENDING') %}
                <p>{{ 'public.documents.archive.download_suspended' | trans }}</p>
            {% endif %}

            {% if batch.status == constant('App\\Entity\\BatchDownload::STATUS_FAILED') %}
                <p>{{ 'public.documents.archive.download_error' | trans }}</p>
            {% endif %}
        </div>
    </div>

    {% if batch.status == constant('App\\Entity\\BatchDownload::STATUS_COMPLETED') %}
        <p class="woo-readable-width mb-6">
            {{ 'public.documents.archive.download_period' | trans({'date': batch.expiration | format_datetime('long') }) }}
        </p>

        <div class="woo-responsive-table">
            <table class="woo-table">
                <tbody>
                    <tr>
                        <th class="woo-table-cell-light w-64 min-w-64" scope="row">{{ 'global.file' | trans }}</th>
                        <td class="min-w-64">
                            <twig:Public:Icon name="zipper" color="fill-woo-dim-gray" class="mr-0.5 -mt-0.5" />
                            <span class="sr-only">{{ 'public.documents.file_type.zip' | trans }}</span>
                            <span class="break-all" data-e2e-name="file-name">{{ batch.filename }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="woo-table-cell-light" scope="row">{{ 'global.documents' | trans }}</th>
                        <td>{{ batch.documents | length }}</td>
                    </tr>
                    <tr>
                        <th class="woo-table-cell-light" scope="row">{{ 'global.expires' | trans }}</th>
                        <td><time datetime="{{ batch.expiration | date("Y-m-d") }}">{{ batch.expiration | format_datetime('long') }}</time></td>
                    </tr>
                    <tr>
                        <th class="woo-table-cell-light" scope="row">{{ "global.link" | trans }}</th>
                        <td>
                            <a class="woo-a" data-e2e-name="download-file-link" href="{{ download_path }}" download>{{ 'public.global.download_verb' | trans }}</a> ({{ batch.size | size }})
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
