{% macro pagination_anchor(pageNumber, currentPageNumber, query, pageParameterName, fragment) %}
    {% set isActive = pageNumber == currentPageNumber %}
    <a
        {% if isActive %}aria-current="page"{% endif %}
        class="inline-block px-4 py-2.5 rounded-lg hover:bg-anti-flash-white transition-colors {{ isActive ? 'bg-light-silver cursor-default font-bold' : '' }}"
        href="?{{ query|merge({(pageParameterName): pageNumber}) | url_encode }}{{ fragment }}"
    >
        <span class="sr-only">{{ "Page" | trans() }}</span> {{ pageNumber }}
    </a>
{% endmacro %}

{% if pageCount > 1 %}
    {% set fragment = fragment|default("#resultaten") %}

    <nav class="px-6 pt-6" aria-label="{{ "Pagination" | trans() }}">
        <ul class="flex justify-center relative items-center">
            {% if previous is defined %}
            <li class="absolute left-0">
                <a class="bhr-button bhr-button--secondary bhr-button--with-icon-left" href="?{{ query|merge({(pageParameterName): previous}) | url_encode }}{{ fragment }}" rel="prev">
                    <span class="bhr-button__icon bhr-button__icon--left">
                        <twig:Admin:Icon name="chevron-left" size="20" />
                    </span>
                    {{ "Previous" | trans }}
                </a>
            </li>
            {% endif %}

            {% if startPage > 1 %}
                <li>{{ _self.pagination_anchor(1, current, query, pageParameterName, fragment) }}</li>
                {% if startPage == 3 %}
                    <li>{{ _self.pagination_anchor(2, current, query, pageParameterName, fragment) }}</li>
                {% elseif startPage != 2 %}
                    <li>&hellip;</li>
                {% endif %}
            {% endif %}

            {% for pageNumber in pagesInRange %}
                <li>
                    {{ _self.pagination_anchor(pageNumber, current, query, pageParameterName, fragment) }}
                </li>
            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li>&hellip;</li>
                    {% else %}
                        <li>{{ _self.pagination_anchor(pageCount - 1, current, query, pageParameterName, fragment) }}</li>
                    {% endif %}
                {% endif %}
                <li>{{ _self.pagination_anchor(pageCount, current, query, pageParameterName, fragment) }}</li>
            {% endif %}

            {% if next is defined %}
            <li class="absolute right-0">
                <a class="bhr-button bhr-button--secondary bhr-button--with-icon-right" href="?{{ query|merge({(pageParameterName): next}) | url_encode }}{{ fragment }}" rel="next">
                    {{ "Next" | trans }}
                    <span class="bhr-button__icon bhr-button__icon--right">
                        <twig:Admin:Icon name="chevron-right" size="20" />
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
