{% set targetAnchor = options.fragment|default('') %}
{% set iconName = sorted ? ( direction == 'desc' ? 'sort-down' : 'sort-up' ) : null %}
{% set ariaSortValue = sorted ? ( direction == 'desc' ? 'descending' : 'ascending' ) : 'none' %}

<th aria-sort="{{ ariaSortValue }}" class="{{ options.thClassName|default('') }}" scope="col">
    <a href="{{ options.href }}{{ targetAnchor }}">
        {{ title }}
        {% if iconName %}
            <twig:Public:Icon class="-mt-0.5" name="{{ iconName }}" />
        {% endif %}
    </a>
</th>
