{% extends 'admin.html.twig' %}

{% set page_title = 'admin.inquiries.manage' | trans %}

{% block body %}
<div class="bhr-container">
    {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}

    <h1 class="bhr-title pb-6">{{ page_title }}</h1>

    <div class="bhr-card">
        {% set alerts = app.flashes('backend') %}
        {% if alerts | length > 0 %}
            <div class="mb-8">
                {% for messages in alerts %}
                    {% for label, message in messages %}
                        <twig:Admin:Alert type="{{ label }}">
                            <strong>{{ message }}</strong>
                        </twig:Admin:Alert>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% if inquiries | length > 0 %}
            <table class="bhr-table">
                <thead>
                    <tr>
                        <th class="bhr-column-head bhr-column-head--gray" scope="col">Case nr</th>
                        <th class="bhr-column-head bhr-column-head--gray border-r-0" scope="col">Database ID</th>
                        <th class="bhr-column-head bhr-column-head--gray" scope="col">
                            <span class="sr-only">{{ 'global.details'| trans }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for inquiry in inquiries %}
                        {% set url = path('app_admin_inquiry_administration_details', {casenr: inquiry.casenr}) %}
                        <tr class="bhr-clickable-row">
                            <td>
                                <a class="bhr-fill-cell" href="{{ url }}">
                                    {{ inquiry.casenr }}
                                </a>
                            </td>
                            <td>
                                <a class="bhr-fill-cell" href="{{ url }}">
                                    {{ inquiry.id }}
                                </a>
                            </td>
                            <td class="text-right">
                                <a class="bhr-fill-cell" href="{{ url }}">
                                    <span class="sr-only">{{ 'global.details' | trans }} {{ inquiry.casenr }}</span>
                                    <twig:Admin:Icon name="chevron-right" />
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">
                Er zijn nog geen zaken aangemaakt.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
