{% extends 'admin.html.twig' %}

{% set page_title = "Inquiry administration" | trans %}

{% block body %}
<div class="bhr-container">
    {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}

    <h1 class="bhr-title">{{ page_title }}</h1>
    <div class="bhr-card">
        {% set alerts = app.flashes('backend') %}
        {% if alerts | length > 0 %}
            <div class="mb-8">
                {% for messages in alerts %}
                    {% for label, message in messages %}
                        <twig:Admin:Alert type="{{ label }}">
                            <strong>{{ message }}</strong>
                        </twig:Admin:Alert>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% if inquiries | length > 0 %}
            <table class="bhr-table">
                <thead>
                    <tr>
                        <th class="bhr-column-head bhr-column-head--gray" scope="col">Case nr</th>
                        <th class="bhr-column-head bhr-column-head--gray" scope="col">Database ID</th>
                        <th class="bhr-column-head bhr-column-head--gray" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for inquiry in inquiries %}
                    <tr>
                        <td>{{ inquiry.casenr }}</td>
                        <td>{{ inquiry.id }}</td>
                        <td>
                            <a class="js-clickable-row__focusable" href="{{ path('app_admin_inquiry_administration_details', {casenr: inquiry.casenr}) }}">
                                <span class="sr-only">{{ 'global.details' | trans() }} {{ inquiry.casenr }}</span>
                                <twig:Admin:Icon name="chevron-right" />
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">
                Er zijn nog geen zaken aangemaakt.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
