<header class="woo-search-result__header">
    <h3 class="woo-search-result__title">
        <a
            class="woo-search-result__main-link"
            data-e2e-name="main-link"
            href="{{ path('app_document_detail', { prefix: entry.dossiers[0].documentPrefix, dossierId: entry.dossiers[0].dossierNr, documentId: entry.document.documentNr }) }}"
        >{{ entry.document.fileInfo.name }}</a>
    </h3>

     <ul class="woo-search-result__spec-list">
        <li class="woo-search-result__spec">
            <twig:Public:Icon name="{{ entry.document.fileInfo.sourceType }}" class="mr-1" size="20" />
            {{ entry.document.fileInfo.sourceType | trans }}
        </li>
        {% if entry.document.fileInfo.isUploaded %}
        <li class="woo-search-result__spec">{{ "# pages" | trans({"count": entry.document.pagecount})}}</li>
        {% endif %}
        <li class="woo-search-result__spec">{{ entry.document.judgement.value | decision }}</li>
    </ul>
</header>

{% if entry.highlights | length > 0 %}
<p class="mt-1">
    {% for hl in entry.highlights %}
        ... {{ hl | highlights }} {% if loop.last %}...{% endif %}
    {% endfor %}
</p>
{% endif %}

<ul class="woo-search-result__spec-list">
    <li class="woo-search-result__spec">
        {% if entry.document.documentDate is not empty %}
            <time datetime="{{ entry.document.documentDate | date("Y-m-d") }}">
                {{ entry.document.documentDate | format_date('long') }}
            </time>
        {% else %}
            {{ 'document.date.date_not_available' | trans }}
        {% endif %}
    </li>
    {% if entry.document.fileInfo.isUploaded %}
    <li class="woo-search-result__spec">
        {{ entry.document.fileInfo.size | size}}
    </li>
    {% endif %}
    <li class="woo-search-result__spec">
        {{ "Document number" | trans() }} {{ entry.document.documentId }}
    </li>
</ul>

{% if entry.dossiers | length > 0 %}
<ul class="mt-1 woo-muted">
    {% for dossier in entry.dossiers %}
    <li>
        <a class="woo-a" href="{{ path('app_dossier_detail', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}">{{ dossier.title }}</a>
        {{dossier.dossierNr}}
    </li>
    {% endfor %}
</ul>
{% endif %}
