{% extends 'search/entries/base.html.twig' %}

{% set resultUrl = path('app_document_detail', { prefix: entry.dossiers[0].documentPrefix, dossierId: entry.dossiers[0].dossierNr, documentId: entry.viewmodel.documentNr }) %}
{% set resultTitle = entry.viewmodel.fileInfo.name %}
{% set hasRoundedIcon = false %}
{% set resultIconName = entry.viewmodel.fileInfo.sourceType %}

{% block resultType %}
    {{ entry.viewmodel.fileSourceType | trans }}
{% endblock %}

{% block resultTypeSpecs %}
    {% if entry.viewmodel.fileInfo.isUploaded %}
        <li class="woo-search-result__spec">{{ "global.number_of_pages" | trans({"count": entry.viewmodel.pageCount})}}</li>
    {% endif %}
    <li class="woo-search-result__spec">{{ entry.viewmodel.judgement | trans }}</li>
{% endblock %}

{% block resultSummary %}
    {% if entry.highlights | length > 0 %}
        <p class="mt-1">
            {% for hl in entry.highlights %}
                ... {{ hl | highlights }} {% if loop.last %}...{% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}

{% block resultSpecsBottom %}
    <li class="woo-search-result__spec">
        {% if entry.viewmodel.documentDate is not empty %}
            <time datetime="{{ entry.viewmodel.documentDate | date("Y-m-d") }}" data-e2e-name="document-date">
                {{ entry.viewmodel.documentDate | format_date('long') }}
            </time>
        {% else %}
            {{ 'global.date_not_available' | trans }}
        {% endif %}
    </li>
    {% if entry.viewmodel.fileInfo.isUploaded %}
    <li class="woo-search-result__spec">
        {{ entry.viewmodel.fileInfo.size | size}}
    </li>
    {% endif %}
    <li class="woo-search-result__spec">
        {{ 'global.document_number' | trans() }} {{ entry.viewmodel.documentId }}
    </li>
{% endblock %}

{% block resultRelated %}
    {% if entry.dossiers | length > 0 %}
        <ul class="mt-1 woo-muted">
            {% for dossier in entry.dossiers %}
                <li>
                    <twig:Public:Icon name="part-of" size="20" />
                    <span>{{ 'global.part_of' | trans | capitalize }}</span> <a class="woo-a woo-a--search-result" href="{{ path('app_woodecision_detail', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}">{{ dossier.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
