<header class="woo-search-result__header">
    <h3 class="woo-search-result__title">
        <a
            class="woo-search-result__main-link"
            data-e2e-name="main-link"
            href="{{ path('app_investigationreport_detail', { prefix: entry.dossier.documentPrefix, dossierId: entry.dossier.dossierNr }) }}"
        >{{ entry.dossier.title }}</a>
    </h3>

    <ul class="woo-search-result__spec-list">
        <li class="woo-search-result__spec">
            <twig:Public:Icon name="map" class="mr-1" size="20" />
            <span class="font-bold">{{ 'dossier.type.investigation-report' | trans }}</span>
        </li>
        <li class="woo-search-result__spec">{{ "global.number_of_documents" | trans({"count": entry.dossier.documentCount })}}</li>
    </ul>
</header>

{% if entry.dossier.summary %}
<p class="mt-1">{{ entry.dossier.summary | u.truncate(200, '...', false) }}</p>
{% endif %}

{% if entry.highlights | length > 0 %}
<p class="mt-1">
    {% for hl in entry.highlights %}
        ... {{ hl | highlights }} {% if loop.last %}...{% endif %}
    {% endfor %}
</p>
{% endif %}

<ul class="woo-search-result__spec-list">
    <li class="woo-search-result__spec">
        {{ 'public.dossiers.investigation-report.date' | trans }} <twig:Date date="{{ entry.dossier.date }}" />
    </li>
    <li class="woo-search-result__spec">
        {{ 'global.published_on' | trans | capitalize }} <twig:Date date="{{ entry.dossier.publicationDate }}" />
    </li>
</ul>
