{% extends 'search/entries/base.html.twig' %}

{% set resultUrl = entry.viewmodel.detailsUrl %}
{% set resultTitle = entry.viewmodel.name %}
{% set hasRoundedIcon = false %}
{% set resultIconName = entry.viewmodel.sourceType %}

{% block resultType %}
    {{ ('public.documents.file_type.' ~ entry.viewmodel.sourceType) | trans }}
{% endblock %}

{% block resultTypeSpecs %}
    {% if entry.viewmodel.pageCount > 0 %}
        <li class="woo-search-result__spec">{{ 'global.number_of_pages' | trans({ 'count': entry.viewmodel.pageCount })}}</li>
    {% endif %}
{% endblock %}

{% block resultSummary %}
    {% if entry.highlights | length > 0 %}
        <p class="mt-1">
            {% for hl in entry.highlights %}
                ... {{ hl | highlights }} {% if loop.last %}...{% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}

{% block resultSpecsBottom %}
    <li class="woo-search-result__spec">
        {% if entry.viewmodel.formalDate is not empty %}
            <twig:Date date="{{ entry.viewmodel.formalDate }}" />
        {% else %}
            {{ 'global.date_not_available' | trans }}
        {% endif %}
    </li>
    <li class="woo-search-result__spec">
        {{ entry.viewmodel.size | size}}
    </li>
{% endblock %}

{% block resultRelated %}
    {% if entry.dossiers | length > 0 %}
        <ul class="mt-1 woo-muted">
            {% for dossier in entry.dossiers %}
            <li>
                <twig:Public:Icon name="part-of" size="20" />
                <span>{{ 'global.part_of' | trans | capitalize }}</span> <a class="woo-a woo-a--search-result" href="{{ dossier_details_path(dossier) }}">{{ dossier.title }}</a>
                {{dossier.dossierNr}}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
