{% extends 'admin/base.html.twig' %}
{% import "admin/macros/document.html.twig" as macro %}

{% set page_title = "Dossier " | trans() ~ dossier.dossierNr %}
{% set uploadStatus = dossier.uploadStatus %}
{% set firstOpenStep = workflowStatus.firstOpenStep.stepName.value | default %}
{% set notifications = get_dossier_notifications(dossier) %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <div class="mb-8">
        <h1 class="mb-2">
            <span class="block text-lg font-normal mb-2 text-bhr-black-olive">{{ 'admin.global.decision_on' | trans() }}</span>
            <span class="bhr-title-lg">{{ dossier.title }}</span>
        </h1>
        <span data-e2e-name="dossier-status"><twig:Admin:DossierStatusBadge status="{{ dossier.status }}" /></span>
    </div>

    {% if notifications.hasAnyDocumentNotifications %}
        <div class="mb-4" data-e2e-name="has-document-notifications">
            <twig:Admin:Alert type="danger">
                {{ 'admin.dossiers.documents.needs_work' | trans | raw }}
            </twig:Admin:Alert>
        </div>
    {% endif %}

    <section class="bhr-card">
        <twig:Admin:LeftAndRight>
            <h2 class="bhr-title">{{ 'admin.dossiers.workflow.details' | trans() }}</h2>

            <twig:block name="right">
                {% if matrix_has_permission('dossier.update') %}
                <a class="bhr-btn-bordered-primary" href="{{ path(workflowStatus.detailsPath, {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) }}" data-e2e-name="edit-basic-details">{{ 'admin.global.edit' | trans() }} <span class="sr-only">({{ 'admin.dossiers.workflow.details' | trans() }})</span></a>
                {% endif %}
            </twig:block>
        </twig:Admin:LeftAndRight>

        <dl class="text-lg">
            <twig:Admin:Definition term="{{ 'admin.global.subject' | trans() }}">
                <span data-e2e-name="dossier-title">{{ dossier.title }}</span>
            </twig:Admin:Definition>

            <twig:Admin:Definition term="{{ 'global.period' | trans() }}">
                {% if period(dossier.dateFrom, dossier.dateTo) %}
                    <span data-e2e-name="dossier-dates">{{ period(dossier.dateFrom, dossier.dateTo) }}</span>
                {% endif %}
            </twig:Admin:Definition>

            <twig:Admin:Definition term="{{ 'admin.global.publication_reason' | trans() }}">
                <span data-e2e-name="dossier-publicationReason">{{ dossier.publicationReason | trans }}</span>
            </twig:Admin:Definition>

            <twig:Admin:Definition term="{{ 'admin.global.decision_number' | trans() }}">
                <span data-e2e-name="dossier-dossierNumber">{{ dossier.dossierNr }}</span>
            </twig:Admin:Definition>

            <twig:Admin:Definition term="{{ 'admin.global.responsible_department' | trans() }}">
                <span data-e2e-name="dossier-department">{{ dossier.departments[0].name | default('admin.global.no_record' | trans()) }}</span>
            </twig:Admin:Definition>

            <twig:Admin:Definition term="{{ 'admin.global.subject' | trans }}">
                {{ dossier.subject.name | default('admin.global.no_record' | trans) }}
            </twig:Admin:Definition>
        </dl>
    </section>

    <section class="bhr-card mt-10">
        <twig:Admin:LeftAndRight>
            <h2 class="bhr-title">{{ 'global.decision' | trans }}</h2>

            <twig:block name="right">
                {% if matrix_has_permission('dossier.update') %}
                {% if workflowStatus.isReadyForDecision %}
                <a class="bhr-btn-bordered-primary" href="{{ path(workflowStatus.decisionPath, {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) }}" data-e2e-name="edit-decision">{{ 'admin.global.edit' | trans() }} <span class="sr-only">({{ 'admin.dossiers.workflow.details' | trans() }})</span></a>
                {% endif %}
                {% endif %}
            </twig:block>
        </twig:Admin:LeftAndRight>

        {% if dossier.status.isPubliclyAvailableOrScheduled or workflowStatus.isReadyForDecision %}
        <dl class="text-lg">
            <twig:Admin:Definition term="{{ 'categories.category.judgement' | trans() }}">
                {% if dossier.decision is defined %}
                    <span data-e2e-name="dossier-decision">{{ dossier.decision | trans }}</span>
                {% endif %}
            </twig:Admin:Definition>

            <twig:Admin:Definition term="{{ 'global.summary' | trans() }}">
                <span data-e2e-name="dossier-summary">{{ dossier.summary | default('admin.global.no_record' | trans()) }}</span>
            </twig:Admin:Definition>

            <twig:Admin:Definition term="Bijlage met officieel besluit">
                {% if mainDocument is defined and mainDocument is not null %}
                    <twig:Admin:DownloadFile
                        href="{{ mainDocument.downloadUrl }}"
                        mimeType="{{ mainDocument.mimeType }}"
                        text="{{ mainDocument.name }}"
                    />
                {% else %}
                    {{ 'admin.global.no_record' | trans }}
                {% endif %}
            </twig:Admin:Definition>

            {% if attachments | length > 0 %}
            <twig:Admin:Definition term="Bijlagen">
                <ul>
                    {% for attachment in attachments %}
                        <li class="pt-0.5" data-e2e-name="dossier-decisionDownloadLink">
                            <twig:Admin:DownloadFile
                                href="{{ attachment.downloadUrl }}"
                                mimeType="{{ attachment.mimeType }}"
                                text="{{ attachment.name }}"
                            />
                        </li>
                    {% endfor %}
                </ul>
            </twig:Admin:Definition>
            {% endif %}

            <twig:Admin:Definition term="{{ 'global.decision_date' | trans() }}">
                <time datetime="{{ dossier.decisionDate | date("Y-m-d") }}" data-e2e-name="dossier-decisionDate">{{ dossier.decisionDate | format_date('long') }}</time>
            </twig:Admin:Definition>
        </dl>
        {% else %}
            <p class="font-bold text-lg text-center py-6">{{ ("admin.dossiers.woo-decision.complete_step." ~ firstOpenStep) | trans }}</p>
        {% endif %}
    </section>

    <section id="documents" class="bhr-card mt-10" data-e2e-name="documents-section">
        <twig:Admin:LeftAndRight>
            <h2 class="bhr-title">{{ 'global.documents' | trans }}{% if dossier.needsInventoryAndDocuments and workflowStatus.isReadyForDocuments and dossier.inventory is not null %} ({{ uploadStatus.actualUploadCount }}/{{ uploadStatus.expectedUploadCount }}){%endif %}</h2>

                <twig:block name="right">
                    {% if matrix_has_permission('dossier.update') and dossier.needsInventoryAndDocuments and workflowStatus.isReadyForDocuments %}
                        <a
                            class="bhr-btn-bordered-primary"
                            data-e2e-name="edit-link"
                            href="{{ path(workflowStatus.documentsPath, {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) }}"
                        >Bewerken <span class="sr-only">(documenten)</span></a>
                    {% endif %}
                </twig:block>
        </twig:Admin:LeftAndRight>

        {% if not dossier.needsInventoryAndDocuments %}
            <p class="font-bold text-lg text-center py-6">{{ 'public.dossiers.not_applicable' | trans({'decision': dossier.decision | trans}) }}</p>
        {% elseif dossier.status.isPubliclyAvailableOrScheduled or workflowStatus.isReadyForDocuments %}
            <dl class="text-lg">
                <twig:Admin:Definition term="{{ 'public.dossiers.production_report' | trans() }}">
                    <span data-e2e-name="dossier-inventoryFile">
                    {% if dossier.productionReport is not null  %}
                        <twig:Admin:IconLink
                            href="{{ path('app_admin_dossier_file_download', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, type: constant('App\\Domain\\Publication\\Dossier\\FileProvider\\DossierFileType::PRODUCTION_REPORT').value}) }}"
                            icon="file-csv"
                            text="{{ dossier.productionReport.fileInfo.name }}"
                        />
                    {% else %}
                        {{ 'admin.global.no_record' | trans() }}
                    {% endif %}
                    </span>
                </twig:Admin:Definition>

                <twig:Admin:Definition term="{{ 'global.documents' | trans() }}">
                    <p data-e2e-name="dossier-uploadCount">{{ uploadStatus.actualUploadCount }}{% if dossier.inventory is not null  %} van {{ uploadStatus.expectedUploadCount }}{% endif %} bestanden geüpload</p>

                    {% if matrix_has_permission('dossier.update') and dossier.needsInventoryAndDocuments and workflowStatus.isReadyForDocuments %}
                    <p class="mt-3">
                        <twig:Admin:IconLink
                            href="{{ path(workflowStatus.documentsPath, {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) }}"
                            icon="folder"
                            text="Naar documenten"
                        />
                    </p>
                    {% endif %}
                </twig:Admin:Definition>
            </dl>

            {% if notifications.hasAnyDocumentNotifications %}
                <div class="my-4" data-e2e-name="document-notifications">
                    <twig:Admin:Alert type="danger">
                        {% if notifications.missingUploads > 0 %}
                            {{ 'admin.dossiers.documents.number_to_upload' | trans({'count': notifications.missingUploads})}}
                        {% endif %}
                        {% if notifications.withdrawnDocuments > 0 %}
                            {{ 'admin.dossiers.documents.withdrawn' | trans({'count': notifications.withdrawnDocuments}) }}
                        {% endif %}
                        {% if notifications.suspendedDocuments > 0 %}
                            {{ 'admin.dossiers.documents.suspended' | trans({'count': notifications.suspendedDocuments}) }}
                        {% endif %}
                    </twig:Admin:Alert>
                </div>
            {% endif %}
        {% else %}
            <p class="font-bold text-lg text-center py-6">{{ ("admin.dossiers.woo-decision.complete_step." ~ firstOpenStep) | trans }}</p>
        {% endif %}
    </section>

    <section class="bhr-card mt-10" data-e2e-name="dossier-documents">
        <twig:Admin:LeftAndRight>
            <div class="flex items-center">
                <h2 class="bhr-title mr-3">{{ 'admin.global.publication' | trans }}</h2>
                <twig:Admin:DossierStatusBadge status="{{ dossier.status }}" />
            </div>

            <twig:block name="right">
                {% if matrix_has_permission('dossier.update') %}
                {% if workflowStatus.isReadyForPublication %}
                    <a class="bhr-btn-bordered-primary" href="{{ path(workflowStatus.publicationPath, {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) }}">{{ 'admin.global.edit' | trans }} <span class="sr-only">({{ 'admin.global.publication' | trans }})</span></a>
                {% endif %}
                {% endif %}
            </twig:block>
        </twig:Admin:LeftAndRight>

        {% if dossier.status.isPubliclyAvailableOrScheduled or workflowStatus.publicationStep.isCompleted %}
            <dl class="text-lg">
                {% if dossier.previewDate is defined %}
                <twig:Admin:Definition term="{{ dossier.hasFuturePreviewDate ? 'global.publication.preview_planned' | trans : 'global.publication.preview_on' | trans() }}">
                    <time datetime="{{ dossier.previewDate | date("Y-m-d") }}">{{ dossier.previewDate | format_date('long') }}</time>
                </twig:Admin:Definition>
                {% endif %}

                <twig:Admin:Definition term="{{ dossier.hasFuturePublicationDate ? 'global.publication_planned' | trans : 'global.published_on' | trans() }}">
                    {% if dossier.publicationDate is defined %}
                        <time datetime="{{ dossier.publicationDate | date("Y-m-d") }}">{{ dossier.publicationDate | format_date('long') }}</time>
                    {% else %}
                        {{ 'admin.global.no_record' | trans() }}
                    {% endif %}
                </twig:Admin:Definition>

                {% if workflowStatus.isPubliclyAvailable or dossier.hasFuturePreviewDate %}
                <twig:Admin:Definition term="{{ 'admin.dossiers.decision.public_link' | trans }}">
                    {% set publicDossierUrl = PUBLIC_BASE_URL ~ path('app_woodecision_detail', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) %}
                    <twig:Admin:CopyToClipboardLayout copy="{{ publicDossierUrl }}">
                        <a class="bhr-a" href="{{ publicDossierUrl }}" data-e2e-name="public-url">
                            {{ publicDossierUrl }}
                        </a>
                    </twig:Admin:CopyToClipboardLayout>
                </twig:Admin:Definition>

                <twig:Admin:Definition term="{{ 'admin.dossiers.decision.inquiry_link' | trans }}">
                    {% set case_options = {
                        'href': '/',
                        'thClassName': 'w-40'
                    } %}
                    {% if dossier.inquiries | length %}
                        <div class="text-base text-black">
                            <table class="bhr-table table-fixed">
                                <thead>
                                    {% include 'admin/layout/sort.html.twig' with {'title': 'Zaaknummer', 'sorted': true, direction: 'desc', 'options': case_options, 'sortClassName': 'js-sort-table-toggler'} %}
                                    <th class="bhr-column-head" scope="col">Link voor verzoeker</th>
                                </thead>
                                <tbody data-e2e-name="linked-inquiries">
                                    {% for inquiry in dossier.inquiries|sort((a, b) => a.casenr <=> b.casenr) %}
                                    <tr>
                                        <td>{{ inquiry.casenr }}</td>
                                        <td class="pr-0!">
                                            {% set url = PUBLIC_BASE_URL ~ path('app_inquiry_detail', {token: inquiry.token}) %}
                                            <twig:Admin:CopyToClipboardLayout copy="{{ url }}">
                                                <a class="bhr-a" href="{{ url }}">
                                                    {{ url }}
                                                </a>
                                            </twig:Admin:CopyToClipboardLayout>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        Dit besluit heeft geen zaaknummers
                    {% endif %}
                </twig:Admin:Definition>
                {% endif %}
            </dl>
        {% else %}
            <p class="font-bold text-lg text-center py-6">{{ ("admin.dossiers.woo-decision.complete_step." ~ firstOpenStep) | trans }}</p>
        {% endif %}
    </section>

    {% set canWithdrawDocuments = not workflowStatus.isConcept %}
    {% set canDeleteDossier = matrix_has_permission('dossier.delete') %}

    {% if not dossier.needsInventoryAndDocuments %}
        <section class="bhr-card mt-10" data-e2e-name="danger-zone">
            <h2 class="bhr-title mb-6">{{ 'admin.global.danger_zone' | trans }}</h2>
            <p>{{ 'admin.dossiers.woo-decision.no_docs' | trans }}</p>
            {% if canDeleteDossier %}
                <h3 class="font-bold{% if canWithdrawDocuments %} mt-10{% endif %}">{{ 'admin.dossiers.decision.delete' | trans }}</h3>
                {% if workflowStatus.isConcept %}
                    <a class="bhr-btn-filled-danger mt-10" data-e2e-name="delete-dossier-link" href="{{ path('app_admin_dossier_delete', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}">{{ 'admin.dossiers.woo-decision.withdraw_decision' | trans }}</a>
                {% else %}
                    <p>{{ 'admin.dossiers.decision.delete.can_not_be_deleted' | trans }}</p>
                {% endif %}
            {% endif %}
        </section>
    {% endif %}

    {% if dossier.needsInventoryAndDocuments and (canWithdrawDocuments or canDeleteDossier) %}
        <section class="bhr-card mt-10" data-e2e-name="danger-zone">
            <h2 class="bhr-title mb-6">{{ 'admin.global.danger_zone' | trans }}</h2>

            {% if canWithdrawDocuments %}
                <h3 class="font-bold">{{ 'admin.dossiers.decision.documents.withdraw_all' | trans }} </h3>
                <ul class="bhr-ul mb-4">
                    <li class="bhr-li">{{ 'admin.dossiers.decision.documents.withdraw_all.bullet_1' | trans }}</li>
                    <li class="bhr-li">{{ 'admin.dossiers.decision.documents.withdraw_all.bullet_2' | trans }}</li>
                    <li class="bhr-li">{{ 'admin.dossiers.decision.documents.withdraw_all.bullet_3' | trans }}</li>
                    <li class="bhr-li">{{ 'admin.dossiers.decision.documents.withdraw_all.bullet_4' | trans }}</li>
                </ul>
                <a class="bhr-btn-filled-danger" data-e2e-name="withdraw-documents-link" href="{{ path('app_admin_dossier_withdraw_all_documents', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}">{{ 'admin.dossiers.decision.documents.withdraw_all' | trans }}</a>
            {% endif %}

            {% if canDeleteDossier %}
                <h3 class="font-bold{% if canWithdrawDocuments %} mt-10{% endif %}">{{ 'admin.dossiers.decision.delete' | trans }}</h3>
                {% if workflowStatus.isConcept %}
                    <ul class="bhr-ul mb-4">
                        <li class="bhr-li">{{ 'admin.dossiers.decision.delete.bullet_1' | trans }}</li>
                        <li class="bhr-li">{{ 'admin.dossiers.decision.delete.bullet_2' | trans }}</li>
                        <li class="bhr-li">{{ 'admin.dossiers.decision.delete.bullet_3' | trans }}</li>
                    </ul>
                    <a class="bhr-btn-filled-danger" data-e2e-name="delete-dossier-link" href="{{ path('app_admin_dossier_delete', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}">Besluit verwijderen</a>
                {% else %}
                    <p>{{ 'admin.dossiers.decision.delete.can_not_be_deleted' | trans }}</p>
                {% endif %}
            {% endif %}
        </section>
    {% endif %}


    {% set entries = get_backend_history('dossier', dossier.id) %}
    {% if entries | length > 0 %}
        <div class="bhr-card mt-10">
            <h2 class="bhr-title mb-6">{{ 'global.history' | trans() }}</h2>
            <twig:Admin:DossierHistory rows="{{entries}}"></twig:Admin:DossierHistory>
        </div>
    {% endif %}
</div>
{% endblock %}
