{% set hasVisibleDepartmentFilters = form.departments | length > 1 %}
{% set hasVisibleTypeFilters = (form.types | default([])) | length > 1 %}
{% set hasVisibleStatusFilters = form.statuses | length > 1 %}
{% set isFormUseful = [hasVisibleDepartmentFilters, hasVisibleTypeFilters, hasVisibleStatusFilters] | filter(hasVisibleFilters => hasVisibleFilters) | length > 0 %}

{% if isFormUseful %}
<details class="js-details">
    <summary class="bhr-btn-bordered-primary">
        <twig:Admin:Button:Icon name="filter" isLeft="{{ true }}" />
        {{ 'admin.publications.filters' | trans }}
    </summary>

    <div class="bhr-overlay-card max-w-xs mt-4">
        {{ form_start(form) }}

        {% if hasVisibleDepartmentFilters %}
        <div class="bhr-form-row">
            <fieldset>
                <legend class="bhr-legend">{{ 'admin.publications.department' | trans() }}</legend>
                {{ form_widget(form.departments) }}
            </fieldset>
        </div>
        {% endif %}
        {% do form.departments.setRendered %}

        {% if form.types is defined %}
            {% if hasVisibleTypeFilters %}
                <div class="bhr-form-row">
                    <fieldset>
                        <legend class="bhr-legend">{{ 'admin.publications.type' | trans() }}</legend>
                        {{ form_widget(form.types) }}
                    </fieldset>
                </div>
            {% endif %}
            {% do form.types.setRendered %}
        {% endif %}

        {% if hasVisibleStatusFilters %}
        <div class="bhr-form-row">
            <fieldset>
                <legend class="bhr-legend">{{ 'admin.publications.status' | trans() }}</legend>
                {{ form_widget(form.statuses) }}
            </fieldset>
        </div>
        {% endif %}
        {% do form.statuses.setRendered %}

        {{ form_widget(form.submit, { 'label': 'admin.publications.submit.filter'|trans }) }}
        {{ form_end(form) }}
    </div>
</details>
{% endif %}
