<!doctype html>
<html class="no-js" lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}

        <title>
            {% if page_title is defined %} {{ page_title|trans }} | {% endif %}
            Beheer {{ SITE_NAME }}
        </title>

        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {{ encore_entry_link_tags('admin') }}

        {{ encore_entry_script_tags('admin') }}
        {% block extra_scripts %}{% endblock %}

        {% block inline_style %}{% endblock %}

        {% include "piwik-script.html.twig" %}
    </head>

    <body class="antialiased bg-anti-flash-white text-black flex min-h-screen flex-col">
        {% set isAuthenticated = app.user and is_granted('ROLE_BALIE') %}

        {% macro nav_item(routeName, titleTranslationKey, activeRouteNames) %}
            {% set isActivePage = app.request.get('_route') in activeRouteNames %}
            <li><a class="bhr-site-header-nav-item bhr-site-header-nav-item--anchor {% if isActivePage %}bhr-site-header-nav-item--active{% endif %}" href="{{ path(routeName) }}" {% if isActivePage %}aria-current="page"{% endif %}>{{ titleTranslationKey | trans() }}</a></li>
        {% endmacro %}

        <header class="bg-eerie-black print:hidden">
            <div class="mx-auto max-w-[1152px] px-4">
                {% if isAuthenticated %}
                <nav class="flex text-white">
                    <ul class="grow flex">
                        <li><a href="#inhoud" class="bhr-site-header-nav-item bhr-site-header-nav-item--anchor bhr-site-header-nav-item--skip-link">{{ "Go directly to content" | trans() }}</a></li>

                        {% if matrix_has_permission('dossier.read') %}
                            {% set activeRouteNames = [
                                'app_admin_dossiers',
                                'app_admin_dossier',
                                'app_admin_dossier_concept_create',
                                'app_admin_dossier_concept_decision',
                                'app_admin_dossier_concept_details',
                                'app_admin_dossier_concept_documents',
                                'app_admin_dossier_concept_publish',
                                'app_admin_dossier_withdraw_all_documents',
                                'app_admin_dossier_delete',
                                'app_admin_dossier_edit_details',
                                'app_admin_dossier_edit_decision',
                                'app_admin_documents',
                                'app_admin_dossier_replace_inventory',
                            ] %}
                            {{ _self.nav_item('app_admin_dossiers', 'Decision files', activeRouteNames) }}
                        {% endif %}

                        {% if matrix_has_permission('inquiry.read') %}
                            {% set activeRouteNames = [
                                'app_admin_inquiries',
                                'app_admin_inquiries_link',
                                'app_admin_inquiries_link_documents',
                                'app_admin_inquiries_link_dossiers',
                            ] %}
                            {{ _self.nav_item('app_admin_inquiries', 'Cases', activeRouteNames) }}
                        {% endif %}

                        {% if matrix_has_permission('department.read') or matrix_has_permission('organisation.read') or matrix_has_permission('official.read') %}
                            {% set activeRouteNames = [
                                'app_admin_departments',
                                'app_admin_department_create',
                                'app_admin_department_edit',
                                'app_admin_governmentofficial_create',
                                'app_admin_governmentofficial_edit',
                            ] %}
                            {{ _self.nav_item('app_admin_departments', 'Departments', activeRouteNames) }}
                        {% endif %}

                        {% if matrix_has_permission('user.read') %}
                            {% set activeRouteNames = [
                                'app_admin_users',
                                'app_admin_user',
                                'app_admin_user_create',
                            ] %}
                            {{ _self.nav_item('app_admin_users', 'Access control', activeRouteNames) }}
                        {% endif %}
                    </ul>

                    <ul class="flex">
                        <li><span class="bhr-site-header-nav-item font-normal">{{ app.user.name|default("unknown user") }}</span></li>
                        {{ _self.nav_item('app_logout', 'Logout') }}
                    </ul>
                </nav>
                {% else %}
                <div class="text-center text-white py-3">
                    <div><strong class="text-2xl">{{ SITE_NAME }}</strong></div>
                    <em>Publicatie/document management</em>
                </div>
                {% endif %}
            </div>
        </header>

        <main class="grow pt-16 px-4 print:bhr-card" id="inhoud">
            {% block body %}{% endblock %}
        </main>

        <footer class="pb-8 pt-16 px-4 print:hidden">
            {% if isAuthenticated %}
                <div class="leading-tight pb-4 screen:pt-24 screen:text-center text-dim-gray print:border-b print:border-gray-900">
                    <div><strong class="text-2xl">{{ SITE_NAME }}</strong></div>
                    <em>Publicatie/document management</em>
                </div>
            {% endif %}

            <ul class="flex justify-center print:hidden">
                <li><a class="bhr-site-footer-nav-item" href="{{ path('app_admin_privacy') }}">Privacy</a></li>
                <li><a class="bhr-site-footer-nav-item" href="{{ path('app_admin_contact') }}">Contact</a></li>
                <li><a class="bhr-site-footer-nav-item" href="https://open.minvws.nl/">Publieke website</a></li>
            </ul>
        </footer>

        {% include "piwik-noscript.html.twig" %}
    </body>
</html>
