{% macro inquiry_facets(result) %}
    {% for dossier_nr in result.filterDetails.dossierNumbers %}
        {{ _self.facet_pill("Dossier with number {dossier_nr}" | trans({'dossier_nr': dossier_nr}), constant('App\\Service\\Search\\Model\\FacetKey::DOSSIER_NR').value ~ '[]', dossier_nr) }}
    {% endfor %}
    {% for inquiryDescription in result.filterDetails.documentInquiries %}
        {{ _self.facet_pill("Documents with casenumber {case_nr}" | trans({'case_nr': inquiryDescription.casenumber}), constant('App\\Service\\Search\\Model\\FacetKey::INQUIRY_DOCUMENTS').value ~ '[]', inquiryDescription.id) }}
    {% endfor %}
    {% for inquiryDescription in result.filterDetails.dossierInquiries %}
        {{ _self.facet_pill("Dossiers with casenumber {case_nr}" | trans({'case_nr': inquiryDescription.casenumber}), constant('App\\Service\\Search\\Model\\FacetKey::INQUIRY_DOSSIERS').value ~ '[]', inquiryDescription.id) }}
    {% endfor %}
{% endmacro %}

{#

Display facet with hyperlinks

    title: title of the section to display the facets in
    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
    count: the number of facet entries to display
#}
{% macro facet_links(title, facetKey, result) %}
    {% set entries = result.aggregation(facetKey).entries|default([]) %}

    {% if entries | length > 0 %}
    <div class="block border-0 border-b last:border-b-0 border-solid border-[#ccc] pb-8 mb-8">
        <h3 class="ro-font-normal">{{ title }}</h3>

        <ul class="list-unstyled list-densed grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-x-12">
            {% for entry in entries %}
            <li>
                {# parenthesis around searchkey are important, otherwise it will be used as a literal 'searchkey' value #}
                <a class="arrowed-link split-link" href="{{ path('app_search', { q: '', (facet2query(facetKey) ~ '[]'):  entry.key|url_encode }) }}">
                    <span class="split-link__underline">{{ entry.displayValue }}</span>
                    <span class="split-link__suffix de-emphasized">({{ entry.count }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}

{% macro facet_preview(title, facetKey, result) %}
    {% set entries = result.aggregation(facetKey).entries|default([])[:3] %}

    {% if entries | length > 0 %}
    <div class="gap-0">
        <h3 class="ro-font-normal">{{ title }}</h3>

        <ul class="list-unstyled list-densed">
            {% for entry in entries %}
            <li>
                {# parenthesis around searchkey are important, otherwise it will be used as a literal 'searchkey' value #}
                <a class="arrowed-link split-link" href="{{ path('app_search', { q: '', (facet2query(facetKey) ~ '[]'):  entry.key|url_encode }) }}">
                    <span class="split-link__underline">{{ entry.displayValue }}</span>
                    <span class="split-link__suffix de-emphasized">({{ entry.count }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}


{#
    Displays a single pill with the given title. Normally used by facet_pills macro, but can be called manually as well, for instance
    when displaying date range pills.
#}
{% macro facet_pill(title, key, value) %}
    <li>
        <a class="pill js-active-filter-pill" data-key="{{ key }}" data-value="{{ value }}"  href="?{{ query_string_without_param(key, value) }}">
            <span class="visually-hidden">{{ "Remove filter" | trans() }}</span> {{ title }} <i class="fa fa-xmark ml-1 mt-1" aria-hidden="true"></i>
        </a>
    </li>
{% endmacro %}

{#
    Displays pills based on the current request query parameters

    Title: the title of the label to display
    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
#}
{% macro facet_pills(title, facetKey, result) %}
    {% for entry in result.aggregation(facetKey).entries|default([]) %}
        {% if facet_checked(facet2query(facetKey), entry.key) %}
            {{ _self.facet_pill(title ~ ': ' ~ entry.displayValue, facet2query(facetKey) ~ '[]', entry.key) }}
        {% endif %}
    {% endfor %}
{% endmacro %}


{#
    facet_select displays a facet as a list of checkboxes (or radiobuttons)

    title: the title of the facet to display
    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
#}
{% macro facet_select(title, facetKey, result) %}
    {% set entries = result.aggregation(facetKey).entries|default([]) %}
    {% set queryKey = facet2query(facetKey) %}

    {% if entries|length > 0 %}
    <fieldset class="js-filters-group" data-key="{{ facetKey }}">
        <legend>
            <button
                aria-expanded="true"
                aria-controls="filters-group-{{ facetKey }}"
                class="toggle-filters-group-button js-toggle-filters-group-button"
                type="button"
            >
                {{ title }}
                <img class="no-js:hidden" src="/img/chevron-up.svg" alt="" />
            </button>
        </legend>

        <div class="filters-collapsible js-filters-group-collapsible" id="filters-group-{{ facetKey }}">
            {% for entry in entries[:5] %}
                {{ _self._facet_entry(entry, queryKey, facetKey) }}
            {% endfor %}

            {% if entries | length > 5 %}
                <div class="filters-collapsible js-filters-item-collapsible" id="filter-items-{{ facetKey }}">
                    {% for entry in entries[5:] %}
                        {{ _self._facet_entry(entry, queryKey, facetKey) }}
                    {% endfor %}
                </div>
                <button
                    aria-expanded="true"
                    aria-controls="filter-items-{{ facetKey }}"
                    class="toggle-filter-items-button js-toggle-filter-items-button no-js:hidden"
                    data-text-collapsed="{{ "Show more" | trans() }}"
                    data-text-expanded="{{ "Show less" | trans() }}"
                    type="button"
                >{{ "Show more" | trans() }}</button>
            {% endif %}

            <a href="#search-results" class="sr-only focus:not-sr-only">
                {{ "Go to search results" | trans() }}
            </a>
        </div>
    </fieldset>
    {% endif %}
{% endmacro %}


{% macro _facet_entry(entry, queryKey, facetKey) %}
    <div class="checkbox">
        <input
            class="js-search-filter-checkbox"
            id="input_{{ entry.key|url_encode }}"
            type="checkbox"
            name="{{ queryKey }}[]"
            value="{{ entry.key }}"
            {% if facet_checked(queryKey, entry.key) %}checked{% endif %}
        >
        <label for="input_{{ entry.key|url_encode }}">
            <span class="flex">
                <span class="grow mr-2">{{ entry.displayValue }}</span>
                <span class="de-emphasized">({{ entry.count }})</span>
            </span>
        </label>
    </div>
{% endmacro %}
