{% macro inquiry_facets(result) %}
    {% for dossier_nr in result.filterDetails.dossierNumbers %}
        {{ _self.facet_pill("Dossier with number {dossier_nr}" | trans({'dossier_nr': dossier_nr}), constant('App\\Service\\Search\\Model\\FacetKey::DOSSIER_NR').value ~ '[]', dossier_nr) }}
    {% endfor %}
    {% for inquiryDescription in result.filterDetails.documentInquiries %}
        {{ _self.facet_pill("Documents with casenumber {case_nr}" | trans({'case_nr': inquiryDescription.casenumber}), constant('App\\Service\\Search\\Model\\FacetKey::INQUIRY_DOCUMENTS').value ~ '[]', inquiryDescription.id) }}
    {% endfor %}
    {% for inquiryDescription in result.filterDetails.dossierInquiries %}
        {{ _self.facet_pill("Dossiers with casenumber {case_nr}" | trans({'case_nr': inquiryDescription.casenumber}), constant('App\\Service\\Search\\Model\\FacetKey::INQUIRY_DOSSIERS').value ~ '[]', inquiryDescription.id) }}
    {% endfor %}
{% endmacro %}

{#

Display facet with hyperlinks

    title: title of the section to display the facets in
    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
    count: the number of facet entries to display
#}
{% macro facet_links(title, facetKey, result) %}
    {% set entries = result.aggregation(facetKey).entries|default([]) %}

    {% if entries | length > 0 %}
    <div class="border-b last:border-b-0 border-woo-chinese-silver pb-8 mb-8">
        <h2 class="woo-h3 font-normal mb-6">{{ title }}</h2>

        <ul class="list-unstyled list-densed sm:columns-2 lg:columns-3 sm:gap-x-12">
            {% for entry in entries %}
            <li>
                {# parenthesis around searchkey are important, otherwise it will be used as a literal 'searchkey' value #}
                <twig:Public:ArrowedLink
                    to="{{ path('app_search', { q: '', (facet2query(facetKey) ~ '[]'):  entry.key }) }}"
                    suffix="{{ entry.count }}"
                >{{ entry.displayValue }}</twig:Public:ArrowedLink>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}

{% macro facet_preview(title, facetKey, result) %}
    {% set entries = result.aggregation(facetKey).entries|default([])[:3] %}

    {% if entries | length > 0 %}
    <div>
        <h3 class="woo-h3 font-normal mb-6">{{ title }}</h3>

        <ul>
            {% for entry in entries %}
            <li>
                {# parenthesis around searchkey are important, otherwise it will be used as a literal 'searchkey' value #}
                <twig:Public:ArrowedLink
                    to="{{ path('app_search', { q: '', (facet2query(facetKey) ~ '[]'):  entry.key }) }}"
                    suffix="{{ entry.count }}"
                >{{ entry.displayValue }}</twig:Public:ArrowedLink>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}


{#
    Displays a single pill with the given title. Normally used by facet_pills macro, but can be called manually as well, for instance
    when displaying date range pills.
#}
{% macro facet_pill(title, key, value) %}
    <li class="mb-2">
        <a
            class="bg-woo-anti-flash-white text-woo-davys-grey leading-none text-sm py-1.5 px-3 rounded-2xl js-active-filter-pill group"
            data-key="{{ key }}"
            data-value="{{ value }}"
            href="?{{ query_string_without_param(key, value) }}"
        >
            <span class="sr-only">{{ "Remove filter" | trans }}</span>
            <span class="group-hover:line-through group-focus:line-through">{{ title }}</span>
            <twig:Public:Icon class="ml-1" color="fill-woo-davys-grey" name="cross" size="16" />
        </a>
    </li>
{% endmacro %}

{#
    Displays pills based on the current request query parameters

    Title: the title of the label to display
    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
#}
{% macro facet_pills(title, facetKey, result) %}
    {% for entry in result.aggregation(facetKey).entries|default([]) %}
        {% if facet_checked(facet2query(facetKey), entry.key) %}
            {{ _self.facet_pill(title ~ ': ' ~ entry.displayValue, facet2query(facetKey) ~ '[]', entry.key) }}
        {% endif %}
    {% endfor %}
{% endmacro %}


{#
    facet_select displays a facet as a list of checkboxes (or radiobuttons)

    title: the title of the facet to display
    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
#}
{% macro facet_select(title, facetKey, result) %}
    {% set entries = result.aggregation(facetKey).entries|default([]) %}
    {% set queryKey = facet2query(facetKey) %}

    {% if entries|length > 0 %}
    <fieldset class="mt-4 js-filters-group" data-key="{{ facetKey }}">
        <legend class="w-full">
            <button
                aria-expanded="true"
                aria-controls="filters-group-{{ facetKey }}"
                class="woo-legend w-full text-left relative border-b border-woo-chinese-silver py-2 js-toggle-filters-group-button"
                type="button"
            >
                {{ title }}
                <twig:Public:Icon class="absolute right-0 js-toggle-filters-group-button-icon" name="chevron-up-thin" />
            </button>
        </legend>

        <div class="js-filters-group-collapsible" id="filters-group-{{ facetKey }}">
            {% for entry in entries[:5] %}
                {{ _self._facet_entry(entry, queryKey, facetKey) }}
            {% endfor %}

            {% if entries | length > 5 %}
                <div class="js-filters-item-collapsible" id="filter-items-{{ facetKey }}">
                    {% for entry in entries[5:] %}
                        {{ _self._facet_entry(entry, queryKey, facetKey) }}
                    {% endfor %}
                </div>
                <button
                    aria-expanded="true"
                    aria-controls="filter-items-{{ facetKey }}"
                    class="text-woo-sea-blue text-sm w-full text-left py-2 js-toggle-filter-items-button no-js:hidden"
                    data-text-collapsed="{{ 'public.global.show_more' | trans }}"
                    data-text-expanded="{{ 'public.global.show_less' | trans }}"
                    type="button"
                >{{ 'public.global.show_more' | trans }}</button>
            {% endif %}

            <a href="#search-results" class="woo-skip-link text-sm text-left">
                {{ 'public.search.label.results' | trans }}
            </a>
        </div>
    </fieldset>
    {% endif %}
{% endmacro %}


{% macro _facet_entry(entry, queryKey, facetKey) %}
    <div class="woo-choice-row py-1">
        <span>
            <input
                class="woo-choice-input js-search-filter-checkbox"
                id="input_{{ entry.key|url_encode }}"
                type="checkbox"
                name="{{ queryKey }}[]"
                value="{{ entry.key }}"
                {% if facet_checked(queryKey, entry.key) %}checked{% endif %}
            >
        </span>
        <label class="grow cursor-pointer" for="input_{{ entry.key|url_encode }}">
            <span class="flex">
                <span class="grow mr-2 text-base leading-tight">{{ entry.displayValue }}</span>
                <span class="woo-muted text-sm">({{ entry.count }})</span>
            </span>
        </label>
    </div>
{% endmacro %}
