{% extends 'tailwind_2_layout.html.twig' %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="error">
            <ul>
                {%- for error in errors -%}
                    <li class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_help -%}
    {%- set help_attr = help_attr|merge({ class: help_attr.class|default(help_class|default('mb-3 text-independence leading-tight text-sm')) }) -%}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({ class: label_attr.class|default(label_class|default('block text-lg font-bold leading-tight mt-0 mb-2')) }) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6')) }) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
    </div>
{%- endblock form_row -%}

{%- block widget_attributes -%}
    {%- set attr = attr|merge({ class: attr.class|default(widget_class|default('w-6/12')) ~ (disabled ? ' ' ~ widget_disabled_class|default('border-gray-300 text-gray-500')) ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-700')) }) -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}
