{% extends 'admin/base.html.twig' %}
{% import "admin/macros/document.html.twig" as macro %}

{% set page_title = "Dossier " | trans() ~ dossier.dossierNr %}
{% set adminDossierUrl = path('app_admin_dossier', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <div class="mb-8">
        <h1 class="mb-2">
            <span class="block text-lg font-normal mb-2 text-bhr-gray-800">{% block about_title %}{% endblock %}</span>
            <span class="bhr-title-lg" data-e2e-name="dossier-title">{{ dossier.title }}</span>
        </h1>

        <div class="mt-4 mb-9" data-e2e-name="dossier-status">
            <twig:Admin:DossierStatusBadge status="{{ dossier.status }}" />
        </div>

        <div class="bhr-card text-lg">
            {% block success_message %}{% endblock %}

            {% block preview_date %}{% endblock %}

            <h2 class="mt-8 font-bold">{{ 'admin.dossiers.public_date' | trans() }}</h2>
            <p data-e2e-name="dossier-publication-date">{{ dossier.publicationDate | format_date('long') }}</p>

            <h2 class="mt-8 font-bold">{{ 'admin.dossiers.public_link' | trans() }}</h2>
            <p data-e2e-name="dossier-publication-date-link">{{ 'admin.dossiers.public_link_available' | trans() }} <strong>{% block available_from %}{{ dossier.publicationDate | format_date('long') }}{% endblock %}</strong></p>

            <a class="bhr-a" href="{{ publicDossierUrl }}" data-e2e-name="dossier-public-dossier-link">
                {{ publicDossierUrl }}
            </a>
        </div>

        <a class="bhr-btn-bordered-primary mt-8" href="{{ adminDossierUrl }}">
            {% block edit_link %}{% endblock %}
        </a>
    </div>
</div>
{% endblock %}
