{% extends 'admin.html.twig' %}

{% block body %}
<div class="bhr-container">
    <h1 class="bhr-title mb-6">{{ "Index" | trans() }} {{ details.index.name }}</h1>

    <div class="bhr-card">
        <table class="bhr-table">
            <tbody>
                <tr>
                    <th class="text-left" scope="col">{{ "Label" | trans() }}</th>
                    <th class="text-right" scope="col">{{ "Expected" | trans() }}</th>
                    <th class="text-right" scope="col">{{ "In Elasticsearch" | trans() }}</th>
                    <th class="text-right" scope="col">{{ "Percentage" | trans() }}</th>
                </tr>
                <tr>
                    <td>{{ "Dossier count" | trans() }}</td>
                    <td class="text-right">{{ details.expectedDossierCount }}</td>
                    <td class="text-right">{{ details.actualDossierCount }}</td>
                    <td class="text-right">{{ details.getDossierPercentage() }}%</td>
                </tr>
                <tr>
                    <td>{{ "Document count" | trans() }}</td>
                    <td class="text-right">{{ details.expectedDocCount }}</td>
                    <td class="text-right">{{ details.actualDocCount }}</td>
                    <td class="text-right">{{ details.getDocumentPercentage() }}%</td>
                </tr>
                <tr>
                    <td>{{ "Page count" | trans() }}</td>
                    <td class="text-right">{{ details.expectedPageCount }}</td>
                    <td class="text-right">{{ details.actualPageCount }}</td>
                    <td class="text-right">{{ details.getPagePercentage() }}%</td>
                </tr>
            </tbody>
        </table>

        <p class="mt-6">
            <a
                class="bhr-button bhr-button--primary"
                href="{{ path('app_admin_elastic_live', {indexName: index.name}) }}"
            >{{ "Promote to Live" | trans() }}</a>
        </p>

        {% if matrix_has_permission('elastic.update') and index.aliases | length == 0 %}
            {{ form(deleteForm) }}
        {% endif %}
    </div>
</div>
{% endblock %}
