{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="bhr-container">
    <h1 class="bhr-title mb-6">{{ 'elastic.label.management' | trans() }}</h1>

    <div class="bhr-card">
        {% include 'admin/shared/flash-messages.html.twig' %}

        {% if rolloverDetails %}
            {% include 'admin/elastic/counts.html.twig' with {'details': rolloverDetails} %}

            <p class="pt-6">
                <a class="bhr-btn-filled-primary" href="{{ path('app_admin_elastic_live', {indexName: rolloverDetails.index.name}) }}">{{ "admin.elastic.promote_to_live" | trans() }}</a>
            </p>
        {% else %}
            <p class="text-center italic">{{ "admin.elastic.no_rollover" | trans() }}</p>
        {% endif %}
    </div>

    <div class="bhr-card mt-10">
        <table class="bhr-table">
            <caption class="sr-only">{{ "admin.elastic.indexes" | trans() }}</caption>
            <thead>
                <tr>
                    <th scope="col">{{ 'global.name' | trans() }}</th>
                    <th class="text-right!" scope="col">{{ 'elastic.object_count' | trans() }}</th>
                    <th class="text-right!" scope="col">{{ 'public.global.size' | trans() }}</th>
                    <th scope="col">{{ 'admin.elastic.mapping_version' | trans() }}</th>
                    <th scope="col">{{ 'elastic.aliases' | trans() }}</th>
                    <th scope="col">{{ 'elastic.options' | trans() }}</th>
                </tr>
            </thead>

            <tbody>
            {% for index in indices %}
                <tr>
                    <td>{{ index.name }}</td>
                    <td class="text-right">{{ index.docsCount }}</td>
                    <td class="text-right">{{ index.storeSize }}</td>
                    <td>{{ index.mappingVersion }}</td>
                    <td>
                        {% for alias in index.aliases %}
                            <span>{{ alias }}</span>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a class="bhr-a" href="{{ path('app_admin_elastic_details', {indexName: index.name}) }}">{{ 'global.details' | trans() }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="pt-6">
            <a class="bhr-btn-filled-primary" href="{{ path('app_admin_elastic_create') }}">{{ "admin.elastic.new_rollover" | trans() }}</a>
        </p>
    </div>
</div>
{% endblock %}
