{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div>

            <h1>{{ "Elasticsearch management" | trans() }}</h1>

            {% if rolloverDetails %}
                <div>
                    <table>
                        <caption class="visually-hidden">{{ "Rollover into" | trans() }} {{ rolloverDetails.index.name }}</caption>
                        <thead>
                            <tr>
                                <th>{{ "Label" | trans() }}</th>
                                <th>{{ "Expected" | trans() }}</th>
                                <th>{{ "In Elasticsearch" | trans() }}</th>
                                <th>{{ "Percentage" | trans() }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{ "Dossier count" | trans() }}</td>
                                <td>{{ rolloverDetails.expectedDossierCount }}</td>
                                <td>{{ rolloverDetails.actualDossierCount }}</td>
                                <td>{{ rolloverDetails.getDossierPercentage() }}%</td>
                            </tr>
                            <tr>
                                <td>{{ "Document count" | trans() }}</td>
                                <td>{{ rolloverDetails.expectedDocCount }}</td>
                                <td>{{ rolloverDetails.actualDocCount }}</td>
                                <td>{{ rolloverDetails.getDocumentPercentage() }}%</td>
                            </tr>
                            <tr>
                                <td>{{ "Page count" | trans() }}</td>
                                <td>{{ rolloverDetails.expectedPageCount }}</td>
                                <td>{{ rolloverDetails.actualPageCount }}</td>
                                <td>{{ rolloverDetails.getPagePercentage() }}%</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('app_admin_elastic_live', {indexName: rolloverDetails.index.name}) }}" class="button">{{ "Promote to Live" | trans() }}</a>

                </div>
            {% else %}
                <div>
                    <p>{{ "No rollover at the moment" | trans() }}</p>
                </div>
            {% endif %}


            <table class="table table-striped">
                <caption class="visually-hidden">{{ "Elasticsearch indices" | trans() }}</caption>
                <thead>
                    <tr>
                        <th>{{ "Name" | trans() }}</th>
                        <th>{{ "Health" | trans() }}</th>
                        <th>{{ "Status" | trans() }}</th>
                        <th>{{ "Object Count" | trans() }}</th>
                        <th>{{ "Size" | trans() }}</th>
                        <th>{{ "Mapping version" | trans() }}</th>
                        <th>{{ "Aliases" | trans() }}</th>
                        <th>{{ "Options" | trans() }}</th>
                    </tr>
                </thead>

                <tbody>
                {% for index in indices %}
                    <tr>
                        <td>{{ index.name }}</td>
                        <td>{{ index.health }}</td>
                        <td>{{ index.status }}</td>
                        <td>{{ index.docsCount }}</td>
                        <td>{{ index.storeSize }}</td>
                        <td>{{ index.mappingVersion }}</td>
                        <td>
                            {% for alias in index.aliases %}
                                <span>{{ alias }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="button-container">
                                <a class="button" href="{{ path('app_admin_elastic_details', {indexName: index.name}) }}">{{ "Details" | trans() }}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_admin_elastic_create') }}" class="button">{{ "New rollover" | trans() }}</a>

        </div>
    </section>
{% endblock %}
