{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div>

            <h1>{{ "Promote index to the live index" | trans() }}: {{ details.index.name }}</h1>

            <table>
                <tr>
                    <th>{{ "Label" | trans() }}</th>
                    <th>{{ "Expected" | trans() }}</th>
                    <th>{{ "In Elasticsearch" | trans() }}</th>
                    <th>{{ "Percentage" | trans() }}</th>
                </tr>

                <tr>
                    <td>{{ "Dossier count" | trans() }}</td>
                    <td>{{ details.expectedDossierCount }}</td>
                    <td>{{ details.actualDossierCount }}</td>
                    <td>{{ details.getDossierPercentage() }}%</td>
                </tr>
                <tr>
                    <td>{{ "Document count" | trans() }}</td>
                    <td>{{ details.expectedDocCount }}</td>
                    <td>{{ details.actualDocCount }}</td>
                    <td>{{ details.getDocumentPercentage() }}%</td>
                </tr>
                <tr>
                    <td>{{ "Page count" | trans() }}</td>
                    <td>{{ details.expectedPageCount }}</td>
                    <td>{{ details.actualPageCount }}</td>
                    <td>{{ details.getPagePercentage() }}%</td>
                </tr>
            </table>

            <section>
                <div>
                    <h1>{{ "Are you sure you want to make this the live index?" | trans() }}</h1>

                    {{ form(form) }}
                </div>
            </section>

        </div>
    </section>
{% endblock %}
