{% extends 'base.html.twig' %}

{% block body %}
<div class="bhr-container">
    <h1 class="bhr-title mb-6">{{ "Promote index to the live index" | trans() }}: {{ details.index.name }}</h1>

    <div class="bhr-card">
        <table class="bhr-table">
            <tbody>
                <tr>
                    <th class="text-left" scope="col">{{ "Label" | trans() }}</th>
                    <th class="text-right" scope="col">{{ "Expected" | trans() }}</th>
                    <th class="text-right" scope="col">{{ "In Elasticsearch" | trans() }}</th>
                    <th class="text-right" scope="col">{{ "Percentage" | trans() }}</th>
                </tr>
                <tr>
                    <td>{{ "Dossier count" | trans() }}</td>
                    <td class="text-right">{{ details.expectedDossierCount }}</td>
                    <td class="text-right">{{ details.actualDossierCount }}</td>
                    <td class="text-right">{{ details.getDossierPercentage() }}%</td>
                </tr>
                <tr>
                    <td>{{ "Document count" | trans() }}</td>
                    <td class="text-right">{{ details.expectedDocCount }}</td>
                    <td class="text-right">{{ details.actualDocCount }}</td>
                    <td class="text-right">{{ details.getDocumentPercentage() }}%</td>
                </tr>
                <tr>
                    <td>{{ "Page count" | trans() }}</td>
                    <td class="text-right">{{ details.expectedPageCount }}</td>
                    <td class="text-right">{{ details.actualPageCount }}</td>
                    <td class="text-right">{{ details.getPagePercentage() }}%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bhr-card mt-10">
        <h2 class="bhr-title">{{ "Are you sure you want to make this the live index?" | trans() }}</h2>

        {{ form(form) }}
    </div>
</div>
{% endblock %}
