{{ form_start(form) }}

{{ form_errors(form) }}

{% if form.decision is defined %}
    {{ form_row(form.decision) }}
{% else %}
    <div class="bhr-form-row -mt-4">
        <h2 class="bhr-label">Soort besluit</h2>
        {{ dossier.decision | trans }}
    </div>
{% endif %}

{{ form_row(form.summary) }}

{{ form_row(form.decision_document) }}

{% if dossier.decisionDocument.fileInfo.isUploaded|default(false) %}
    <div class="bhr-form-row -mt-6">
        <twig:Admin:UploadedFile
            downloadUrl="{{ path('app_admin_dossier_decision_download', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr }) }}"
            fileName="{{ dossier.decisionDocument.fileInfo.name }}"
            fileSize="{{ dossier.decisionDocument.fileInfo.size }}"
            mimeType="{{ dossier.decisionDocument.fileInfo.mimetype }}"
        />
    </div>
{% endif %}

{{ form_row(form.decision_date) }}

<twig:Admin:Publication:ManageAttachments
    canDelete="{{ canDeleteAttachments }}"
    documentTypes="{{ attachmentTypes }}"
    endpoint="{{'/balie/api/dossiers/' ~ dossier.id ~ '/decision-attachments'}}"
    grounds="{{ grounds }}"
    helpText="{{ 'admin.dossiers.woo-decision.form.content.attachments_help' | trans }}"
    languages="{{ attachmentLanguages }}"
    title="Andere officiële bijlagen"
    uploadGroupId="woo-decision-attachments"
/>

{{ form_end(form) }}
