{% extends 'base.html.twig' %}

{% set page_title = "Prefix management" | trans() %}

{% block body %}
    <section>
        <div>
            <h1>{{ "Prefix management" | trans() }}</h1>

            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>{{ "Prefix" | trans() }}</th>
                    <th>{{ "Description" | trans() }}</th>
                    <th>{{ "Options" | trans() }}</th>
                </tr>

                {% for prefix in prefixes %}
                    <tr>
                        <td>{{ prefix.prefix }}</td>
                        <td>{{ prefix.description }}</td>
                        <td><a href="{{ path('app_admin_prefix_edit', { id: prefix.id.toBase58 }) }}" class="button">{{ "Edit" | trans() }}</a></td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('app_admin_prefix_create') }}" class="button">{{ "New prefix" | trans() }}</a>

        </div>
    </section>

{% endblock %}
