<section class="pt-8 lg:pt-16">
    <div class="woo-container woo-container--sm">
        {% if HAS_FEATURE_VERWERKINGSREGISTER_LINK %}
            <div class="pb-16 woo-readable-width">
                <h2 class="woo-h2 woo-h2-spacing">{{ 'public.other-publications.title' | trans }}</h2>

                <ul>
                    <li><a class="woo-a" href="https://open.minvws.nl/verwerkingsregister">{{ 'public.other-publications.processing_register' | trans }}</a></li>
                </ul>
            </div>
        {% endif %}

        <div class="woo-rich-text woo-readable-width">
            <h2>{{ 'public.woo-process.title' | trans }}</h2>
            <p>{{ 'public.woo-process.description' | trans() | raw }}</p>

            <ul>
                <li>
                    {{ 'public.woo-process.step-1' | trans() | raw }}
                </li>
                <li>
                    {{ 'public.woo-process.step-2' | trans() | raw }}
                    <ul>
                        <li>{{ 'public.woo-process.step-2a' | trans() | raw }}</li>
                        <li>{{ 'public.woo-process.step-2b' | trans() | raw }}</li>
                    </ul>
                    </li>
                <li>
                   {{ 'public.woo-process.step-3' | trans() | raw }}
                </li>
                <li>
                    {{ 'public.woo-process.step-4' | trans() | raw }}
                </li>
            </ul>
        </div>
    </div>
</section>
