<section class="woo-rich-text woo-readable-width">
    <h1>
        <span class="block mb-2">{{ "OGA platform" | trans }}</span>
        <span>{{ "OGA decisions of the Dutch Ministry of Health, Welfare and Sport" | trans | raw }}</span>
    </h1>

    <p>{{ "public.intro.maintext" | trans }}</p>
    <p><twig:Public:ArrowedBoldLink to="{{ path('app_about') }}">{{ "About the VWS Woo publication platform" | trans }}</twig:Public:ArrowedBoldLink></p>
</section>
