<div class="woo-rich-text woo-readable-width {{ (hasGrounds ?? false) ? 'mt-4' : '' }}">
    <p>
        {{ 'public.documents.redacted_data.comments' | trans }}
        {% if (isExternalDepartmentResponsible ?? false) %}
            {{ 'public.global.contact' | trans({ '{ministry}': departmentName }) | raw }}. {{ 'public.documents.redacted_data.find_contact' | trans | raw }}
        {% else %}
            <a
                href="mailto:_dienstpostbusWoo-corona-ondersteuning@minvws.nl?subject=Opmerking over {{ documentName }} (documentnummer {{ documentId }})"
            >{{ 'public.documents.let_us_know' | trans }}</a>.
        {% endif %}
    </p>
</div>
