<div class="mt-16">
    <h2 class="woo-h2 woo-h2-spacing">{{ 'public.dossiers.covenant.about' | trans }}</h2>

    <div class="woo-responsive-table">
        <table class="woo-table">
            <caption class="sr-only">
                {{ 'public.dossiers.covenant.about' | trans }}
            </caption>
            <tbody>
                <tr>
                    <th class="woo-table-cell-light w-64 min-w-64" scope="row">{{ 'public.dossiers.covenant.parties' | trans }}</th>
                    <td>
                        {% for party in dossier.parties %}
                            <p>{{ party }}</p>
                        {% endfor %}
                    </td>
                </tr>
                {% if period(dossier.dateFrom, dossier.dateTo) %}
                <tr>
                    <th class="woo-table-cell-light" scope="row">
                        {{ 'global.period' | trans }}
                    </th>
                    <td data-e2e-name="dossier-metadata-period">
                        {{ period(dossier.dateFrom, dossier.dateTo) }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th class="woo-table-cell-light" scope="row">{{ 'global.responsible_parties' | trans }}</th>
                    <td data-e2e-name="dossier-metadata-responsible">
                        {{ dossier.mainDepartment.name }}
                    </td>
                </tr>
                <tr>
                    <th class="woo-table-cell-light" scope="row">
                        {{ 'public.dossiers.type' | trans }}
                    </th>
                    <td>
                        <p>{{ dossier.type | trans | capitalize}}</p>
                    </td>
                </tr>
                {% if dossier.previousVersionLink is not empty %}
                <tr>
                    <th class="woo-table-cell-light" scope="row">
                        {{ 'public.dossiers.covenant.previous_version' | trans }}
                    </th>
                    <td>
                        <a class="woo-a" href="{{ dossier.previousVersionLink }}">{{ dossier.previousVersionLink }}</a>
                    </td>
                </tr>
                {% endif %}
                {% if dossier.hasSubject %}
                <tr>
                    <th class="woo-table-cell-light" scope="row">
                        {{ 'public.dossiers.subject' | trans }}
                    </th>
                    <td>
                        <p><a class="woo-a" href="{{ dossier.subject.searchUrl }}">{{ dossier.subject.name }}</a></p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
