{% extends 'base.html.twig' %}
{% import "document_macros.html.twig" as macro %}

{% set page_title = document.fileInfo.name %}

{% block body %}
    <section>
        <div class="gap-0">

            <h1 class="leading-tight flex items-center">
                <twig:Icon name="{{ document.fileInfo.sourceType }}" size="32" class="mr-4 shrink-0 self-baseline mt-3" />
                <span class="visually-hidden">{{ document.fileInfo.sourceType | trans() }}</span>
                <span class="min-w-0">{{ document.fileInfo.name }}</span>
            </h1>

            <dl class="nota-bene text-lg">
                <div>
                    <dt class="visually-hidden">{{ "Published on" | trans() }}: </dt>
                    <dd><time datetime="{{ document.documentDate | date("Y-m-d") }}">{{ document.documentDate | format_date('long') }} {{ "at" | trans() }} {{ document.documentDate | format_time('short') }}</time></dd>
                </div>
                <div>
                    <dt>{{ "Document Number" | trans() }}:</dt>
                    <dd>{{ document.documentNr }}</dd>
                </div>
            </dl>

            {% include "document/snippets/notifications.html.twig" %}

            {# todo how to resolve parent?
                <p>{{ "Attachment of" | trans }} <a href="{{ path('app_document_detail', { dossierId: dossier.dossierNr, documentId: familyParent.documentNr }) }}"><i class="{{ familyParent.fileInfo.sourceType | sourceTypeIcon }}"></i> {{ familyParent.fileInfo.name }}</a></p>
            #}

            {% if ingested and document.shouldBeUploaded and document.fileInfo.isUploaded %}
                <a id="above-carousel"></a>
                <a href="#below-carousel" class="mt-8 skiplink-carousel-down">{{ "Skip documents preview" | trans() }}</a>

                {% if document.fileInfo.type == "pdf" and document.pageCount > 0 %}
                    <div class="block w-full">
                        <p class="pb-1 de-emphasized">
                            {{
                                "Click on a page to open the {fileInfo} ({fileSize}) in your browser" |
                                trans({ fileInfo: document.fileInfo.type|upper, fileSize: document.fileInfo.size != "0" ? document.fileInfo.size | size : ""  })
                            }}
                        </p>
                        {% include "document/snippets/carousel.html.twig" %}
                    </div>
                {% endif %}

                {% if document.fileInfo.type == "audio" %}
                    <div class="pt-8">
                        <img
                            width="100%"
                            alt="{{ "Audio" | trans }}"
                            src="{{ path('app_document_thumbnail', { dossierId: dossier.dossierNr, documentId: document.documentNr, pageNr: 0}) }}"
                        />
                    </div>
                {% endif %}

                <a href="#above-carousel" class="skiplink-carousel-up">{{ "Go back to documents preview" | trans() }}</a>
                <a id="below-carousel"></a>
            {% endif %}

            {% if document.shouldBeUploaded and document.isUploaded and (document.fileInfo.size != "0") %}
            <div class="button-container pt-8">
                <a class="button" download href="{{ path('app_document_download', { dossierId: dossier.dossierNr, documentId: document.documentNr}) }}">
                    <twig:Icon name="download" />
                    {{ "Download" | trans }} ({{ document.fileInfo.type|upper }} {{ document.fileInfo.size | size }})
                </a>
                {# <a class="button" href="">{{ "View online (beta)" | trans() }}</a> #}
            </div>
            {% endif %}

            {% include "document/snippets/about.html.twig" %}

            {% include "document/snippets/history.html.twig" %}

            {% if document.fileInfo.sourceType == constant('App\\SourceType::SOURCE_EMAIL') %}
                {{ macro.documents_section(thread, "Messages from the same e-mail conversation") }}
                {{ macro.documents_section(family, "Attachments to this e-mail message") }}
            {% else %}
                {{ macro.documents_section(family, "Related documents") }}
            {% endif %}

            {% include "document/snippets/background.html.twig" %}

            {#    {% if document.fileInfo.sourceType != constant('App\\SourceType::SOURCE_EMAIL') and document.familyId != document.documentId %} #}
            {#        <a class="btn" href="#">Link to the e-mail with this attachment</a> #}
            {#    {% endif %} #}
        </div>
    </section>
{% endblock %}
