{% extends 'base.html.twig' %}
{% import 'document_macros.html.twig' as macro %}

{% set page_title = document.entity.fileInfo.name %}

{% block body %}
<div class="woo-container woo-container--sm">
    <h1 class="woo-h1 sm:flex">
        <span class="block">
            <twig:Public:FileIcon type="{{ document.entity.fileInfo.sourceType.value }}" class="mr-4 -mt-0.5" size="32" />
            <span class="sr-only">{{ document.entity.fileInfo.sourceType | trans }}</span>
        </span>
        <span>{{ document.entity.fileInfo.name }}</span>
    </h1>

    <dl class="woo-muted">
        <div>
            <dt class="sr-only">{{ 'global.published_on' | trans }}: </dt>
            <dd>
            {% if document.entity.documentDate is not null %}
                <time datetime="{{ document.entity.documentDate | date('Y-m-d') }}">{{ document.entity.documentDate | format_date('long') }}</time>
            {% else %}
                {{ 'global.date_not_available' | trans }}
            {% endif %}
            </dd>
        </div>
        <div>
            <dt class="inline">{{ 'global.document_number' | trans }}:</dt>
            <dd class="inline">{{ document.entity.documentNr }}</dd>
        </div>
    </dl>

    {% if not dossier.isVwsResponsible %}
    <div class="pt-10">
        <twig:Public:Notification>
            <p>{{ 'public.global.contact_other' | trans({ '{source}': 'public.document.this_document' | trans | capitalize, '{ministry}': dossier.mainDepartment.name }) | raw }}</p>
        </twig:Public:Notification>
    </div>
    {% endif %}

    {% include 'document/snippets/notifications.html.twig' %}

    {% include 'document/snippets/viewer.html.twig' %}

    {% include 'document/snippets/download.html.twig' %}

    {% include 'document/snippets/about.html.twig' %}

    {% if document.entity.fileInfo.sourceType.isEmail %}
        {{ macro.documents_section(thread, 'public.documents.email_thread') }}
        {{ macro.documents_section(family, 'public.documents.attachments') }}
    {% else %}
        {{ macro.documents_section(document.entity.referredBy, 'public.documents.referred_by', false) }}
        {{ macro.documents_section(family, 'public.documents.related_documents') }}
    {% endif %}

    {% include 'document/snippets/background.html.twig' %}

    {{ macro.history_section(get_frontend_history('document', document.entity.id), 'public.documents.document_history') }}
    </div>
</section>
{% endblock %}
