{% extends 'base.html.twig' %}
{% import "document_macros.html.twig" as macro %}

{% set page_title = document.fileInfo.name %}

{% block body %}

    <section>
        <div class="gap-0">

            <h1 class="leading-tight flex items-center">
                <span class="svg-icon svg-{{ document.fileInfo.sourceType }} mr-4  w-[32px] h-[32px] shrink-0" aria-hidden="true"></span>
                <span class="visually-hidden">{{ document.fileInfo.sourceType | trans() }}</span>
                {{ document.fileInfo.name }}
            </h1>

            <dl class="nota-bene text-lg">
                <div>
                    <dt class="visually-hidden">{{ "Published on" | trans() }}: </dt>
                    <dd><time datetime="{{ document.documentDate | date("Y-m-d") }}">{{ document.documentDate | format_date('long') }} {{ "at" | trans() }} {{ document.documentDate | format_time('short') }}</time></dd>
                </div>
                <div>
                    <dt>{{ "Document Number" | trans() }}:</dt>
                    <dd>{{ document.documentNr }}</dd>
                </div>
            </dl>

            {% include "document/snippets/notifications.html.twig" %}

            {# todo how to resolve parent?
            <p>{{ "Attachment of" | trans }} <a href="{{ path('app_document_detail', { dossierId: dossier.dossierNr, documentId: familyParent.documentNr }) }}"><i class="{{ familyParent.fileInfo.sourceType | sourceTypeIcon }}"></i> {{ familyParent.fileInfo.name }}</a></p>
            #}

            {% if ingested and document.fileInfo.isUploaded %}
                <a id="above-carousel"></a>
                <a href="#below-carousel" class="mt-8 skiplink-carousel-down">Sla document pagina voorvertoning over</a>

                {% if document.fileInfo.type == "pdf" and document.pageCount > 0 %}
                    <div class="pt-4 block w-full">
                        {% include "document/snippets/carousel.html.twig" %}
                    </div>
                {% endif %}

                {% if document.fileInfo.type == "audio" %}
                    <div class="pt-8">
                        <img
                            width="100%"
                            alt="{{ "Audio" | trans }}"
                            src="{{ path('app_document_thumbnail', { dossierId: dossier.dossierNr, documentId: document.documentNr, pageNr: 0}) }}"
                        />
                    </div>
                {% endif %}

                <a href="#above-carousel" class="skiplink-carousel-up">Sla document pagina voorvertoning over</a>
                <a id="below-carousel"></a>
            {% endif %}

            {% if not document.withdrawn and document.isUploaded and (document.fileInfo.size != "0") %}
            <div class="button-container pt-8">
                <a class="button button-pink" download href="{{ path('app_document_download', { dossierId: dossier.dossierNr, documentId: document.documentNr}) }}">
                    <span class="svg-icon svg-download w-[24px] h-[24px]" aria-hidden="true" ></span>
                    {{ "Download" | trans }} ({{ document.fileInfo.type|upper }} {{ document.fileInfo.size | size }})
                </a>
                {# <a class="button ghost" href="">{{ "View online (beta)" | trans() }}</a> #}
            </div>
            {% endif %}

            {% include "document/snippets/about.html.twig" %}

            {% if document.fileInfo.sourceType == constant('App\\SourceType::SOURCE_EMAIL') %}
                {% include "document/snippets/thread.html.twig" %}
                {% include "document/snippets/attachments.html.twig" %}
            {% else %}
                {% include "document/snippets/family.html.twig" %}
            {% endif %}

            {% include "document/snippets/background.html.twig" %}

            {#    {% if document.fileInfo.sourceType != constant('App\\SourceType::SOURCE_EMAIL') and document.familyId != document.documentId %} #}
            {#        <a class="btn" href="#">Link to the e-mail with this attachment</a> #}
            {#    {% endif %} #}

        </div>
    </section>
{% endblock %}
