{#
    document_ground displays a ground with a possible link pointing to more information.

    ground: a list of documents to display
#}
{% macro document_ground(ground) %}
    {% if get_citation_type(ground) == "woo" %}
        <a class="woo-a" href="https://wetten.overheid.nl/BWBR0045754/2022-08-01#Hoofdstuk5">{{ ground }} {{ ground|classification }}</a>
    {% elseif get_citation_type(ground) == "wob" %}
        <a class="woo-a" href="https://wetten.overheid.nl/BWBR0005252/2018-07-28#HoofdstukV">{{ ground }} {{ ground|classification }}</a>
    {% else %}
        {{ ground }}
    {% endif %}
{% endmacro %}

{#
    history_section displays a section with a title and a table of history

    history: a list of history to display
    titleTranslationKey: the translation key of the title
#}
{% macro history_section(history, titleTranslationKey) %}
     {% if history | length > 0 %}
        <div class="mt-16">
            <h2 class="woo-h2 woo-h2-spacing">{{ titleTranslationKey | trans }}</h2>

            <div class="woo-responsive-table" data-e2e-name="document-history">
                <table class="woo-table">
                    <caption class="sr-only">{{ titleTranslationKey | trans }}</caption>
                    <thead>
                        <tr>
                            <th class="w-64 min-w-64" scope="col">{{ 'global.date' | trans() }}</th>
                            <th class="min-w-64" scope="col">{{ "global.action" | trans() }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in history %}
                        {% set tr = history_trans(entry, "public") %}
                        {% if tr is not empty %}
                            <tr>
                                <td class="woo-table-cell-light">{{ entry.createdDt | format_datetime(pattern="d LLLL y H:mm") }}</td>
                                <td>
                                    {{ tr }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro document_refers_to(documents) %}
    {% for document in documents %}
        {% if loop.last and loop.index > 1 %}{{ "global.and" | trans }}{% elseif not loop.first %}, {% endif %} {{ _self.document_url(document) }}
    {% endfor %}
    {{
        "public.documents.refers_to" | trans({
            "{has_or_have}": "public.global.has_or_have" | trans({ 'count': documents | length })
        })
    }}
{% endmacro %}

{% macro document_url(document) %}
    <a class="woo-a" href="{{ path('app_document_detail', { prefix: document.dossiers.first.documentPrefix, dossierId: document.dossiers.first.dossierNr, documentId: document.documentNr }) }}">{{ document.fileInfo.name }}</a>
{% endmacro %}

{% macro withdrawn_and_suspended_count(withdrawnCount, suspendedCount) %}
    {% if withdrawnCount > 0 or suspendedCount > 0 %}
        {% set withdrawnText = 'public.inquiry.documents.of_which_withdrawn' | trans({ count: withdrawnCount }) %}
        {% set suspendedText = 'public.inquiry.documents.of_which_suspended' | trans({ count: suspendedCount }) %}
        <div class="text-woo-gray-700 pt-1">
            {% if withdrawnCount > 0 and suspendedCount > 0 %}
                <ul>
                    <li>
                        {{ withdrawnText }}
                    </li>
                    <li>
                        {{ suspendedText }}
                    </li>
                </ul>
            {% elseif withdrawnCount > 0 %}
                {{ withdrawnText }}
            {% elseif suspendedCount > 0 %}
                {{ suspendedText }}
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
