{#
Display facet with hyperlinks

    title: title of the section to display the facets in
    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
    count: the number of facet entries to display
#}
{% macro facet_links(title, facetKey, result) %}
    {% set facet = result.searchParameters.facetInputs.getByFacetKey(facetKey).facet %}
    {% set entries = result.aggregation(facet.key).entries|default([]) %}

    {% if entries | length > 0 %}
    <div class="border-b last:border-b-0 border-woo-chinese-silver pb-8 mb-8" id="{{ facetKey.value }}">
        <h2 class="woo-h3 sm:font-normal mb-6">{{ title }}</h2>

        <ul class="sm:columns-2 lg:columns-3 sm:gap-x-12">
            {% for entryIndex, entry in entries %}
            <li>
                {# parenthesis around searchkey are important, otherwise it will be used as a literal 'searchkey' value #}
                <twig:Public:ArrowedLink
                    to="{{ path('app_search', entry.queryParams) }}"
                    suffix="{{ entry.countWithoutSubEntries }}"
                >
                    {% set description = facet.description(entryIndex, entry.key) %}

                    {%- if description is not null -%}
                        <span class="font-bold">{{ entry.displayValue | trans }}</span> | {{ description | trans}}
                    {%- else -%}
                        {{ entry.displayValue | trans }}
                    {%- endif -%}
                </twig:Public:ArrowedLink>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}

{% macro facet_preview(title, facetKey, result, gotoPlural) %}
    {% set facet = result.searchParameters.facetInputs.getByFacetKey(facetKey).facet %}
    {% set allEntries = result.aggregation(facet.key).entries %}
    {% set numberOfAllEntries = allEntries | length %}
    {% set numberOfVisibleEntries = 6 %}
    {% set hasMoreEntries = numberOfAllEntries > numberOfVisibleEntries %}
    {% set visibleEntries = allEntries|default([])[:numberOfVisibleEntries] %}
    {% if visibleEntries | length > 0 %}
    <div class="pb-16" data-e2e-name="categories-{{ title }}">
        <div class="flex border-b border-woo-chinese-silver mb-2 pb-2">
            <h3 class="woo-h3 sm:font-normal grow mr-2">{{ title }}</h3>
            {% if hasMoreEntries and gotoPlural is not null %}
                <a class="woo-a no-underline" href="{{ path('app_browse') }}#{{ facetKey.value }}">
                    <twig:Public:Icon class="mr-1 relative -top-px" name="chevron-right" size="12" />
                    {{ 'categories.label.go_to_all_of_type' | trans({'count': numberOfAllEntries, 'type': gotoPlural}) }}
                </a>
            {% endif %}
        </div>

        <ul class="sm:columns-2 lg:columns-3 sm:gap-x-12">
            {% for entryIndex, entry in visibleEntries %}
            <li class="sm:py-2">
                {# parenthesis around searchkey are important, otherwise it will be used as a literal 'searchkey' value #}
                <twig:Public:ArrowedLink
                    to="{{ path('app_search', entry.queryParams) }}"
                    suffix="{{ entry.countWithoutSubEntries }}"
                >
                    {% set description = facet.description(entryIndex, entry.key) %}
                    {%- if description is not null -%}
                        <span class="font-bold">{{ entry.displayValue | trans }}</span> | {{ description | trans }}
                    {%- else -%}
                        {{ entry.displayValue | trans }}
                    {%- endif -%}
                </twig:Public:ArrowedLink>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}


{#
    Displays a single pill. Normally used by facet_pills macro, but can be called manually as well, for instance
    when displaying date range pills.
#}
{% macro facet_pill(searchParameters, facet, key, value) %}
    {% if facet.displayActiveSelection(key, value) %}
        {% set title = facet.title(key, value) | trans ~ ': ' ~ facet.displayValue(key, value) | trans %}
        <li class="mb-2" data-e2e-name="facet-pill">
            <a
                class="woo-badge js-active-filter-pill group"
                data-key="{{ facet.requestParameter }}[{% if not(key matches '/^\\d+$/') %}{{ key }}{% endif %}]"
                data-value="{{ value }}"
                href="{{ path('app_search', searchParameters.withoutFacetFilter(facet, key, value).queryParameters.all) }}"
            >
                <span class="sr-only">{{ 'public.search.filter_remove' | trans }}</span>
                <span class="group-hover:line-through group-focus:line-through">{{ title }}</span>
                <twig:Public:Icon class="ml-1" name="cross" size="16" />
            </a>
        </li>
    {% endif %}
{% endmacro %}

{#
    Displays pills based on the current request query parameters

    facetKey: the key of the facet to display (e.g. 'subject')
    result: the search result object where to fetch the facet/aggregations from
#}
{% macro facet_pills(facetKey, result) %}
    {% set facetInput = result.searchParameters.facetInputs.getByFacetKey(facetKey) %}
    {% for key, value in facetInput.requestParameters %}
        {{ _self.facet_pill(result.searchParameters, facetInput.facet, key, value) }}
    {% endfor %}
{% endmacro %}


{#
    facet_select displays a facet as a list of checkboxes (or radiobuttons)

    title: the title of the facet to display
    facetKey: the key of the facet to display (instance of FacetKey enum)
    result: the search result object where to fetch the facet/aggregations from
#}
{% macro facet_select(title, facetKey, result) %}
    {% set facetInput = result.searchParameters.facetInputs.getByFacetKey(facetKey) %}
    {% set facet = facetInput.facet %}
    {% set entries = result.aggregation(facet.key).entries|default([]) %}

    {% if entries|length > 0 %}
    <fieldset class="mt-4 js-filters-group" data-key="{{ facet.key.value }}">
        <legend class="w-full">
            <button
                aria-expanded="true"
                aria-controls="filters-group-{{ facet.key.value }}"
                class="woo-legend w-full text-left relative border-b border-woo-chinese-silver py-2 leading-5 js-toggle-filters-group-button"
                type="button"
            >
                {{ title }}
                <twig:Public:Icon class="absolute right-0 js-toggle-filters-group-button-icon" name="chevron-up-thin" />
            </button>
        </legend>

        {% set numberOfInitialEntries = 5 %}
        <div class="js-filters-group-collapsible" id="filters-group-{{ facet.key.value }}">
            {% for entry in entries[:numberOfInitialEntries] %}
                {{ _self.facet_entry(entry, facetInput) }}
            {% endfor %}

            {% if entries | length > numberOfInitialEntries %}
                <div class="js-filters-item-collapsible" id="filter-items-{{ facet.key.value }}">
                    {% for entry in entries[numberOfInitialEntries:] %}
                        {{ _self.facet_entry(entry, facetInput) }}
                    {% endfor %}
                </div>
                <button
                    aria-expanded="true"
                    aria-controls="filter-items-{{ facet.key.value }}"
                    class="text-woo-sea-blue text-sm w-full text-left py-2 js-toggle-filter-items-button no-js:hidden"
                    data-text-collapsed="{{ 'public.global.show_more' | trans }}"
                    data-text-expanded="{{ 'public.global.show_less' | trans }}"
                    type="button"
                >{{ 'public.global.show_more' | trans }}</button>
            {% endif %}

            <a href="#search-results" class="woo-skip-link text-sm text-left">
                {{ 'public.search.label.results' | trans }}
            </a>
        </div>
    </fieldset>
    {% endif %}
{% endmacro %}


{% macro facet_entry(entry, facetInput) %}
    <div class="woo-choice-row py-1">
        <span>
            <input
                class="woo-choice-input js-search-filter-checkbox"
                id="input_{{ entry.key|url_encode }}"
                type="checkbox"
                name="{{ facetInput.facet.requestParameter }}[]"
                value="{{ entry.key }}"
                {% if facetInput.contains(entry.key) %}checked{% endif %}
            >
        </span>
        <label class="grow cursor-pointer" for="input_{{ entry.key|url_encode }}">
            <span class="flex">
                <span class="grow mr-2 text-base leading-tight">{{ entry.displayValue | trans }}</span>
                <span class="woo-muted text-sm" data-e2e-name="{{ entry.key|url_encode }}_count">({{ entry.count }})</span>
            </span>
        </label>
    </div>
{% endmacro %}
