{% macro main_nav_anchor(route, isCurrentPage, title, iconName) %}
    <a class="woo-main-nav__anchor {{ route == path('app_home') ? 'woo-main-nav__anchor--home' : '' }}" href="{{ route }}" {% if isCurrentPage %}aria-current="page"{% endif %}  data-e2e-name="nav-{{ title }}">
        {%if iconName %}<twig:Public:Icon color="fill-current" class="woo-main-nav__icon" name="{{ iconName }}" size="22" />{% endif %}
        {{ title }}
    </a>
{% endmacro %}

{% macro main_nav_item(route, isCurrentPage, title, iconName) %}
    <li class="woo-main-nav__list-item">
        {{ _self.main_nav_anchor(route, isCurrentPage, title, iconName) }}
    </li>
{% endmacro %}
