<div class="search-decisions">

  {% embed 'components/collapsable-component.twig' with { open_label : 'Filters' | trans(), close_label : 'Close Filters' | trans(), toggle_classes : ['search-decisions__filter', 'secondary']} %}
    {% block collapsing %}
      {{ form_start(form) }}
      <div class="collapsing-element filters">
        <fieldset>
          <legend>{{ 'Organization' | trans() }}</legend>
          {{ form_widget(form.department) }}
        </fieldset>
        <fieldset>
          <legend>{{ 'Status' | trans() }}</legend>
          {{ form_widget(form.status) }}
        </fieldset>
        {{ form_widget(form.submit) }}
      </div>
      {{ form_end(form) }}
    {% endblock %}
  {% endembed %}

  <div class="search-decisions__keyword">
    <label class="visually-hidden" for="input-search-decisions">Voorbeeld text input</label>
    <input id="input-search-decisions" class="search-decisions__input" name="input-search-decisions"
           placeholder="{{ 'Zoeken op zaaknummer, dossier, documentnummer' | trans() }}" type="text">
    <span class="icon icon-search search-decisions__icon"></span>
  </div>
  <div id="search-suggestions" class="search-decisions__suggestions">

  </div>
</div>
