{% extends 'admin/base.html.twig' %}

{% set page_title = 'global.accessibility.page_title' | trans() %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <h1 class="bhr-title mb-4">{{ page_title }}</h1>

    <div class="bhr-card">
        <div class="bhr-content text-lg">
            <p>{{ 'admin.accessibility.paragraph-1' | trans() | raw }}</p>
            <p class="flex flex-col">
                <span>{{ 'admin.accessibility.statement' | trans() | raw }}</span>
                <span>{{ 'admin.accessibility.downloadreport' | trans() | raw }}</span>
            </p>

            <h2 class="font-bold">{{ 'global.accessibility.sub_title-1' | trans() }}</h2>
            <p>{{ 'admin.accessibility.paragraph-2' | trans() | raw  }}</p>

            <h2 class="font-bold">{{ 'global.accessibility.sub_title-2' | trans() }}</h2>
            <p>{{ 'global.accessibility.paragraph-3' | trans() }}</p>

            <ul>
                <li>{{ 'global.accessibility.bullet-1' | trans() }}</li>
                <li>{{ 'global.accessibility.bullet-2' | trans() }}</li>
                <li>{{ 'global.accessibility.bullet-3' | trans() }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
