{% extends 'admin.html.twig' %}

{% set page_title = "Accessibility" | trans() %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <h1 class="bhr-title mb-4">{{ "Accessibility" | trans() }}</h1>
    <div class="px-11">
        <div class="bhr-card">
            <div class="bhr-content text-lg">
                <p>
                    {{ "admin.accessibility.introduction" | trans() | raw }}
                </p>

                <p>
                    {{ "admin.accessibility.statement" | trans() | raw }}
                    <br />{{ "admin.accessibility.downloadreport" | trans() | raw }}
                </p>

                <h2 class="font-bold">{{ "accessibility.title.whatisaccessibility" | trans() }}</h2>
                <p>{{ "admin.accessibility.text.whatisaccessibility" | trans() | raw  }}</p>

                <h2 class="font-bold">{{ "accessibility.title.howtokeepaccessibility" | trans() }}</h2>
                <p>{{ "accessibility.text.guarantees" | trans() }}</p>

                <ul>
                    <li>{{ "accessibility.list.guarantees.bullet.01" | trans() }}</li>
                    <li>{{ "accessibility.list.guarantees.bullet.02" | trans() }}</li>
                    <li>{{ "accessibility.list.guarantees.bullet.03" | trans() }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
