{% extends 'admin.html.twig' %}

{% set page_title = "Contact us" %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <h1 class="bhr-title mb-4">{{ page_title|trans }}</h1>

    <div class="px-11">
        <div class="bhr-card">
            <div class="bhr-content text-lg">

                <h2 class="font-bold">{{ 'Question about how something works?'|trans }}</h2>
                <p>{{ 'Please contact your coordinator.'|trans }}</p>

                <h2 class="font-bold">{{ 'Question or comment for the developers?'|trans }}</h2>
                <p>{{ 'Are you encountering technical problems while using this website? Or do you have ideas that would make the system easier to use? Please let us know via woo-platform@irealisatie.nl.'|trans|raw }}</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
