{% extends 'admin/base.html.twig' %}

{% set page_title = 'global.contact_us' | trans() %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <h1 class="bhr-title mb-4">{{ page_title }}</h1>
    <div class="px-11">
        <div class="bhr-card">
            <div class="bhr-content text-lg">
                <h2 class="font-bold">{{ 'admin.global.questions' | trans() }}</h2>
                <p>{{ 'admin.global.contact_coordinator' | trans() }}</p>
                <h2 class="font-bold">{{ 'admin.global.contact_developer' | trans() }}</h2>
                <p>{{ 'admin.global.suggestions' | trans() | raw }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
