{% extends 'admin.html.twig' %}

{% block body %}
    <div class="woo-container">
        {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.html.twig' }) }}
        <h1 class="woo-title text-center mb-10">{{ document.fileInfo.name | trans() }}</h1>
        <div class="woo-card">

            <twig:LeftAndRight>
                <h2 class="woo-title">{{ document.documentNr }}</h2>

                <twig:block name="right">
                    {% if workflow.canReplace %}
                        <a href="{{ path('app_admin_document_replace', {dossierId: dossier.dossierNr, documentId: document.documentNr}) }}" class="woo-button woo-button--secondary">Document vervangen</a>
                    {% endif %}
                    {% if workflow.canRepublish %}
                        <a href="{{ path('app_admin_document_republish', {dossierId: dossier.dossierNr, documentId: document.documentNr}) }}" class="woo-button woo-button--secondary">Opnieuw publiceren</a>
                    {% endif %}
                    {% if workflow.canWithdraw %}
                        <a href="{{ path('app_admin_document_withdraw', {dossierId: dossier.dossierNr, documentId: document.documentNr}) }}" class="woo-button woo-button--secondary">Intrekken</a>
                    {% endif %}
                </twig:block>
            </twig:LeftAndRight>

            <table class="woo-table">
                <tbody>
                    <tr>
                        <td>Publicatiestatus</td>
                        <td>
                            {% if document.suspended %}
                                Suspended
                            {% elseif document.withdrawn %}
                                Ingetrokken
                            {% else %}
                                Gepubliceerd
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Documentnaam</td>
                        <td>{{ document.fileInfo.name }}</td>
                    </tr>
                    <tr>
                        <td>Publieke url</td>
                        <td>
                            {% if dossier.status == constant('\\App\\Entity\\Dossier::STATUS_PUBLISHED') %}
                                <a href="{{ path('app_document_detail', {dossierId: dossier.dossierNr, documentId: document.documentNr}) }}">{{ path('app_document_detail', {dossierId: dossier.dossierNr, documentId: document.documentNr}) }}</a>
                            {% else %}
                                Nog niet beschikbaar
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ document.judgement.value | trans }}</td>
                    </tr>
                    <tr>
                        <td>Gelakte gegevens</td>
                        <td>
                            {% if document.grounds | length > 0 %}
                                <ul>
                                    {% for ground in document.grounds %}
                                        <li>
                                            {{ ground }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Zaaknummers</td>
                        <td>
                            {% for inquiry in document.inquiries %}
                                {{ inquiry.caseNr }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>ThreadID</td>
                        <td>{{ document.threadId }}</td>
                    </tr>
                    <tr>
                        <td>Family</td>
                        <td>{{ document.familyId }}</td>
                    </tr>
                    <tr>
                        <td>Datum document</td>
                        <td>{{ document.documentDate | format_date('long') }}</td>
                    </tr>
                    <tr>
                        <td>Onderwerpen</td>
                        <td>
                            {% for subject in document.subjects %}
                                {{ subject }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Type download</td>
                        <td>
                            {% if document.isUploaded %}
                                {{ document.fileInfo.type | upper }}, {{ document.fileinfo.size | size }}
                            {% else %}
                                niet van toepassing
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Aantal pagina's</td>
                        <td>{{ document.pageCount }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="woo-card">
            <h2 class="woo-title">Geschiedenis</h2>
            <table class="woo-table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                {% for group in document.groupedIngestLogs %}
                <tbody>
                    <tr>
                        <td>{{ group.0.createdAt | date('Y-m-d H:i:s') }}</td>
                        <td>
                            {{ group.0.event }}:
                            {% for log in group %}
                                {% if log.success %}
                                    <i class="text-success fa fa-thumbs-up"></i>
                                {% else %}
                                    <i class="text-danger fa fa-thumbs-down"></i>
                                {% endif %}
                                {{ log.message }}
                                <br/>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
