{% extends 'admin.html.twig' %}

{% import "admin/macros/facet.html.twig" as macro %}

{% set page_title = 'admin.decisions.manage_details' | trans %}

{% block body %}
<div class="bhr-container">
    {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}

    <div class="bhr-card">
        {% set alerts = app.flashes('backend') %}
        {% if alerts | length > 0 %}
            <div class="mb-8">
                {% for messages in alerts %}
                    {% for label, message in messages %}
                        <twig:Admin:Alert type="{{ label }}">
                            <strong>{{ message }}</strong>
                        </twig:Admin:Alert>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {{ form(form) }}
    </div>
    <div class="bhr-card">
        <table class="bhr-table">
            <tbody>
                <tr>
                    <th class="bhr-row-head" scope="row">Status</th>
                    <td><twig:Admin:DossierStatusBadge status="{{ dossier.status }}" /></td>
                </tr>
                <tr>
                    <th class="bhr-row-head" scope="row">{{ 'global.organisation' | trans()}}</th>
                    <td>{{ dossier.organisation.name }}</td>
                </tr>
                <tr>
                    <th class="bhr-row-head" scope="row">{{ 'admin.dossiers.action.row.dossier_completed' | trans }}</th>
                    <td>{{ dossier.completed ? 'ja' : 'nee' }}</td>
                </tr>
                {% if dossier.uploadStatus is defined %}
                <tr>
                    <th class="bhr-row-head" scope="row">{{ 'admin.dossiers.action.row.expected_uploads' | trans }}</th>
                    <td>{{ dossier.uploadStatus.expectedUploadCount }}</td>
                </tr>
                <tr>
                    <th class="bhr-row-head" scope="row">{{ 'admin.dossiers.action.row.actual_uploads' | trans }}</th>
                    <td>{{ dossier.uploadStatus.actualUploadCount }}</td>
                </tr>
                <tr>
                    <th class="bhr-row-head" scope="row">{{ 'admin.dossiers.action.row.uploads_completed' | trans }}</th>
                    <td>{{ dossier.uploadStatus.complete  ? 'ja' : 'nee' }}</td>
                </tr>
                {% endif %}
                {% for step in workflowStatus.steps %}
                    <tr>
                        <th class="bhr-row-head" scope="row">{{ 'admin.dossiers.action.row.step_completed' | trans({'step': step.stepName.value}) }}</th>
                        <td>{{ step.completed ? 'ja' : 'nee' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
