{% extends 'admin.html.twig' %}

{% set page_title = "Modify organisation {name}" | trans({'{name}': organisation.name}) %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        <h1 class="bhr-title text-center mb-10">{{ page_title }}</h1>

        <div class="bhr-card">
            <div class="w-1/2">
                {{ form_start(organisationForm) }}
                {{ form_errors(organisationForm) }}

                {{ form_row(organisationForm.name) }}
                {{ form_row(organisationForm.department) }}

                <div class="my-8">
                    <fieldset>
                        <legend class="bhr-legend mb-0">
                            Prefixes
                        </legend>
                        <div id="js-widgets-container">
                            {# Let's print the CollectionType field that refers to the DocumentPrefixType class. #}
                            {% for widgetForm in organisationForm.documentPrefixes %}
                                <div class="bhr-widget flex items-center relative mb-4">
                                    {{ form_errors(widgetForm) }}
                                    {{ form_widget(widgetForm) }}
                                    <twig:Admin:ClearButton label="Invoer verwijderen" />
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <button type="button" id="js-add-widget" class="font-bold text-bhr-davys-grey">+ Nog een prefix toevoegen
                    </button>
                </div>

                {% do organisationForm.documentPrefixes.setRendered %}
                {{ form_row(organisationForm.submit) }}

                {{ form_end(organisationForm) }}
            </div>
            <div id="js-widget-prototype" class="hidden">
                <div class="bhr-widget flex items-center relative mb-4">
                    {{ form_widget(organisationForm.documentPrefixes.vars.prototype)|raw }}
                    <twig:Admin:ClearButton label="Invoer verwijderen" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
