<div class="w-1/2">
    {{ form_start(organisationForm) }}

    {{ form_row(organisationForm.name) }}

    <div {{ vue_component('GenericController', {
        componentName: 'MultiSelect',

        buttonText: 'Voeg een bestuursorgaan toe',
        buttonTextMultiple: 'Voeg nog een bestuursorgaan toe',
        label: 'Verantwoordelijke bestuursorganen',
        legend: 'Verantwoordelijke bestuursorganen',
        minLength: 1,
        name: 'organisation_form[departments]',
        options: departmentOptions,
        submitErrors: departmentsErrors,
        values: departmentValues,
    }) }}>
        <div class="min-h-14"></div>
    </div>
    {% do organisationForm.departments.setRendered %}

    <div class="my-8">
        {{ form_errors(organisationForm) }}
    </div>

     <div {{ vue_component('GenericController', {
        componentName: 'MultiText',

        buttonText: 'Voeg een prefix toe',
        buttonTextMultiple: 'Voeg nog een prefix toe',
        e2eName: 'add-prefix',
        immutableValues: prefixValues,
        label: 'Prefix',
        legend: 'Prefix',
        minChars: 5,
        minLength: 1,
        name: 'organisation_form[documentPrefixes][0][prefix]',
        submitErrors: prefixErrors,
    }) }}>
        <div class="min-h-14"></div>
    </div>

    {% do organisationForm.documentPrefixes.setRendered %}
    {{ form_row(organisationForm.submit) }}

    {{ form_end(organisationForm) }}
</div>