{% extends 'admin.html.twig' %}

{% set page_title = 'admin.organisation.manage' | trans() %}

{% block body %}
<div class="bhr-container">
    <twig:Admin:LeftAndRight>
        <h1 class="bhr-title">{{ page_title }}</h1>

        <twig:block name="right">
            {% if matrix_has_permission('organisation.create') %}
            <a class="bhr-button bhr-button--secondary" href="{{ path('app_admin_user_organisation_create') }}">{{ 'admin.organisation.create' | trans() }}</a>
            {% endif %}
        </twig:block>
    </twig:Admin:LeftAndRight>

    <div class="bhr-card">
        <table class="bhr-table">
            <thead>
                <tr>
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">{{ 'global.organisation' | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">{{ 'global.departments' | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray border-r-0" scope="col">{{ 'global.prefixes' | trans() }}</th>
                    <th class="bhr-column-head bhr-column-head--gray" scope="col">
                        <span class="sr-only">{{ 'admin.organisation.edit' | trans() }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for organisation in organisations %}
                    {% set url = path('app_admin_user_organisation_edit', { id: organisation.id }) %}
                    <tr class="bhr-clickable-row">
                        <td class="font-bold"><a class="bhr-fill-cell" href="{{ url }}">{{ organisation.name }}</a></td>
                        <td>
                            <a class="bhr-fill-cell" href="{{ url }}">
                                {% for department in organisation.departments %}
                                    {{ department.shortTag }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </a>
                        </td>
                        <td>
                            <a class="bhr-fill-cell" href="{{ url }}">
                                {% for prefix in organisation.documentPrefixes %}
                                    {{ prefix.prefix }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </a>
                        </td>
                        <td class="text-right">
                            <a class="bhr-fill-cell" href="{{ url }}">
                                <span class="sr-only">{{ 'global.details' | trans() }} {{ organisation.name }}</span>
                                <twig:Admin:Icon name="chevron-right" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
