{% if recents | length > 0 %}
    <h2 class="woo-h2 mb-4">{{ 'public.publications.recent_publications' | trans }}</h2>

    <ul>
        {% for recentDossier in recents %}
        <li>
            <a class="block py-4 group" href="{{ dossier_details_path(recentDossier.reference) }}">
                <h3 class="woo-h3 mb-1 text-woo-sea-blue group-hover:text-woo-ateneo-blue group-focus:text-woo-ateneo-blue group-hover:underline group-focus:underline group-visited:text-woo-plum!">{{ recentDossier.reference.title | default('public.dossiers.decision.no_title' | trans) }}</h3>
                <div>
                    <div class="font-bold">
                        {{ 'global.published_on' | trans }} <time datetime="{{ recentDossier.publicationDate | date("Y-m-d") }}">{{ recentDossier.publicationDate | format_date('long') }}</time>
                    </div>
                </div>
                <div>
                    {{ recentDossier.reference.type | trans }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% if hasLinkToAll ?? true %}
        <p class="mt-4"><twig:Public:ArrowedBoldLink to="{{ path('app_woodecision_index') }}">{{ 'public.dossiers.decision.all_decisions' | trans }}</twig:Public:ArrowedBoldLink></p>
    {% endif %}
{% endif %}
