<div class="mt-16">
    <h2 class="woo-h2 woo-h2-spacing">{{ 'public.dossiers.covenant.about' | trans() }}</h2>

    <div class="overflow-x-auto">
        <table class="woo-table">
            <caption class="sr-only">
                {{ 'public.dossiers.covenant.about' | trans() }}
            </caption>
            <tbody>
                <tr>
                    <th class="woo-table-cell-light w-64 min-w-64" scope="row">{{ 'public.dossiers.covenant.parties' | trans() }}</th>
                    <td>
                        {% for party in dossier.entity.parties %}
                            <p>{{ party }}</p>
                        {% endfor %}
                    </td>
                </tr>
                {% if period(dossier.entity.dateFrom, dossier.entity.dateTo) %}
                <tr>
                    <th class="woo-table-cell-light" scope="row">
                        {{ 'global.period' | trans() }}
                    </th>
                    <td data-e2e-name="dossier-metadata-period">
                        {{ period(dossier.entity.dateFrom, dossier.entity.dateTo) }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th class="woo-table-cell-light" scope="row">
                        {{ 'public.dossiers.type' | trans() }}
                    </th>
                    <td>
                        <p>{{ dossier.entity.type | trans() | capitalize}}</p>
                    </td>
                </tr>
                {% if dossier.entity.previousVersionLink is not empty %}
                <tr>
                    <th class="woo-table-cell-light" scope="row">
                        {{ 'public.dossiers.covenant.previous_version' | trans() }}
                    </th>
                    <td>
                        <a class="woo-a" href="{{ dossier.entity.previousVersionLink }}">{{ dossier.entity.previousVersionLink }}</a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
