{% extends 'base.html.twig' %}

{% set page_title = "Document details" | trans() %}

{% block body %}
    <section>
        <div>

            <h1>{{ "Document details" | trans() }}</h1>

            <section id="document_details" class="mb-5">
                <div class="card mb-3">
                    <div class="card-header">
                        <a href="#" class="button float-end"><i class="fa fa-download"></i> {{ "Download" | trans() }} ({{ document.fileInfo.size | size }}
                            ) </a>
                    </div>
                    <div class="card-body bg-light">
                        <table>
                            <caption class="visually-hidden">{{ "Document details" | trans() }}</caption>

                            <tr>
                                <td>{{ "Document ID" | trans() }}</td>
                                <td>{{ document.documentNr }}</td>
                            </tr>
                            <tr>
                                <td>{{ "Document title" | trans() }}</td>
                                <td>{{ document.fileInfo.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ "Document type" | trans() }}</td>
                                <td>{{ document.fileInfo.sourceType | trans() }}</td>
                            </tr>
                            <tr>
                                <td>{{ "Document size" | trans() }}</td>
                                <td>{{ document.fileInfo.size | size }}</td>
                            </tr>
                            <tr>
                                <td>{{ "Document pages" | trans() }}</td>
                                <td>{{ document.pageCount }}</td>
                            </tr>
                            <tr>
                                <td>{{ "Document date" | trans() }}</td>
                                <td>
                                    <time datetime="{{ document.documentDate | date("Y-m-d") }}">{{ document.documentDate | format_date('long') }}</time>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ "Withdrawn" | trans() }}</td>
                                <td>{{ document.withdrawn ? 'ja' : 'nee' }}</td>
                            </tr>
                            <tr>
                                <td>{{ "Public link" | trans() }}</td>
                                <td><a href="{{ path('app_document_detail', { 'dossierId': dossier.dossierNr, 'documentId': document.documentNr }) }}">open</a></td>
                            </tr>
                        </table>

                        {% if not document.withdrawn %}
                            <a href="{{ path('app_admin_dossier_document_withdraw', { 'dossierId': dossier.dossierNr, 'documentId': document.documentNr }) }}">Intrekken</a>
                        {% endif %}

                        {{ form(removeForm) }}
                        {{ form(ingestForm) }}
                    </div>
                </div>
            </section>


            <section id="ingest_history" class="mb-5">
                <table class="table table-condensed table-striped table-bordered table-hover table-">
                    <caption class="visually-hidden">{{ "Ingest history log" | trans() }}</caption>

                    <thead>
                    <tr>
                        <th>{{ "Timestamp" | trans() }}</th>
                        <th>{{ "Event" | trans() }}</th>
                        <th>{{ "Message" | trans() }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for group in document.groupedIngestLogs %}
                        <tr>
                            <td>{{ group.0.createdAt | date('Y-m-d H:i:s') }}</td>
                            <td>{{ group.0.event }}</td>
                            <td>
                                {% for log in group %}
                                    {% if log.success %}
                                        <i class="text-success fa fa-thumbs-up"></i>
                                    {% else %}
                                        <i class="text-danger fa fa-thumbs-down"></i>
                                    {% endif %}
                                    {{ log.message }}
                                    <span class="float-end">[{{ log.diff }}]</span>
                                    <br>
                                {% endfor %}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan=3 class="text-center">{{ "No ingest history found" | trans() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>

        </div>
    </section>

{% endblock %}
