{% extends 'admin.html.twig' %}

{% set page_title = "Modify dossier" | trans() ~ ' ' ~ dossier.dossierNr %}

{% block body %}
<main>
    <section class="content">
        <div>

            <h1>{{ "Modify dossier" | trans() }} {{ dossier.dossierNr }}</h1>

            <h5>{{ "Dossier settings" | trans() }}</h5>
            {{ form(form) }}

            <div class="column-3">
                <div>

                    <h4>{{ "Dossier Status" | trans() }}</h4>
                    {{ form(stateForm) }}

                </div>
                <div>

                    <h4>{{ "Remove dossier" | trans() }}</h4>
                    <p>{{ "Warning: this will remove the dossier AND all documents that are only linked to this dossier!" | trans() }}</p>
                    {{ form(removeForm) }}

                </div>
                <div>

                    <h4>{{ "Ingest dossier" | trans() }}</h4>
                    <p>{{ "This will ingest the current dossier's documents into the search engine." | trans() }}</p>
                    {{ form(ingestForm) }}

                </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}
