{% extends 'admin.html.twig' %}

{% set page_title = "All dossiers" | trans() %}

{% block page_title %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block actions %}
<div class="secondary new-dossier">
    <a href="{{ path('app_admin_dossier_new') }}" class="button">{{ "Create new dossier" | trans() }}</a>
</div>
{% endblock %}

{% block body %}
    <main class="admin-decisions">
        <section class="content">

            {% include 'components/document-search.twig' with {
                'form': form,
            } %}

            <table class="table table-striped decisions">
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Status' | trans(), 'd.status', {}, {}, 'search/sortable-link.html.twig') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Published date' | trans(), 'd.publicationDate', {}, {}, 'search/sortable-link.html.twig') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Org & reference' | trans(), 'd.dossierNr', {}, {}, 'search/sortable-link.html.twig') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Decision about...' | trans(), 'd.title', {}, {}, 'search/sortable-link.html.twig') }}</th>
                    <th>{{ "Case number" | trans() }}</th>
                    <th>
                        <span class="visually-hidden">{{ 'Edit dossier'| trans() }}</span>
                    </th>
                </tr>

                {% for dossier in pagination %}
                    <tr>
                        <td>{{ status_badge(dossier.status) }}</td>
                        <td nowrap>{{ dossier.publicationDate  is empty ? "" : dossier.publicationDate|date('Y-m-d') }}</td>
                        <td>{{ dossier.documentPrefix }} / {{ dossier.dossierNr }}</td>
                        <td>{{ dossier.title }}</td>
                        <td>
                            <span
                                class="decision__case-number">
                                {% set case_numbers = [] %}
                                {%- for inquiry in dossier.inquiries -%}
                                    {% set case_numbers = case_numbers|merge([inquiry.casenr]) %}
                                {%- endfor -%}
                                {{ case_numbers|join(', ') }}
                            </span>
                        </td>
                        <td>
                            <a class="decision__detail-link {% if dossier.documents|length == 0 %}{{ "disabled" | trans() }}{% endif %}"
                               data-testid="action_documents_{{ dossier.dossierNr }}"
                               href="{{ path('app_admin_dossier', {dossierId: dossier.dossierNr}) }}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        </section>
    </main>
{% endblock %}
