{% extends 'admin.html.twig' %}

{% set page_title = "Create new dossier" | trans %}

{% block body %}
<div class="woo-container woo-container--sm">
    <h1 class="woo-title text-center mb-10">{{ page_title }}</h1>

    {% embed 'components/admin-steps.html.twig' with {active: 1} %}
    {% endembed %}

    <div class="woo-card">
        <h2 class="woo-label">{{ 'Subject of decision'|trans() }}</h2>

        <p class="text-lg mb-2">{{ 'Keep it short and be specific. So do not use unnecessary prepositions, articles and self-evident substantive words such as Woo, conclusion, etc.'|trans() }}</p>

        <ul class="mb-2">
            <li class="py-1">
                <twig:Icon name="close" color="fill-maximum-red" css="mr-2" />
                {{ 'Woo partial decision regarding Consultation VWS about the period June 2020'|trans() }}
            </li>
            <li class="py-1">
                <twig:Icon name="check" color="fill-philippine-green" css="mr-2" />
                {{ 'Documents consultation VWS June 2020'|trans() }}
            </li>
        </ul>

        {{ form(form) }}
    </div>
</div>
{% endblock %}
