{% set hasDossiers = dossiers | default | length > 0 %}

{% if hasDossiers %}
    <h2 class="bhr-title mb-2" id="search-results-dossiers">{{ 'admin.global.label.publications' | trans }}</h2>

    <table class="bhr-table" aria-labelledby="search-results-dossiers">
        <thead class="sr-only">
            <tr>
                <th scope="col">{{ 'global.decision.dossier_number' | trans() }}</th>
                <th scope="col">{{ 'global.title' | trans() }}</th>
                <th scope="col">{{ 'global.more' | trans() }}</th>
            </tr>
        </thead>
        <tbody>
            {% for dossier in dossiers %}
                {% set url = path('app_admin_dossier', {'prefix': dossier.documentPrefix, 'dossierId': dossier.dossierNr}) %}
                <tr class="bhr-clickable-row" data-e2e-name="search-previews-result">
                    <td class="w-48">
                        <a class="bhr-fill-cell" href="{{ url }}">
                            {{ dossier.dossierNr }}
                        </a>
                    </td>
                    <td>
                        <a class="bhr-fill-cell" href="{{ url }}">
                            {{ dossier.title }}
                        </a>
                    </td>
                    <td class="text-right">
                        <a class="bhr-fill-cell" href="{{ url }}">
                            <span class="sr-only">{{ 'global.details' | trans() }} {{ dossier.dossierNr }}</span>
                            <twig:Admin:Icon name="chevron-right" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if documents | length > 0 %}
    <h2 class="bhr-title mb-2{% if hasDossiers %} mt-6{% endif %}" id="search-results-documents">{{ 'global.documents' | trans }}</h2>

    <table class="bhr-table" aria-labelledby="search-results-documents">
        <thead class="sr-only">
            <tr>
                <th scope="col">{{ 'global.document_number' | trans() }}</th>
                <th scope="col">{{ 'global.title' | trans() }}</th>
                <th scope="col">{{ 'global.more' | trans() }}</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                {% set url = path('app_admin_dossier_woodecision_document', {prefix: document.dossiers.first.documentPrefix, dossierId: document.dossiers.first.dossierNr, documentId: document.documentNr}) %}
                <tr class="bhr-clickable-row" data-e2e-name="search-previews-result">
                    <td class="w-48">
                        <a class="bhr-fill-cell" href="{{ url }}">
                            {{ document.documentNr }}
                        </a>
                    </td>
                    <td>
                        <a class="bhr-fill-cell" href="{{ url }}">
                            {{ document.fileInfo.name }}
                        </a>
                    </td>
                    <td class="text-right">
                        <a class="bhr-fill-cell" href="{{ url }}">
                            <span class="sr-only">{{ 'global.details' | trans() }} {{ document.documentNr }}</span>
                            <twig:Admin:Icon name="chevron-right" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
