{% set hasDossiers = dossiers | default | length > 0 %}

{% if hasDossiers %}
    <h2 class="bhr-title mb-2" id="search-results-dossiers">{{ "Dossiers" | trans }}</h2>

    <table class="bhr-table" aria-labelledby="search-results-dossiers">
        <thead class="sr-only">
            <tr>
                <th scope="col">{{ "Dossier number" | trans() }}</th>
                <th scope="col">{{ "Title" | trans() }}</th>
                <th scope="col">{{ "More..." | trans() }}</th>
            </tr>
        </thead>
        <tbody>
            {% for dossier in dossiers %}
            <tr>
                <td class="w-48" tabindex="-1">{{ dossier.dossierNr }}</td>
                <td tabindex="-1">{{ dossier.title }}</td>
                <td class="text-right">
                    <a
                        class="js-clickable-row__focusable"
                        href="{{ path('app_admin_dossier', {'dossierId': dossier.dossierNr}) }}"
                        tabindex="-1"
                    >
                        <span class="sr-only">Details {{ dossier.dossierNr }}</span>
                        <twig:Admin:Icon name="chevron-right" />
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if documents | length > 0 %}
    <h2 class="bhr-title mb-2{% if hasDossiers %} mt-6{% endif %}" id="search-results-documents">{{ "Documents" | trans }}</h2>

    <table class="bhr-table" aria-labelledby="search-results-documents">
        <thead class="sr-only">
            <tr>
                <th scope="col">{{ "Document number" | trans() }}</th>
                <th scope="col">{{ "Title" | trans() }}</th>
                <th scope="col">{{ "More..." | trans() }}</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td class="w-48" tabindex="-1">{{ document.documentNr }}</td>
                <td tabindex="-1">{{ document.fileInfo.name }}</td>
                <td class="text-right">
                    <a
                        class="js-clickable-row__focusable"
                        href="{{ path('app_admin_document', {dossierId: document.dossiers.first.dossierNr, documentId: document.documentNr}) }}"
                        tabindex="-1"
                    >
                        <span class="sr-only">Details {{ document.documentNr }}</span>
                        <twig:Admin:Icon name="chevron-right" />
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
