{% if documentCount.total > 0 %}
<div class="mt-16" data-e2e-name="inquiry-documents">
    <h2 class="woo-h2 woo-h2-spacing" id="documenten">{{ 'global.documents' | trans }}</h2>

    {% form_theme form 'public/layout/form_theme.html.twig' %}
    {{ form_start(form, { 'attr' : { 'class': 'js-auto-submit-form p-0' }}) }}
        <h3 class="sr-only">{{ 'global.documents.filter_help' | trans }}</h3>
    {{ form_end(form) }}

    <div class="pt-4">
        <twig:Public:DownloadFilesForm
            action="{{ downloadUrl }}"
            canDownload="0"
            searchUrl="{{ searchUrl }}"
        />
    </div>

    <twig:Public:Publication:WooDecision:DocumentTabs
        alreadyPublicDocuments="{{ already_public_docs }}"
        publicDocuments="{{ public_docs }}"
        notOnlineDocuments="{{ not_online_docs }}"
        notPublicDocuments="{{ not_public_docs }}"
    />
</div>
{% endif %}
