    {% if dossiers.count > 0 %}
        <twig:Public:Publication:SearchForm url="{{ searchUrl | raw }}" />

        <div class="woo-responsive-table" data-e2e-name="inquiry-dossiers">
            <table class="woo-table">
                <thead>
                    <tr>
                        <th class="min-w-64" scope="col">{{ 'global.decision' | trans }}</th>
                        <th class="min-w-64" scope="col">{{ 'global.documents' | trans }}</th>
                        {%  if sortable | default(false) %}
                            {{ knp_pagination_sortable(dossiers, 'global.decision_date' | trans, 'dos.decisionDate', { thClassName: "min-w-64 text-right!" }) }}
                        {% else %}
                            <th class="min-w-64 text-right!" scope="col">{{ 'global.decision_date' | trans }}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for data in dossiers %}
                    {% set dossier = data[0] %}
                    {% set dossierUrl = path('app_inquiry_dossier', {token: inquiry.token, prefix: dossier.documentPrefix, dossierId: dossier.dossierNr}) %}
                    <tr>
                        <td><a class="woo-a" href="{{ dossierUrl }}">{{ dossier.title }}</a></td>
                        <td><a class="woo-a" href="{{ dossierUrl }}">{{ 'public.inquiry.documents_in_dossier' | trans({count: data.docCount}) }}</a></td>
                        <td class="text-right">{{ dossier.decisionDate | format_date('long') }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {%  if pagination | default(false) %}
            <div class="pt-6">
                {{ knp_pagination_render(dossiers) }}
            </div>
        {% elseif dossierCount | default(0) > maxDossiersPerPage %}
            <p class="pt-6">
                <a class="woo-btn-filled-primary" href="{{ path('app_inquiry_dossiers', {token: inquiry.token}) }}" data-e2e-name="view-all-dossiers">
                    {{ 'public.inquiry.view_all_dossiers' | trans({'{count}': dossierCount}) }}

                    <twig:Public:Icon name="chevron-right" class="woo-btn__icon-right" size="16" />
                </a>
            </p>
        {% endif %}
    {% else %}
        <p>{{ 'public.dossiers.no_dossiers' | trans }}</p>
    {% endif %}

