{% extends 'admin.html.twig' %}
{% import "admin/document_macros.html.twig" as macro %}

{% block body %}
    <div class="bhr-container bhr-container--sm">

        {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}

        <div class="px-11">
            <div class="bhr-card">
                <twig:Admin:LeftAndRight>
                    <h2 class="bhr-title">{{ document.documentNr }}</h2>

                    <twig:block name="right">
                        {% if workflow.canReplace %}
                            <a href="{{ path('app_admin_dossier_woodecision_document_replace', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, documentId: document.documentNr}) }}" class="bhr-button bhr-button--secondary">Document vervangen</a>
                        {% endif %}
                        {% if workflow.canWithdraw %}
                            <a href="{{ path('app_admin_dossier_woodecision_document_withdraw', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, documentId: document.documentNr}) }}" class="bhr-button bhr-button--secondary {% if workflow.canReplace %}ml-4{% endif %}">Intrekken</a>
                        {% endif %}
                    </twig:block>
                </twig:Admin:LeftAndRight>

                <table class="bhr-table">
                    <tbody>
                        <tr>
                            <th class="bhr-row-head" scope="row">Publicatiestatus</th>
                            <td>
                                {% if document.suspended %}
                                    <span class="bhr-badge bhr-badge--red">{{ 'admin.publications.status.suspended' | trans }}</span>
                                {% elseif document.withdrawn %}
                                    <span class="bhr-badge bhr-badge--red">{{ 'admin.publications.status.withdrawn' | trans }}</span>
                                {% else %}
                                    <span class="bhr-badge bhr-badge--green">Gepubliceerd</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Documentnaam</th>
                            <td class="font-bold">{{ document.fileInfo.name }}</td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Publieke url</th>
                            <td>
                                {% if dossier.status.isPublished %}
                                    {% set url = PUBLIC_BASE_URL ~ path('app_document_detail', {prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, documentId: document.documentNr}) %}
                                    <a class="bhr-a" href="{{ url }}">{{ url }}</a>
                                {% else %}
                                    Nog niet beschikbaar
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Status</th>
                            <td>{{ document.judgement | trans }}</td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Gelakte gegevens</th>
                            <td>
                                {% if document.grounds | length > 0 %}
                                    <ul>
                                        {% for ground in document.grounds %}
                                            <li>
                                                {{ ground }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Zaaknummers</th>
                            <td>
                                {% for inquiry in document.inquiries %}
                                    {{ inquiry.caseNr }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">ThreadID</th>
                            <td>{{ document.threadId }}</td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Family</th>
                            <td>{{ document.familyId }}</td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Datum document</th>
                            <td>
                                {% if document.documentDate is not null %}
                                    {{ document.documentDate | format_date('long') }} {{ document.documentDate | format_time('short') }}
                                {% else %}
                                    {{ 'global.not_available' | trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Onderwerpen</th>
                            <td>
                                {% for subject in document.subjects %}
                                    {{ subject }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Type download</th>
                            <td>
                                {% if document.isUploaded %}
                                    {{ document.fileInfo.type | upper }}, {{ document.fileinfo.size | size }}
                                {% else %}
                                    niet van toepassing
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bhr-row-head" scope="row">Aantal pagina's</th>
                            <td>{{ document.pageCount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {{ macro.history_section(get_backend_history('document', document.id), 'public.documents.document_history') }}
        </div>
    </div>
{% endblock %}
