{% extends 'base.html.twig' %}

{% set page_title = "Modify token %token%" | trans({'%token%': token.id.toBase58}) %}

{% block body %}

    <section>
        <div>
            <h1>{{ "Modify token %token%" | trans({'%token%': token.id.toBase58}) }}</h1>

            <table class="table mt-5 mb-5">
                <tr>
                    <th>{{ "Token" | trans() }}</th>
                    <td>{{ token.id.toBase58 }}</td>
                </tr>
                <tr>
                    <th>{{ "Expiry" | trans() }}</th>
                    <td>{{ token.expiryDate|date('Y-m-d H:i:s') }}</td>
                </tr>
            </table>

            {{ form(form) }}

        </div>
    </section>s

{% endblock %}
