{% extends 'base.html.twig' %}

{% set page_title = "Token management" | trans() %}

{% block body %}
    <section>
        <div>

            <h1>{{ "Token management" | trans() }}</h1>

            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>{{ "Status" | trans() }}</th>
                    <th>{{ "Token" | trans() }}</th>
                    <th>{{ "Dossier" | trans() }}</th>
                    <th>{{ "Title" | trans() }}</th>
                    <th>{{ "Remark" | trans() }}</th>
                    <th>{{ "Options" | trans() }}</th>
                </tr>

                {% for token in tokens %}
                    <tr>
                        <td>
                            {% if token.expired %}
                                <span class="badge badge-pill text-bg-danger">{{ "Expired" | trans() }}</span>
                            {% else %}
                                <span class="badge badge-pill text-bg-success">{{ "Valid" | trans() }}</span>
                            {% endif %}
                        </td>
                        <td>{{ token.id.toBase58 }}</td>
                        <td>{{ token.dossier.dossierNr }}</td>
                        <td>{{ token.dossier.title }}</td>
                        <td>{{ token.remark }}</td>
                        <td><a href="{{ path('app_admin_token_edit', { id: token.id.toBase58 }) }}" class="button">{{ "Edit" | trans() }}</a></td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('app_admin_token_new') }}" class="button">{{ "New token" | trans() }}</a>

        </div>
    </section>

{% endblock %}
