<div class="min-h-[333px]">
    <div class="woo-carousel" role="region" aria-label="{{ 'public.documents.viewer.document_preview' | trans }}">
        <ol class="woo-carousel__list">
        {% for page in range(1, document.entity.pageCount) %}
            <li>
                {% if has_thumbnail(document.entity, page) %}
                    <a class="woo-carousel__a" href="{{ path('app_document_download', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, documentId: document.entity.documentNr}) }}#page={{page}}">
                        <img
                            alt="{{ 'global.page' | trans }} {{ page }}"
                            class="woo-carousel__img"
                            height="285"
                            loading="lazy"
                            src="{{ path('app_document_thumbnail', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, documentId: document.entity.documentNr, pageNr: page}) }}"
                            width="204"
                        />
                        <span class="sr-only">{{ 'public.inquiries.document.open_or_download' | trans({ fileInfo: document.entity.fileInfo.type|upper, fileSize: document.entity.fileInfo.size != '0' ? document.entity.fileInfo.size | size : ""  }) }} {{ page }}</span>
                    </a>
                {% else %}
                 <div class="woo-carousel__a">
                    <img
                        alt="{{ 'public.documents.viewer.page_not_yet_processed' | trans }}"
                        class="woo-carousel__img shadow-none"
                        src="{{ path('app_document_thumbnail', { prefix: dossier.documentPrefix, dossierId: dossier.dossierNr, documentId: document.entity.documentNr, pageNr: page}) }}"
                        width="204"
                        height="285"
                    />
                </div>
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>
</div>
