{% import "document_macros.html.twig" as macro %}

{% if document.withdrawn %}
<div class="block pt-8 w-full">
    <div class="warning">
        <div class="width-delimiter block">
            <h2 class="visually-hidden">{{ "Withdrawn" | trans() }}</h2>
            <p>
                <span></span>
                {{
                    "Document withdrawn" | trans({
                        '{date}': document.withdrawDate | format_date('long'),
                        '{reason}': document.withdrawReason.name | trans(),
                    })
                }}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if document.suspended %}
<div class="block pt-8 w-full">
    <div class="warning">
        <div class="width-delimiter block">
            <h2 class="visually-hidden">{{ "Suspended" | trans() }}</h2>
            <p>
                <span></span>
                {{ "Document suspended" | trans }}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if document.judgement.value is defined and document.judgement.value is same as ('not_public') %}
<div class="block pt-8 w-full">
    <div class="notification notification--info">
        <div class="width-delimiter block">
            <h2 class="visually-hidden">{{ "Not public" | trans() }}</h2>
            <p>{{
                "Document determined to be not public" | trans({
                    '{dossier_type}': dossier.publicationReason | trans(),
                    '{department}': dossier.departments.first.name,
                })
            }}</p>

            {% if document.grounds | length > 0 %}
                <p class="mt-6">{{ "Reasons are" | trans({'count': document.grounds | length }) }}:</p>
                <ul>
                    {% for ground in document.grounds %}
                        <li class="p-0">
                            {{ macro.document_ground(ground) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% if document.judgement.value is defined and document.judgement.value is same as ('already_public') %}
<div class="block pt-8 w-full">
    <div class="notification notification--info">
        <div class="width-delimiter block">
            <h2 class="visually-hidden">{{ "Public" | trans() }}</h2>
            <p>
                {{ "Document already public" | trans }}
                {% if document.link is defined and document.link %}
                    {{ "You can find this content at" | trans }}
                    <a href="{{document.link}}">{{ document.link }}</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if document.isUploaded and not ingested %}
    <div class="warning">
        <div class="width-delimiter block">
            <h2 class="visually-hidden">{{ "Not yet processed" | trans() }}</h2>
            <p>
                <span>{{ "Warning" | trans }}:</span>
                {{ "This document is not yet processed. It is not possible to view individual pages, but you can download the complete document." | trans }}
            </p>
        </div>
    </div>
{% endif %}
