{% if thread|length > 0%}

<section>
    <h2>{{ "Messages from the same e-mail conversation" | trans }}</h2>

    <table>
        <caption class="visually-hidden">
            {{ "Messages from the same e-mail conversation" | trans }}
        </caption>
        <tbody>
        {% for doc in thread %}
            <tr>
                <th class="w-2/5 lg:w-1/4" scope="row">{{ doc.documentId }}</th>
                <td>
                    {% if doc.documentNr == document.documentNr %}
                        {{ doc.fileInfo.name }}
                    {% else %}
                        <a href="{{ path('app_document_detail', { dossierId: dossier.dossierNr, documentId: doc.documentNr }) }}"> {{ doc.fileInfo.name }}</a>
                    {% endif %}
                </td>
                <td class="text-right">
                    <time datetime="{{ doc.documentDate | date("Y-m-d") }}">{{ doc.documentDate | format_date('long') }}</time>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endif %}
